
.main {
  display: block;
  width: 0px;
  height: 0px;
  margin: 0px;
  padding: 0px;
}

.gameboard {
  background-image: url("/scotland/img/gameboard-large.jpg");
  width: 5135px;
  height: 3829px;
}

.hud-menu {
  width: 300px;
}
.hud-controls {
 display: none;
}

.pawn {
  width: 75px;
  top: -55px;
  position: relative;
  background-color: yellow;
}

.location {
 position: absolute;
 opacity: 0.6;
 height: 75px;
 width: 75px;
 top: 120px;
 left: 570px;
}

@media only screen and (min-width: 750px) {
}

@media only screen and (orientation: portrait) and (max-width: 750px) {
}

@media only screen and (orientation: portrait) and (max-height: 700px) {
}

@media only screen and (orientation: landscape) and (max-height: 700px) {
}

@media (min-width: 481px) and (max-width: 850px) and (max-height: 500px) {
}



