body {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
}


/*** increase cardbox default size ***/
.game-cardbox {
  top: 4vh;
  height: 72vh;
  width: calc(72vh * 0.730);
}

.cardbox-card {
  height: 72vh;
  width: calc(72vh * 0.730);
}




li.card {
  height: 100px;
}
.strategy_card.cardimg {
  width: 100%;
  height: 100%;
}

.cardlist-container {
  width: 80vw;
  height: 80vh;
  overflow-y: scroll;
}
.cardlist-card {
  width: 18vw;
  height: auto;
  margin-left: 10px;
  margin-bottom: 10px;
  float: left;
}
.cardlist-card .cardimg {
  position: relative;
  float: left;
  height: auto;
  width: 100%;
}

.logcard {
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px dashed;
}


.flag {
 position: absolute;
 height: 60px;
 width: 60px;
}

.cardimg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.defcon_disc_us {
  position: absolute;
  z-index: 9;
}
.defcon_disc_ussr {
  position: relative;
  top: 10px;
  left: 4px;
  z-index: 10;
}


.prestige_slot {
  position: absolute;
}
.round_slot {
  position: absolute;
}
.agenda_deck {
  position: absolute;
  background-image: url("/thirteen/img/Agenda Card-Backb.png");
  top: 830px;
  left: 2068px;
}
.strategy_deck {
  position: absolute;
  background-image: url("/thirteen/img/Strategy Card-Backb.png");
  top: 1360px;
  left: 465px;
}

.agenda_card {
  width: 20vw;
  height: 28vw;
}


.country {
  width:100px;
  height:100px;
}
.us {
  float:left;
}
.ussr {
  float:right;
}
.defcon_track_slot {
  background_color: blue;
  width: 60px;
  height: 60px;
  position: absolute;
}


.round_slot {
  position: absolute;
  height: 50px;
  width: 50px;
}

.main {
  display: grid;
  width: 100vw;
  height: 100vh;
  overflow: scroll;

  margin-top: unset;
}


/** Modal **/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal_header {
  padding: 2px 16px;
  color: white;
}

.modal_body {padding: 2px 16px; color: white;}

#modal_header_text {
  margin-top: 1em;
  margin-bottom: 0.25em;
  text-decoration: center;
}

#modal_body_text { margin: 1em 0 1em 0; }

.modal_footer {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 2px 16px;
  color: white;
}

.modal_ok_button {
  float: right;
  padding: 12px;
  border-radius: 7px;
  margin: 10px;
  font-size: 1em;
  color: white;
  border: unset;
  color:white;
  width: 125px;
  background-color: rgb(0, 190, 10);
}

.modal_content {
  position: absolute;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 33%;
  min-width: 250px;
  max-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  background: #4e4e4e;
  border-radius: 5px;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/** DEFAULTS DONE**/


.connection_monitor {
  position: fixed;
  display: none;
  min-height: 30px;
  z-index: 90000;
  background: #ef6666;
  font-size: 1.8em;
  padding: 15px;
}

.link {
  border-bottom: 1px dashed;
}

.dashed {
  border-bottom: 1px dashed;
}

.logcard {
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px dashed;
}

.gameboard {
  position: relative;
  background-image: url("/thirteen/img/game map - large.jpg");
  background-size: cover;
  width: 2450px;
  height: 1800px;
}

.inline {
  display: inline;
}

.card {
  cursor: pointer;
  height: 205px;
  width: 150px;
}

.link {
  display: inline;
  text-decoration: underline;
  cursor: pointer;
}

.country {
  position: absolute;
  cursor: pointer;
}





/*** makes cards smaller in hud ***/
.cardbox-hud .agenda_card {
  width:131px;
  height: 180px;
}


