/*----------------------------------------------------------------------------*/
/* prettyPrint
/*----------------------------------------------------------------------------*/
.pln {
  color: #c5c8c6;
***REMOVED***
@media screen {
  .str {
    color: #b5bd68;
  ***REMOVED***
  .kwd {
    color: #b294bb;
  ***REMOVED***
  .com {
    color: #969896;
  ***REMOVED***
  .typ {
    color: #81a2be;
  ***REMOVED***
  .lit {
    color: #de935f;
  ***REMOVED***
  .pun {
    color: #c5c8c6;
  ***REMOVED***
  .opn {
    color: #c5c8c6;
  ***REMOVED***
  .clo {
    color: #c5c8c6;
  ***REMOVED***
  .tag {
    color: #cc6666;
  ***REMOVED***
  .atn {
    color: #de935f;
  ***REMOVED***
  .atv {
    color: #8abeb7;
  ***REMOVED***
  .dec {
    color: #de935f;
  ***REMOVED***
  .var {
    color: #cc6666;
  ***REMOVED***
  .fun {
    color: #81a2be;
  ***REMOVED***
***REMOVED***
@media print,projection {
  .str {
    color: #060;
  ***REMOVED***
  .kwd {
    color: #006;
    font-weight: bold;
  ***REMOVED***
  .com {
    color: #600;
    font-style: italic;
  ***REMOVED***
  .typ {
    color: #404;
    font-weight: bold;
  ***REMOVED***
  .lit {
    color: #044;
  ***REMOVED***
  .pun,
  .opn,
  .clo {
    color: #440;
  ***REMOVED***
  .tag {
    color: #006;
    font-weight: bold;
  ***REMOVED***
  .atn {
    color: #404;
  ***REMOVED***
  .atv {
    color: #060;
  ***REMOVED***
***REMOVED***
pre.prettyprint {
  background: #1d1f21;
  font-family: Menlo, Monaco, Consolas, monospace;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 10px;
***REMOVED***
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
***REMOVED***

/*----------------------------------------------------------------------------*/
/* General
/*----------------------------------------------------------------------------*/

body {
  font-family: "Open Sans";
***REMOVED***

.body-width {
  margin: 0 auto;
  width: 960px;
***REMOVED***

.clearfix {
  clear: both;
***REMOVED***

.vertical-bar {
  border-top: 1px solid #efefef;
***REMOVED***

h2 {
  font-size: 26px;
  font-weight: 300;
***REMOVED***

h4 {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
***REMOVED***

pre.prettyprint {
  margin: 8px 0 30px 0;
***REMOVED***

/*----------------------------------------------------------------------------*/
/* Header
/*----------------------------------------------------------------------------*/

#topBar {
  background-image: url('../img/board-background.png');
  background-position: center top;
  height: 35px;
***REMOVED***

#headerWrapper {
  padding: 20px 0;
***REMOVED***

#headerWrapper .left-col {
  float: left;
  width: 300px;
***REMOVED***

#homeLink {
  color: #444;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
***REMOVED***

#homeLink .piece {
  font-weight: normal;
***REMOVED***

#headerWrapper .right-col {
  float: right;
  text-align: right;
  width: 600px;
***REMOVED***

#headerWrapper .nav-link {
  display: block;
  color: #444;
  float: right;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  width: 140px;
***REMOVED***

#headerWrapper .nav-link .piece {
  visibility: hidden;
***REMOVED***

#headerWrapper .nav-link:hover .piece {
  visibility: visible;
***REMOVED***

/*----------------------------------------------------------------------------*/
/* Footer
/*----------------------------------------------------------------------------*/

#footerWrapper {
  background: #333;
  color: #999;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding: 15px 0 30px 0;
***REMOVED***

#footerWrapper p {
  margin: 0 0 8px 0;
***REMOVED***

#footerWrapper a {
  color: #fff;
  text-decoration: none;
***REMOVED***

#footerWrapper a:hover {
  text-decoration: underline;
***REMOVED***

#footerWrapper .left-col {
  float: left;
  width: 400px;
***REMOVED***

#footerWrapper .right-col {
  float: right;
  text-align: right;
  width: 400px;
***REMOVED***

#footerWrapper .right-col a {
  padding: 0px 8px;
***REMOVED***

/*----------------------------------------------------------------------------*/
/* Homepage
/*----------------------------------------------------------------------------*/
#heroWrapper {
  background-image: url('../img/board-background.png');
  background-position: center top;
***REMOVED***

#hero {
  height: 420px;
  margin: 0px auto;
  padding-top: 118px;
  text-align: center;
***REMOVED***

#hero img {
  display: block;
  height: 60px;
  margin: 0 auto;
  width: 60px;
***REMOVED***

#hero h1 {
  color: #fff;
  font-size: 44px;
  font-weight: 400;
  margin: 0;
  padding-top: 16px;
***REMOVED***

#hero h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding-top: 8px;
***REMOVED***

#hero a {
  background: #ffdc10;
  color: #333;
  display: block;
  margin: 50px auto 0 auto;
  padding: 12px 24px;
  width: 160px;
  text-decoration: none;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
***REMOVED***

.nav-bar a {
  color: #444;
  display: block;
  float: left;
  font-size: 18px;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
  width: 240px;
***REMOVED***

.nav-bar .piece {
  visibility: hidden;
***REMOVED***

.hover-effect a:hover .piece {
  visibility: visible;
***REMOVED***

.col {
  float: left;
  padding: 40px;
  width: 400px;
***REMOVED***

/*----------------------------------------------------------------------------*/
/* Examples
/*----------------------------------------------------------------------------*/

#examplesListContainer {
  float: left;
  padding: 40px 0;
  width: 205px;
***REMOVED***

#examplesListContainer h4 {
  background: #f2f2f2;
  border-top: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-left: 3px solid #ccc;
  color: #555;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  margin: 0px;
  padding: 15px 20px;
  text-transform: none;
***REMOVED***

#examplesListContainer h4.active {
  background: #4d4d4d;
  border-top: 1px solid #1a1a1a;
  border-right: 1px solid #1a1a1a;
  border-left: 4px solid #1a1a1a;
  color: #fff;
  font-weight: bold;
***REMOVED***

#examplesListContainer .group-container {
  border-left: 3px solid #eee;
  border-right: 1px solid #eee;
  margin-bottom: 0px;
  padding: 10px 0px;
***REMOVED***

#examplesListContainer .example-link {
  color: #666;
  cursor: pointer;
  font-size: 14px;
  list-style: none;
  padding: 5px 0px 5px 15px;
***REMOVED***

#examplesListContainer .active {
  color: #222;
  font-weight: bold;
***REMOVED***

#examplesBodyWrapper {
  float: right;
  font-size: 14px;
  padding: 40px 0;
  width: 665px;
***REMOVED***

#exampleName {
  margin: 0;
  font-size: 38px;
***REMOVED***

#exampleHtmlContainer {
  margin-bottom: 40px;
***REMOVED***