:root {
  --saito-red: #036;
  --saito-orange: #369;
  --saito-skyline-grey: rgb(252, 252, 252);
  --saito-dhb: linear-gradient(-45deg, #369 50%, #036 100%);
}

body {
  background-color: var(--saito-skyline-grey);
}

.header {
  background-image: none;
  background: var(--saito-dhb);
}

.chat-header, .chat-box-header {
  background-image: none;
  background: var(--saito-dhb);
}

.header-home {
  grid-template-columns: 30em auto;
  align-items: center;
}

.powered-by {
  width: 120px;
  height: 60px;
  padding: 20px 0 0 0;
  position: fixed;
  bottom: 5px;
  left: 5px;
}

.powered-by::after {
  content: "Built On";
  color: #fff;
  display: block;
}

a {
  cursor: pointer;
}

.main {
  display: block;
  width: 85vw;
  overflow-y: auto;
  border-bottom: 1em solid #FFF;
}

.content {}

.products-table {
  margin-bottom: 20px;
}

.profile-information {
  margin-bottom: 20px;
}

.profile-information {
  max-width: 1200px;
  line-height: 1.6em;
}

.supplier-information {
  max-width: 1200px;
}

.splash-introduction {
  max-width: 1200px;
  line-height: 1.6em;
}

.splash-introduction p {
  padding-bottom: 10px;
}

.category-select {
  margin: 1em 0;
  width: 500px;
  max-width: 100vw;
}

.cert-grid {
  display: flex;
}

.cert {
  margin: 5px;
  padding: 5px 10px;
  background: #eee;
  border: 1px solid #ddd;
}

.grid-4 div, .grid-2 div {
  align-self: auto;
  line-height: 42px;
}

.tiptext {
  width: unset;
  min-width: unset;
  max-width: unset;
}

.navigation {
  margin: 1em;
  top: 80px;
  position: absolute;
  font-size: 1.3em;
  display: flex;
  max-width: 10vw;
  overflow: hidden;
}

.navlink {
  color: var(--saito-red);
  text-shadow: 1px 1px #999;
  margin: 0 1em 0 0;
  font-family: visuelt;
  min-width: 250px;
}

.product-image {
  width: 100%;
}

.product-image-holder {
  display: inline-block;
  min-width: 150px;
  min-height: 100px;
  max-width: 300px;
  max-height: 250px;
  border: 1px solid #ddd;
  cursor: pointer;
  overflow: auto;
}

.grid-image-holder img {
  max-width: 200px;
  max-height: 200px;
}

label.treated {
  display: none;
}

.certification, .file-template, .modal-form-wrapper {
  border: 1px solid var(--saito-red);
  position: absolute;
  /* margin: 5vh auto; */
  padding: 1em;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  transform: translate(-50%, -50%);
  background: #FFF;
  box-shadow: 0 0 3px 3px #ccc;
}

.modal-form-wrapper {
  z-index: 10;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-form.attach-product {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr 1fr;
}

.grid-buttons {
  width: 250px;
}

.form-section-buttons {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.file-table, .bundle-table, .category-table{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
}

.category-table{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.order-table {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr;
}

.order-table.odd {
  background-color: #f9f9f9;
}

.item-table {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
}

.item-table .fullrow {
  grid-column: 1 / 6;
  padding: 1em;
}

.attachments-grid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
}

.fullview_product, .edit_product, .delete_product, .add_cert, .inquire_product, .grid-action {
  cursor: pointer;
  border: 1px solid var(--saito-red);
  width: 100px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  color: var(--saito-red);
  display: inline-block;
  margin: 0 5px 5px 0;
}

.fullview_product:hover, .edit_product:hover, .delete_product:hover, .add_cert:hover, .inquire_product:hover, .grid-action:hover {
  background: var(--saito-red);
  color: #FFF;
}

#certification_display {
  min-height: 60px;
  border: 1px solid var(--saito-red);
  display: flex;
  align-items: center;
  justify-content: center;
}

button, .button {
  min-width: 300px;
  max-width: 400px;
  margin: 0 1em 0 0;
  text-align: center; 
  padding: 5px;
}

.covid_back {
  width: 80px;
  max-width: 100px;
  min-width: 80px;
  text-align: center;
}

.products-table>div, .supplier-products-table>div {
  padding: 1em;
}

.products-table>div:nth-child(12n+7), .products-table>div:nth-child(12n+8), .products-table>div:nth-child(12n+9), .products-table>div:nth-child(12n+10), .products-table>div:nth-child(12n+11), .products-table>div:nth-child(12n+12) {
  background-color: #f9f9f9;
}

.supplier-products-table>div:nth-child(12n+7), .supplier-products-table>div:nth-child(12n+8), .supplier-products-table>div:nth-child(12n+9), .supplier-products-table>div:nth-child(12n+10), .supplier-products-table>div:nth-child(12n+11), .supplier-products-table>div:nth-child(12n+12) {
  background-color: #f9f9f9;
}

.product-summary>div:nth-child(10n+6), .product-summary>div:nth-child(10n+7), .product-summary>div:nth-child(10n+8), .product-summary>div:nth-child(10n+9), .product-summary>div:nth-child(10n+10) {
  background-color: #f9f9f9;
}

.product-buttons .button {
  width: 200px;
  margin: 0 1em 1em 0;
}

.product-buttons {
  flex-wrap: wrap;
}

.supplier-products-table {
  margin: 2em 0;
}

.inq-grid {
  margin: 2em 0 7px 0;
  width: 25em;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  cursor: pointer;
  padding: 10px 10px 0;
}

.inq-product-name {
  font-weight: bold;
}

.product-img-cell i {
  margin: 24px 42px;
  font-size: 32px;
  color: #888;
}

#inq-grid td {
  padding: 5px 0;
}

table#inq-grid {
  background: rgb(240, 240, 240, 1);
  padding: 20px 5px;
  width: 100%;
}

.table-head {
  margin: 0 0 10px 0;
}

#copy-product-list:hover {
  color: var(--saito-red);
  cursor: pointer;
}

.inq-form {
  font-size: 1.2em;
}

.product-summary {
  display: grid;
  grid-template-columns: 5fr 2fr 1fr 2fr 8fr;
}

.product-summary div {
  padding: 5px;
}

.grid-header {
  font-weight: bolder;
  margin: 0 0 10px 0;
}

.summary-section {
  margin: 1em 0 0 0;
}

.splash-actions {
  margin: 0 0 2em 0;
}

td.inq-product-id div.editable {
  /* border: 1px solid #ddd; */
  height: 45px;
  padding: 5px;
  overflow-x: hidden;
  margin: 2px 5px;
  border-bottom: 1px solid var(--saito-red);
  overflow-y: scroll;
  background-color: var(--saito-skyline-grey);
}

.grid-go.delete {
  cursor: pointer;
}
.fright {
  margin-left: 5px;
  position: absolute;
  top: 8px;
  right: 3px;
}

.item-product-block {
  padding: 0 1em 1em;
  
}

.item-product-block-grid {
  display: grid;
  grid-template-columns: 22em 120px auto;
  grid-gap: 1em;
}

.item-deails.grid-2-columns {
  grid-template-rows: 2em 2em 2em;
}

.item-table .grid-buttons {
  width: unset;
  display: flex;
}

.item-product-title {
  display: flex;
  align-items: center;
  font-size: 0.8em;
}

.item-product-title i {
  margin: 0px 1em;
}

.item-product-details div {
  font-size: 0.9em;
}

.item-product-details {
  grid-template-rows: 1em 1em 1em 1em;
  grid-template-columns: 7em auto;
}

.item-product-block {
  background: #eee6;
}

.product-image img {
  max-width: 120px;
}

.hr {
  border-bottom: 1px solid var(--saito-red);
  margin: 0 0 2em;
}

.label {
  font-weight: bolder;
}

.medium-editor-element {
  border-bottom: 1px solid var(--saito-red);
  padding: 0 1em !important;
  font-size: 17px;
  background: #f8f8f8;
}

.medium-editor-element p {
  margin: 0;
}