
.main {
  display: block;
}

.saito-select {
  max-width: 300px;
  margin-bottom: 40px;
}

table {
  
}
th {
  text-align: left;
  padding-right: 10px;
}
td {
  text-align: left;
  padding-right: 10px;
}


.cert-grid {
  display: flex;
}

.cert {
  margin: 5px;
  padding: 5px 10px;
  background: #eee;
}

.grid-4 div, .grid-2 div {
  align-self: auto;
}