body {
    background-image: url('img/gameboard.jpg');
    background-position: center;
    background-size: cover;
    overflow-y: auto;
}
.web3-page {
    color: white;
    min-height: 100vh;
    padding: 5em 3em 1em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.web3-page .left {
    padding-right: 8em;
    text-align: left;
    order: 1;
}
.web3-page .right {
    max-width: 20em;
    order: 2;
}
.web3-page .right img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}
.web3-page h1,
.web3-page h2 {
    font-family: 'visuelt-medium';
    display: block;
    margin: 0;
    line-height: 1;
    font-weight: normal;
}
.web3-page h1 {
    font-size: 5em;
}
.web3-page h2 {
    color: white;
    font-size: 3em;
    margin-bottom: 1.5em;
}
.heading-poker {
    color: var(--saito-red);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}
.powered-by .powered {
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.powered-logo img {
    max-width: 120px;
}



/* Content Style */
.page-heading {
    color: var(--saito-red);
    font-family: 'visuelt-medium';
    font-size: 1.8em;
    line-height: 1.4;
    text-align: center;
}
.page-heading a {
    color: black;
    text-transform: uppercase;
}
.page-heading a:hover {
    color: rgb(32, 30, 30);
}
.page-content {
    background-color: white;
    box-shadow: 0px 0px 59px #C9C9C945;
    margin: 0 auto;
    max-width: 48em;
    padding: 2em 1.4em;
}
.page-content a {
    font-weight: bold;
}
.page-content p {
    margin-bottom: 2em;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.arcade-button {
    border: 1px solid #707070;
    border-radius: 30px;
    box-shadow: 0px 5px 10px #00000069;
    display: flex;
    align-items: center;
    margin: .5em;
    padding: 4px 12px;
    transform: translateY(-2px);
    transition: all .2s ease-in-out;
}
.arcade-button:hover {
    transform: translateY(-1px);
    box-shadow: 0px 2px 6px #00000069;
}
.arcade-button img {
    max-height: 22px;
}
.arcade-button .sep {
    color: black;
    font-size: 1.4em;
    margin: 0 4px;
    margin-top: 4px;
}
.arcade-button .arcade {
    font-family: 'visuelt-medium';
    font-weight: bold;
    margin-top: 4px;
}
.button {
    border: 0;
    background-color: var(--saito-red);
    box-shadow: 0px 16px 29px rgba(247, 31, 61, 1);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 24px auto;
    padding: .8em 1.2em;
    transition: all .2s ease-in-out;
    transform: scale(1);
    animation: pulse 2s infinite;
}
.button:hover {
    background-color: #d02035;
    color: white;
    transform: translateY(2px);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(247, 31, 61, 0.7);
    }

    70% {
        box-shadow: 0 0 0 1em rgba(247, 31, 61, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(247, 31, 61, 0);
    }
}

@media only screen and (max-width: 960px) {
    .web3-page {
        /* display: block; */
        flex-direction: column;
    }
    .web3-page .left {
        order: 2;
        padding-right: 0;
        text-align: center;
        margin-bottom: 2em;
    }
    .web3-page .right {
        order: 1;
        margin: 0 auto 4em;
        max-height: 40vh;
        padding-right: 0;
    }
    .web3-page .right img {
        margin: 0 auto;
        max-height: 40vh;
    }
    .button {
        border-radius: .5em;
        font-size: 2em;
        margin-top: 1.5em;
        padding: 1em 2em;
    }
}

@media only screen and (max-width: 480px) {
    body {
        font-size: .8em;
    }
    .web3-page .left {
        font-size: .6em;
    }
}