{
  "presets": [
    [
      "env",
      {
        "modules": false
  ***REMOVED***
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env"
        ]
      ]
***REMOVED***
  ***REMOVED***
***REMOVED***
