.appspace-appstore-container {
	display: grid;
	grid-template-rows: appstore-header-featured appstore-app-list appstore-app-viewmore-header appstore-header-browse appstore-browse;
	grid-column-gap: 15px;
	grid-row-gap: 20px;
    grid-auto-flow: row;
    align-items: center;
***REMOVED***
.appstore-header-featured h3{
	margin-top: 10px;
	width: 200px;
	float: left;
	display: block;
***REMOVED***
#appstore-search-box{
    width: 460px;
    height: 40px;
    border:1px solid #eee;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    border-radius: 40px;
    padding:0 20px;
    float: right;
    margin-left: 20px;
***REMOVED***    
.appstore-app-list {			
    display: grid;
    grid-template-columns: repeat(4,auto);
***REMOVED***
.appstore-app-item {
    display:grid;
    width: 160px;
    background-color: #fff;
    border:1px solid #eee;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
***REMOVED***      
.appstore-app-item-image {
    margin: 17px 17px 0 17px;
    width: 128px;
    height: 128px;
    background-color: #2962ff;
    border-radius: 2px;
***REMOVED***
.appstore-app-item-name{
    font-size: 16px;
    color: #000;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
***REMOVED***
.appstore-app-item-rating{
    font-size: 14px;
    color: #605f5f;
    margin-left: 10px;
***REMOVED***
.appstore-app-install-btn{
    padding: 5px 45px 5px 45px;
    font-size: 16px;
    border-radius:20px;
    color: red;
    margin:0 auto;
    border:1px solid red;
    margin-top: 10px;
    margin-bottom: 15px;
***REMOVED***
.appstore-app-viewmore-header{
    justify-self: center;
    align-self: center;
***REMOVED***
.appstore-browse-list{
    display: grid;
    grid-template-columns: repeat(4,auto);
    
***REMOVED***
.appstore-browse-item{
    width: 160px;
    height: 100px;
    background-color: #fff;
    border:1px solid #eee;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    font-family:visuelt-medium;
    margin-right: 15px;
    margin-top: 20px;
    display: grid;
***REMOVED***
.appstore-browse-item{
    width: 170px;
***REMOVED***

.appstore-sort-item-name{
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 15px;
***REMOVED***

.appstore-app-item-rating{
   font-size: 14px;
   color: #868282; 
   margin-top: 10px;
   margin-left: 15px;
***REMOVED***
        
.appstore-sort-item-icon{
    position: relative;
    bottom: 60px;
    left: 120px;
    color: var(--saito-red);
***REMOVED***
.appstore-sort-item-amount{
    font-size: 14px;
    color: #868282; 
    margin-left: 15px;
***REMOVED***

/** APPSTORE PUBLISH **/

.appstore-publish {
    display: flex;
    justify-content: flex-end;
    align-items: center;
***REMOVED***

.appstore-publish h3 {
    margin-right: 1em;
***REMOVED***










