/*
  Undo poker playerbox positions....
.p1, .p2, .p3, .p4 {
  min-width: unset;
  height: unset;
  bottom: unset;
  top: unset;
  right: unset;
  left: unset;
  transform: unset;
  width: unset;
  overflow-y: unset;
}
*/

:root{
  --p1-color: red;
  --p2-color: blue;
  --p3-color: rgb(0,140,0);
  --p4-color: orange;
}

.hexIn{
  overflow: unset;
  padding-bottom: 113%;
}
.hexLink{
  overflow: unset;
  height: 105%;
}

.hex_bg{
  margin: unset;
   left: -12.5%;
  right: -12.5%;
}

.hex_bg img{
  left: -12.5%;
  right: -12.5%;
}

body {
  background-color: lightseagreen !important;
  background: radial-gradient(circle farthest-corner at 50% 0%, lightseagreen 40%, blue 45%, lightseagreen 50%);
  background-size: 25px 25px;
  /*background-image: url(/settlers/img/background2.jpg);*/
  /*background-size: cover;
  background-repeat: no-repeat;
  background-position: center;*/
  position: unset; /* fixed from game.css does weird stuff*/
  z-index: 0;
}

#game-hexgrid-container{
  z-index: 2;
}

.player-box{
  background-color: #444A;
  z-index: 3;
  border: 4px solid;
}

.player-box > .player-box-graphic{
  z-index: -1;
}

.game_board_sizer{
  z-index: 1000;
}

#game-hexgrid, #game-hexgrid-container{
  
}

#game-hexgrid{
  width: 1000px;
  padding: 10% 5% 15%; /*Creates space for board overflow*/
  box-sizing: content-box;
}


/* Dice */
.diceroll{
  display: none;
  position: absolute;
  width: 10vw;
  top: 0px;
  left: 50%;
  transform: translateX(-5vw);
  border: 2px solid black;
  border-radius: 1vw;
  background-color: #222B;
  padding: 0.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  z-index: 3;
}

.die{
  width: 3vw;
}
.hud-body {
  overflow: unset;
}

.textchoice {
  
}

.status-message ul li:hover, .status ul li:hover, .cardselector:hover{
  color: black;
  background-color: #e7e7e7;
}

/*
  Shrink Development cards
*/
.devcards > .card{
  width: 10vh;
  position: absolute;
}

.card > img{
  width: 100%;
}

.card .icon{
  position: absolute;
  width: 15%;
  left: 7%;
  top: 5%;
  pointer-events: none; 
}

.notme .player-box-graphic .devcards .tinycard{
  width: 8vh;
}

.notme .player-box-graphic .rescards .tinycard{
  width: 10vh;
}

/* Make room to display two hands of cards*/
.devcards{
  top: -2vh;
  position: absolute;
}

.devcards+.rescards{
  top: 2vh;
  position: absolute;
}

.bighand>.card:nth-child(5n+1) {
  transform: rotate(-20deg);
  left: 0px;
}

.bighand>.card:nth-child(5n+2) {
  transform: rotate(-10deg);
  left: 2vh;
}

.bighand>.card:nth-child(5n+3) {
  transform: rotate(0deg);
  left: 4vh;
}

.bighand>.card:nth-child(5n+4) {
  transform: rotate(10deg);
  left: 6vh;
}

.bighand>.card:nth-child(5n+5) {
  transform: rotate(20deg);
  left: 8vh;
}

.bighand>.card:nth-child(n+6) {
  top: 3vh;
}
.bighand>.card:nth-child(n+11) {
  top: 6vh;
}
.bighand>.card:nth-child(n+16) {
  top: 9vh;
}

.card .cardtitle{
  position: absolute;
  font-family: fantasy;
  font-size: 1.2em;
  top: 9.5%;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.card .cardrules{
  position: absolute;
  font-family: fantasy;
  top: 60%;
  height: 40%;
  width: 100%;
  padding: 5% 10%;
  pointer-events: none;
}

.startmove {
  cursor: pointer;
  display: inline-block;
  text-decoration: underline;
}


.hover{
  z-index: 1000;
}

.chover:hover, .producer.chover polygon:hover {
  fill: yellow;
  stroke: yellow;
  cursor: crosshair;
}


.rhover:hover {
  border: 1px solid white;
  background-color: whitesmoke;
  cursor: crosshair;
}

.ship{
  font-size: 2em;
  overflow-x: visible;
  white-space: nowrap;
}

.ship > .icon{
  position: relative;
  top: -20%;
  width: 85%;
}

.port{
  width: 100%;
  height: 60%;
}

.port1{
  top: -40%;
  left: 40%;
  transform: rotate(27.5deg);
}
.port2{
  top: 20%;
  left: 85%;
  transform: rotate(90deg);
}

.port3{
  top: 80%;
  left: 40%;
  transform: rotate(152.5deg);
}

.port4{
  top: 80%;
  right: 40%;
  transform: rotate(-152.5deg);
}
.port5{
  right: 85%;
  top: 20%;
  transform: rotate(-90deg);
}
.port6{
  top: -40%;
  right: 40%;
  transform: rotate(-28.5deg);
}
.harbor{
  position:  absolute;
  display: block;
  width: 45px;
  height: 12px;
  background-color: brown;
  background: linear-gradient(90deg, tan 0%, brown 50%, tan 100%);
  background-size: 6px 12px;
  bottom: 15%;

}

.rharbor{
  transform: rotate(55deg);
  right: 17%;
}

.lharbor{
  transform: rotate(-55deg);
  left: 17%;
}

.road {
  position: absolute;
  display: block;
  width: 65%;
  height: 10%;
  background-color: transparent;

  z-index: 10;
}

.road5{
    transform: rotate(90deg);
    left: -35%;
    top: 45%;
}
.road6{
    transform: rotate(-30deg);
    top: 9%;
    left: -9%;
}

.road1{
  transform: rotate(30deg);
  right: -8%;
  top: 8%;
}

.road2{ /* Overlaps with Road5 */ 
    transform: rotate(90deg); 
    right: -35%;
    top: 45%;
}
.road3{ /* Overlaps with Road6 */
    transform: rotate(-30deg);
    bottom: 9%;
    right: -9%;
}
.road4{ /* Overlaps with Road1 */
    transform:  rotate(30deg);
    bottom: 9%;
    left: -9%;
}

.city {
  position: absolute;
  display: block;
  width: 30%;
  height: 25%;
  background-color: transparent;
  z-index: 12;
  font-size: 2em;
  text-align: center;
}

.city > svg{
  width: 100%;
  height: 100%;
  top:  0px;
  left: 0px;
}

/* p1-4 is legacy code for ownership of cities/roads, not playerboxes  */
.p1 {
  background-color: var(--p1-color);
}
.p2 {
  background-color: var(--p2-color);
}
.p3 {
  background-color: var(--p3-color);
}
.p4 {
  background-color: var(--p4-color);
}

.player-box.c1 {
  border-color: var(--p1-color);
}
.player-box.c2 {
  border-color: var(--p2-color);
}
.player-box.c3 {
  border-color: var(--p3-color);
}
.player-box.c4 {
  border-color: var(--p4-color);
}


.producer polygon{
  fill: white;
}

.producer line{
  stroke: white;
}

.city1{
  top: -10%;
  left: 50%;
  transform: translate(-50%);
}

.city2{
  top: 15%;
  right: -18%;
}
.city3{
  bottom: 15%;
  right: -18%;
}
.city4{
  bottom: -10%;
  left: 50%;
  transform: translate(-50%);
}
.city5{
  bottom:  15%;
  left: -18%;
}
.city6{
  top: 15%;
  left: -18%;
}

.sector_value {
  position: absolute;
  font-size: 2.5em;
  z-index: 15;
  font-weight: bold;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  background: #6664;
  color: white;
}

.bandit{
  background-color: black;
  color: darkgray;
}

.city.p1 {
  border: 10px solid var(--p1-color);
  color: var(--p1-color);
}
.city.p2 {
  border: 10px solid var(--p2-color);
  color: var(--p2-color);
}
.city.p3 {
  border: 10px solid var(--p3-color);
  color: var(--p3-color);
 
}
.city.p4 {
  border: 10px solid var(--p4-color);
  color: var(--p4-color);
}

.trade_overlay {
  background-color: whitesmoke;
  padding: 25px;
  font-size: 1.25em;
  width: 50vw;
  max-height: 70vh;
  overflow-y: scroll;
}

.trade_overlay_title{
  width: 100%;
  text-align: center;
}

.trade_overlay_offers, .trade_overlay_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1em 0px;
}

.trade_overlay .icon{
  width: 2em;
}

.trade_overlay .select{
  padding: 0.5em;
}

.trade_overlay .selected{
  padding: 0em;
}

.trade_overlay .noselect{
  color: grey;
  font-style: italic;
}

.trade_overlay .selected{
  /*border: 1px solid black;*/
  font-weight: bold;
}

.trade_overlay .selected .icon{
  width: 3em;
}

.noselect .icon{
  filter: grayscale(100%);
}

.button.noselect:hover{
  background: rgba(247,31,61,0.2); /* based on saito-red */
}

.option.noselect{
  font-style: italic;
  color: lightgrey;
}

.trade_button {
  width: fit-content;
  text-transform: uppercase;
  cursor: pointer;
}

.trade_button div{
  text-align: center;
}

.button{
  min-width: 90px;
  text-align: center;
}
.highlight{
  font-size: 1.1em;
  font-weight: bold;
}

.tbd .icon{
  height: 1.25em;
}

.status .disabled:hover{
  color: inherit;
  background-color: inherit;
}
.disabled .icon, .player-box .icon{
  width: 1.5em;
}

.status-message{
  width: unset;
  background-color: unset;
}

.hexTileCenter{
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.me > .player-box-graphic{
  position: relative;
  left: calc(150px + 8vw);
}

.notme > .player-box-graphic{
  position: relative;
  z-index: -1;
  top: 5vh;
  left: 1vw;
}

.flexline{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
}

.flexline2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: 0.5em; 
}

.pbtrade ul li{
  width: 100%;
  line-height: 1.5em;
  cursor: pointer;
  list-style: none;
  border-top: 1px solid var(--saito-skyline-grey);
}
.pbtrade ul li:hover{
  color: black;
  background-color: #e7e7e7;
}

.player-box .trade:hover{
  color: black;
  background-color: #a7a7a7;
}
.trade{
  cursor: pointer;
}

.cardct{
  width: fit-content;
}
.cardselector{
  border: 1px solid whitesmoke;
  cursor: pointer;
  width: 45%;
  text-align: center;
  padding: 3px;
}

/*SVG token coloring*/
.token{
  margin: min(3px,1vh);
  width: 1.2em;
  background-color: unset;
}

.token.p1 polygon{
  fill: var(--p1-color);
}

.token.p2 polygon{
  fill: var(--p2-color);
}

.token.p3 polygon{
  fill: var(--p3-color);
}

.token.p4 polygon{
  fill: var(--p4-color);
}

.token.p1 line{
  stroke: var(--p1-color);
}

.token.p2 line{
  stroke: var(--p2-color);
}

.token.p3 line{
  stroke: var(--p3-color);
}

.token.p4 line{
  stroke: var(--p4-color);
}

.c1 i {
  color: rgb(255,100,100); /*a slightly lighter red*/
}

.c2 i{
  color: rgb(100,100,255); /*a slightly lighter blue*/
}
.c3 i{
  color: rgb(0, 192, 0); /*a slightly lighter green */
}
.c4 i{
  color: var(--p4-color);
}

.player-notice{
  margin-bottom: 0.5em;
  line-height: 1.25em;
}
.player-box .player-notice .icon{
  height: 1.25em;
  width: 1.25em;
  border-radius: 5px;
}

.opponents{
  position: absolute;
}

.opponents > .player-box{
  position: unset;
}

.player-box.me{
  height: unset;
}
.player-box.notme, .opponents{
  height: fit-content;
}
/*
    Copied from WuziQi
*/

@media (orientation: landscape) {
    .player-box, .opponents{
        top: 40vh;  /*Center in screen:  50vh - 1/2 height */
        margin: auto auto;
        max-width: 20vw;
    }

    .player-box.me{
        left: max(5px, calc(12vw - 7em));
        /*top:  80vh;*/
    }

    .player-box.notme, .opponents{
        right: max(5px, calc(12vw - 7em));
        top:  10vh;
    }
}

@media (orientation: portrait) {
    .player-box, .opponents{
        top: calc(65vw + 26vh);
        max-width: 35vw;
    }

    .player-box.me{
        left: calc(30vw - 6em);
    }

    .player-box.notme, .opponents{
        right: calc(30vw - 6em);
    }
}

/*
    Intermediate (roughly square screen size, technically landscape, but keep portrait layout)
*/
@media (max-aspect-ratio:  8/7) and (min-aspect-ratio: 7/8) {
    .player-box, .opponents{
        top: unset;
        bottom: 0px;
        max-width: 40vw;
    }
    .player-box.me{
        left: calc(30vw - 5.5em);
    }

    .player-box.notme, .opponents{
        right: calc(30vw - 5.5em);
    }
}

@media (max-width: 500px) and (orientation: portrait) and (max-aspect-ratio: 7/8){
    .player-box, .opponents{
        top: calc(95vw + 15vh);
        max-width: 38vw;
    }
}

