.game-menu {
  width: 320px;
}

body {
  background-image: url(/settlers/img/background2.jpg);
  background-size: cover;
}


.hud-body {
  overflow: unset;
}

.textchoice {
  background-color: whitesmoke;
}

.card {
  width: 150px;
}
.startmove {
  cursor: pointer;
  display: inline-block;
}

.game-hexgrid-cities {
  position: absolute;
}

.hover:hover {
  border: 1px solid white;
}

.road {
  position: absolute;
  display: block;
  width: 150px;
  height: 30px;
  background-color: transparent;
  z-index: 5892351;
}


.city {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  z-index: 5892350;
}

.sector_value {
  position: absolute;
  font-size: 4em;
  z-index: 99;
  font-weight: bold;
  border: 1px solid #fff;
  padding: 20px;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  line-height: 1.5em;
  text-align: center;
  background: #444a;
  color: white;
  font-weight: bold;
}

.p1 {
  background-color: red;
}
.p2 {
  background-color: blue;
}
.p3 {
  background-color: green;
}
.p4 {
  background-color: orange;
}

