.whitelistSection {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around; 
}
@media only screen and (max-width: 1000px) {
  .whitelistSection {
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 768px) {
  .address {
    font-size: 14px;
  }
}

.whitelistSection div {
  min-width: 500px;
}
.whitelistTitle {
  text-align: left;
  font-weight: bold;
  color: var(--saito-red);
  font-size: 1.4em;
  vertical-align: bottom;
  white-space: nowrap;
  padding-top: 1em;
  padding-bottom: 0.6em;
}
.communityAddresses, .polsAddresses {
  
  
}
.address {
  padding-top: .2em;
}
