/** Email **/

:root {
  --CA: #9F2EE8;
  --CB: #6630F2;
  --CC: #373fDB;
  --CD: #30F8F2;
  --CE: #29ACEB;
  --saito-red: var(--CB);
  --saito-nightscape: linear-gradient(-45deg, var(--CE) 50%, var(--CB) 100%);
  --saito-jester: var(--CE);
}

body {
  font-size: 1.0em;
  color: var(--CB);
  background: var(--saito-skyline-grey);
  background: linear-gradient(-45deg, #fff 50%, #fff 100%)
}

a {
  color: var(--CA);
}

.phone-scanner {
  display: none;
}

.splashlogo {
  margin: 20vw;
  width: 60vw;
}

.main center {
  margin: 20vw 0;
}

button, .button, .file-label {
  border-radius: 0;
  cursor: pointer;
  font-size: 1em;
  min-width: 10em;
  padding: 10px 6px;
  background: var(--saito-jester);
  border: 1px solid var(--saito-jester);
  color: var(--saito-skyline-grey);
  letter-spacing: 1px;
  transition: all .25s;
  margin: 0.2em 0;
  min-width: 180px;
}

button:hover, .button:hover {
  background: var(--CD);
}

select {
  border: 1px solid var(--saito-red);
  border-radius: 0;
  font-size: 1em;
  padding: 10px 6px;
  background: linear-gradient(-45deg, #222 50%, #1e1e1f 100%);
  border: 1px solid var(--saito-red);
  color: var(--saito-skyline-grey);
  letter-spacing: 1px;
  transition: transform .25s;
  min-width: 180px;
}

input {
  background: #55555555;
  color: var(--saito-skyline-grey);
}

.header {
  height: 3em;
  background: var(--saito-nightscape);
  display: grid;
  gap: 1em;
  grid-template-columns: auto 2em 2em;
  align-content: end;
}

.major-logo {
  height: 2em;
  width: 2em;
  margin: 0.5em 0;
  background-color: #fff;
  mask: url(./img/panda.svg) no-repeat center / contain;
  -webkit-mask: url(./img/panda.svg) no-repeat center / contain;
}

.panda {
  position: absolute;
  top: 0;
  background: url(./img/invertopanda.png);
  height: 100%;
  width: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.panda-wrapper {
  background: #fff;
  height: 200px;
  width: 160px;
  position: relative;
  overflow: hidden;

}

.phone_body h1 {
  display: block;
  margin: 2em auto;
  text-align: center;
  color: var(--CE);
  text-shadow: 1px 1px var(--CC);
  font-size: xxx-large;
}

.homebody p {
  text-align: center;
  color: var(--CB);
}

@keyframes lovepanda {
  0% {transform: rotate(0deg) scale(1.2);}
  
  100% {transform: rotate(360deg) scale(1.2);}
}


.rotator {
  height: 100%;
  background: linear-gradient(45deg, var(--CA), var(--CB), var(--CC), var(--CD), var(--CE));
  animation: lovepanda ease-in-out 1s infinite forwards;
}



.main {
  height: calc(100vh - 3em);
  width: 100vw;
  overflow-x: hidden;
  display: block;
}

.footer {
  display: none;
}

.sidebar>div {
  margin: 0 0 2em 0;
}

button.add-games {
  width: 100%;
}

.chat-header {
  background: var(--saito-nightscape);
  border: 1px solid var(--saito-red);
  border-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  background: var(--saito-jester);
}

.chat-list {
  height: 255px;
  overflow-y: auto;
  border: 1px solid var(--saito-red);
  background: #1e1e1f50;
}

@media only screen and (max-width: 600px) {
  .main {
    max-width: unset;
  }
}

@media only screen and (min-width: 600px) {}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Remove IE arrow */

select::-ms-expand {
  display: none;
}

/* Custom Select */

.saito-select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #55555555;
  overflow: hidden;
  border-bottom: 1px solid var(--saito-red);
  width: 100%;
}

select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}

/* Arrow */

.saito-select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #55555533;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

/* Transition */

.saito-select:hover::after {
  color: var(--saito-red);
}

option {
  background: var(--saito-cyber-black);
}

/** CHAT STYLING **/

.chat-row {
  /* no border */
  border-bottom: 0px solid var(--saito-red);
}

.chat-row:hover {
  background-color: #33669999;
}

.chat-box {
  background-color: var(--saito-cyber-black);
  border: 1px solid var(--saito-red);
}

.chat-box-main {
  background: var(--saito-nightscape);
  color: #ffffff;
}

.chat-box-header {
  border-bottom: 1px solid var(--saito-red);
  background: var(--saito-jester);
}

.chat-message-others {
  color: black;
}

.chat-box-input {
  border-top: 1px solid var(--saito-red);
}

.chat-box-new-message-input {
  background: var(--saito-cyber-black);
  color: white;
}

.chat-room-submit-button {
  color: #fff;
}

.chat-message-header {
  color: #ffffff;
}

#alert-box {
  background: var(--saito-nightscape);
}

/* .arcade-game-row-delete {
  margin: 0 0 0 12px;
} */

.loader {
  margin: 25%;
}

@media only screen and (max-width: 600px) {}

/* camel */

.button {
  text-align: center;
}

.product-table {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.fullview_product, .edit_product, .delete_product, .add_cert, .inquire_product, .grid-action {
  cursor: pointer;
  width: 100px;
  text-align: center;
  padding: 5px;
  border-radius: 0;
  display: inline-block;
  margin: 0 5px 5px 0;
  background: var(--saito-jester);
  border: 1px solid var(--saito-jester);
  color: var(--saito-skyline-grey);
}

.fullview_product:hover, .edit_product:hover, .delete_product:hover, .add_cert:hover, .inquire_product:hover, .grid-action:hover {
  color: #FFF;
  background: var(--CD);
}

input[type=text], input[type=number], input[type=password], input[type=date] {
  border-bottom: 1px solid var(--saito-red);
}

textarea, .medium-editor-element {
  border: 1px solid var(--saito-red);
  padding: 3px;
  font-size: 1.2em;
}

.main-form-buttons {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  max-height: 3em;
}

.powered-by {
  width: 120px;
  height: 60px;
  padding: 20px 0 0 0;
  position: fixed;
  bottom: 5px;
  left: 5px;
}

.powered-by::after {
  content: "Built On";
  color: #fff;
  display: block;
}

.scan-result {
  font-size: 40vw;
  text-align: center;
  margin: 25px 0 0 0;
}

.main {
  max-width: 1200px;
  margin: 3em auto;
  padding: 0 1em;
}

.product-table>div {
  margin-top: 1em;
}

body {
  overflow: hidden;
}

.scan-check-product img {
  margin: 1em auto;
  display: block;
}

@media only screen and (max-width: 800px) {
  .main {
    max-width: 1200px;
    margin: 3em auto;
    padding: 0 1em;
  }
  .grid-2 {
    grid-template-columns: 1fr;
    grid-gap: 3px;
  }
  .grid-2 div {
    padding: 0;
  }
  .main-form-buttons, .flex-around {
    display: flex;
    flex-flow: column;
    max-height: 3em;
  }
  .grid-buttons {
    grid-column: 1 / span 4;
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    border-bottom: 1px solid #8888;
    padding: 5px 0;
    margin-bottom: 1em;
  }
 
  .grid-4 div:nth-child(2n-1), .grid-2 div:nth-child(2n-1) {
    padding: 0;
    line-height: 28x;
  }
  .grid-2-columns {
    grid-gap: 3px;
    margin: 0;
  }
}