.big {
    padding: 2% 5%;
    font-size: 3.5vw;
    font-weight: 900;
    background: #0006;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    font-family: visuelt-black;
    text-shadow: 2px 2px 3px red;
    top: 25%;
    position: relative;
}

.carousel-spacer {
    width: 100%;
    position: relative;
}

.arcade-game-carousel {
  width:100%;
  position: relative;
}

.arcade-carousel-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    background-image: url(/arcade/img/dreamscape-logo.png);
    background-repeat: no-repeat;
    background-position: center;

}

.leaf {
   background-size: cover;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   opacity: 0;
   border: 1px solid darkorange;
}

.arcade-carousel-wrapper > div {
    animation: rightToLeft 20s linear infinite 0s;
}

.arcade-carousel-wrapper div.leaf:nth-child(1) {
    animation-delay: 0s;
}

.arcade-carousel-wrapper div.leaf:nth-child(2) {
    animation-delay: 10s;
}

.arcade-carousel-wrapper div.leaf:nth-child(3) {
    animation-delay: 20s;
}

.arcade-carousel-wrapper div.leaf:nth-child(4) {
    animation-delay: 30s;
}

.arcade-carousel-wrapper div.leaf:nth-child(5) {
    animation-delay: 40s;
}



/*rightToLeft Animation*/

@keyframes rightToLeft {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        transform: translateX(-100%);
    }
    15% {
        opacity: 1;
        transform: translateX(0px);
    }
    85% {
        opacity: 1;
        transform: translateX(0px);
    }
    90% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 0;
    }
}
/*
@-moz-keyframes rightToLeft {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        -moz-transform: translateX(-100%);
    }
    10% {
        opacity: 1;
        -moz-transform: translateX(0px);
    }
    25% {
        opacity: 1;
        -moz-transform: translateX(0px);
    }
    30% {
        opacity: 0;
        -moz-transform: translateX(100%);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes rightToLeft {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
    }
    10% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    25% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    30% {
        opacity: 0;
        -webkit-transform: translateX(100%);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes rightToLeft {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        -ms-transform: translateX(-100%);
    }
    10% {
        opacity: 1;
        -ms-transform: translateX(0px);
    }
    25% {
        opacity: 1;
        -ms-transform: translateX(0px);
    }
    30% {
        opacity: 0;
        -ms-transform: translateX(100%);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
*/
