.arcade-hero {
    width: 100%
***REMOVED***

.arcade-hero-wrapper {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 100%;
***REMOVED***

.arcade-hero-wrapper > div {
    opacity: 0;
    position: absolute;
    display: inline-block;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0 auto;
    font-size: 4em;
    background-size: cover;
***REMOVED***

.arcade-hero-wrapper > img {
    width: 100%;
***REMOVED***

.arcade-hero-wrapper div.leaf:nth-child(1) {
    opacity: 1;
    background-color: orange;
    background-image: url(./img/ts-background-gg.jpg);
***REMOVED***

.arcade-hero-wrapper div.leaf:nth-child(2) {
    background-color: orangered;
***REMOVED***

.arcade-hero-wrapper div.leaf:nth-child(3) {
    background-color: hotpink;
***REMOVED***

.arcade-hero-wrapper div.leaf:nth-child(4) {
    background-color: paleturquoise;
***REMOVED***

.arcade-hero-wrapper div.leaf:nth-child(5) {
    background-color: purple;
***REMOVED***



/*rightToLeft Animation*/

@-moz-keyframes rightToLeft {
    0% {
        opacity: 0;
***REMOVED***
    5% {
        opacity: 0;
        -moz-transform: translateX(-100%);
***REMOVED***
    10% {
        opacity: 1;
        -moz-transform: translateX(0px);
***REMOVED***
    25% {
        opacity: 1;
        -moz-transform: translateX(0px);
***REMOVED***
    30% {
        opacity: 0;
        -moz-transform: translateX(100%);
***REMOVED***
    80% {
        opacity: 0;
***REMOVED***
    100% {
        opacity: 0;
***REMOVED***
***REMOVED***

@-webkit-keyframes rightToLeft {
    0% {
        opacity: 0;
***REMOVED***
    5% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
***REMOVED***
    10% {
        opacity: 1;
        -webkit-transform: translateX(0px);
***REMOVED***
    25% {
        opacity: 1;
        -webkit-transform: translateX(0px);
***REMOVED***
    30% {
        opacity: 0;
        -webkit-transform: translateX(100%);
***REMOVED***
    80% {
        opacity: 0;
***REMOVED***
    100% {
        opacity: 0;
***REMOVED***
***REMOVED***

@-ms-keyframes rightToLeft {
    0% {
        opacity: 0;
***REMOVED***
    5% {
        opacity: 0;
        -ms-transform: translateX(-100%);
***REMOVED***
    10% {
        opacity: 1;
        -ms-transform: translateX(0px);
***REMOVED***
    25% {
        opacity: 1;
        -ms-transform: translateX(0px);
***REMOVED***
    30% {
        opacity: 0;
        -ms-transform: translateX(100%);
***REMOVED***
    80% {
        opacity: 0;
***REMOVED***
    100% {
        opacity: 0;
***REMOVED***
***REMOVED***

.big {
    margin: 4% 5%;
    font-size: 5vw;
    font-weight: 900;
    -webkit-text-stroke-width: thick;
    /* -webkit-text-stroke: #000 2px; */
    background: #0009;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    font-family: visuelt-black;
    text-shadow: 2px 2px 3px red;
***REMOVED***
.med {
    margin: 0% 27%;
    font-size: 3vw;
    font-weight: 500;
    -webkit-text-stroke-width: thick;
    background: #0009;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-family: visuelt-black;
    text-shadow: 2px 2px 3px red;
***REMOVED***

.small {
    margin: 3% 10%;
    font-size: 2vw;
    font-weight: 500;
    -webkit-text-stroke-width: thick;
    background: #0009;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-family: visuelt-black;
    text-shadow: 2px 2px 3px red;
***REMOVED***

img.HIS, img.CD, img.RLIRS {
    width: 9vw;
    position: absolute;
    box-shadow: 0px 0px 5px 2px #000;
***REMOVED***

img.HIS {
    top: 10%;
    left: 74%;
***REMOVED***

img.RLIRS {
    top: 25%;
    left: 83%;
***REMOVED***

img.CD {
    display: none;
***REMOVED***


/*
.arcade-hero-wrapper > div {
    animation: rightToLeft 25s linear infinite 0s;
    -ms-animation: rightToLeft 25s linear infinite 0s;
    -webkit-animation: rightToLeft 25s linear infinite 0s; 
***REMOVED***

.arcade-hero-wrapper div.leaf:nth-child(1) {
    animation-delay: 0s;
    -ms-animation-delay: 0s;
    -webkit-animation-delay: 0s;
***REMOVED***

.arcade-hero-wrapper div.leaf:nth-child(2) {
    animation-delay: 5s;
    -ms-animation-delay: 5s;
    -webkit-animation-delay: 5s;
***REMOVED***

.arcade-hero-wrapper div.leaf:nth-child(3) {
    animation-delay: 10s;
    -ms-animation-delay: 10s;
    -webkit-animation-delay: 10s;
***REMOVED***

.arcade-hero-wrapper div.leaf:nth-child(4) {
    animation-delay: 15s;
    -ms-animation-delay: 15s;
    -webkit-animation-delay: 15s;
***REMOVED***

.arcade-hero-wrapper div.leaf:nth-child(5) {
    animation-delay: 20s;
    -ms-animation-delay: 20s;
    -webkit-animation-delay: 20s;
***REMOVED***
*/