/** Email **/
body {
  font-size: 1.0em;
***REMOVED***

.main {
  height: 90.5vh;
***REMOVED***

.footer {
  display: none;
***REMOVED***

.arcade-container {
  display: grid;
  grid-column-gap: 1.5em;
  grid-template-columns: 15em auto 15em;
  grid-template-areas: "arcade-left-sidebar arcade-main arcade-right-sidebar";
***REMOVED***

.arcade-sidebar {
  margin: 10px 10px;
***REMOVED***



.arcade-game-invitation {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 2fr 1fr;
  border: 1px solid grey;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
  margin-top: 10px;
***REMOVED***





.game {
  min-width: 150px;
  position: relative;
  list-style: none;
  cursor: pointer;
***REMOVED***

.game-image {
  width: 100%;
  text-align: center;
  border: 3px solid #888;
  cursor: pointer;
  max-width: 375px;
  max-height: 240px;
  grid-area: gameimage;
***REMOVED***

.game-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 6px;
  text-align: center;
  cursor: pointer;
***REMOVED***


/* RIBBON */

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
***REMOVED***

.ribbon::before, .ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #990000;
***REMOVED***

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #990000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-transform: uppercase;
  text-align: center;
  /* z-index: 5; */
***REMOVED***

/* top left*/

.ribbon-top-left {
  top: -10px;
  left: -10px;
***REMOVED***

.ribbon-top-left::before, .ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
***REMOVED***

.ribbon-top-left::before {
  top: 0;
  right: 0;
***REMOVED***

.ribbon-top-left::after {
  bottom: 0;
  left: 0;
***REMOVED***

.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
***REMOVED***


.arcade-game-invitation {
  clear:both;
***REMOVED***
.arcade-game-row-name {
  float: left;
  cursor: pointer;
***REMOVED***
.arcade-game-row-options {
  margin-left: 30px;
  float: left;
  cursor: pointer;
***REMOVED***
.arcade-game-row-join {
  margin-left: 30px;
  float: left;
  cursor: pointer;
***REMOVED***




@media only screen and (max-width: 600px) {
  .main {
    max-width: unset;
  ***REMOVED***
  .arcade-container {
    grid-template-columns: 1fr;
    grid-template-areas: "arcade-left-sidebar" "arcade-main";
  ***REMOVED***
  .arcade-sidebar {
    display: none;
  ***REMOVED***
***REMOVED***

@media only screen and (min-width: 600px) {
***REMOVED***

