/** Email **/

:root {
  --saito-red: #639;
***REMOVED***

body {
  font-size: 1.0em;
  color: var(--saito-skyline-grey);
  background: linear-gradient(-45deg, #324 50%, #1e1e1f 100%);
***REMOVED***

button, .button, .file-label {
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  min-width: 10em;
  padding: 10px 6px;
  background: linear-gradient(-45deg, #426 50%, #213 100%);
  border: 1px solid var(--saito-red);
  color: var(--saito-skyline-grey);
  letter-spacing: 1px;
  transition: transform .25s;
  margin: 0.2em 0;
  min-width: 180px;
***REMOVED***

button:hover, .button:hover {
  background: linear-gradient(-45deg, #537 50%, #324 100%);
***REMOVED***

select {
  border: 1px solid var(--saito-red);
  border-radius: 5px;
  font-size: 1em;
  padding: 10px 6px;
  background: linear-gradient(-45deg, #222 50%, #1e1e1f 100%);
  border: 1px solid var(--saito-red);
  color: var(--saito-skyline-grey);
  letter-spacing: 1px;
  transition: transform .25s;
  min-width: 180px;
***REMOVED***

input {
  background: #55555555;
  color: var(--saito-skyline-grey);
***REMOVED***

.background-shim {
  position: absolute;
  top: 4em;
  left: 0;
  width: 100%;
  height: calc(100vh - 4em);
  background-size: cover;
  z-index: 0;
***REMOVED***

.background-shim-cover {
  width: 100%;
  height: 100%;
  background-color: #00000099;
***REMOVED***

.main {
  height: calc(100vh - 5em);
  width: 100vw;
  /* 90.5vh; */
***REMOVED***

.footer {
  display: none;
***REMOVED***

.arcade-container {
  display: grid;
  grid-column-gap: 1.5em;
  grid-template-columns: 15em auto 15em;
  grid-template-areas: "arcade-left-sidebar arcade-main arcade-right-sidebar";
  font-size: 1.11em;
***REMOVED***

.arcade-sidebar {
  margin: 10px 10px;
***REMOVED***

.sidebar>div {
  margin: 1.5em 0;
***REMOVED***

.arcade-sidebar-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
***REMOVED***

.arcade-sidebar-active-games-header {
  text-align: center;
***REMOVED***

.arcade-sidebar-active-games-body {
  border: 1px solid var(--saito-red);
  background: #1e1e1f50;
  height: 40vh;
  overflow-y: auto;
***REMOVED***

.arcade-observer-game-row {
  /* border: 1px solid grey;
  padding: 10px;
  margin-top: 10px; */
  /* border: 1px solid grey; */
  padding: 10px;
  margin-bottom: 10px;
  background: whitesmoke;
***REMOVED***

#arcade-play-btn {
  padding-bottom: 1.7em;
***REMOVED***

.chat-list {
  height: 255px;
  overflow-y: auto;
  border: 1px solid var(--saito-red);
  background: #1e1e1f50;
***REMOVED***

/** MAIN **/

.arcade-main {
  /* display: grid;
  justify-content: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
***REMOVED***

.arcade-gamelist {
  width: 100%;
***REMOVED***

.game-options-html {
  /*display: flex;*/
***REMOVED***

.pill {
  background: var(--saito-cyber-black);
  color: white;
  padding: 7px;
  border-radius: 50px;
  min-width: 4em;
  text-align: center;
  margin: 2px;
***REMOVED***

.arcade-extra {
  width: 100%;
***REMOVED***

.arcade-game-invitation {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  border: 1px solid #84C;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
  margin-top: 10px;
***REMOVED***

/** Game Carousel **/

#arcade-carousel {
  width: 100%;
  max-width: 1100px;
  justify-self: center;
***REMOVED***

.glide__arrows {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 6em;
  padding: 0px 10px;
***REMOVED***

.glide__arrow {
  margin: unset;
  background: var(--saito-cyber-black);
  color: var(--saito-skyline-grey);
  border: unset;
  min-width: unset;
  border-radius: 50px;
***REMOVED***

.game {
  min-width: 150px;
  position: relative;
  list-style: none;
  cursor: pointer;
***REMOVED***

.game-image {
  width: 100%;
***REMOVED***

.game-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 6px;
  text-align: center;
  cursor: pointer;
***REMOVED***

/* GAME WIZARD */

.create-game-wizard, .escrow-game-wizard {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 80%;
  margin: 1em auto;
  background-color: #0009;
  padding: 1em;
  z-index: 5;
  max-width: 900px;
***REMOVED***

.escrow-game-wizard div {
  margin: 1em 0;
***REMOVED***

.game-wizard-form {
  display: grid;
  grid-gap: 1em;
***REMOVED***

.game-info-container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
***REMOVED***

.game-start-controls {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 4fr;
***REMOVED***

@media only screen and (max-width: 650px) {
  .game-info-container {
    grid-template-columns: 1fr;
  ***REMOVED***
  .game-start-controls {
    grid-template-columns: 1fr;
  ***REMOVED***
***REMOVED***

/* .game-image-wizard {
  max-width: 500px;
***REMOVED*** */

.return_to_arcade {
  position: absolute;
  right: 25px;
  display: inline-block;
  top: 0;
  width: 0;
  top: -20px;
***REMOVED***

.game-description {
  font-size: 1.2em;
  line-height: 1.2em;
  text-align: justify;
***REMOVED***

.game-details form#options {
  display: grid;
  grid-template-columns: 6em auto;
  grid-gap: 1em;
***REMOVED***

/* USED BY WORDBLOCKS */

#options {
  display: grid;
  grid-template-columns: 10em auto;
***REMOVED***

/* observer mode box */

.arcade-observer-game-players {
  float: right;
***REMOVED***

.arcade-observer-game-players-identicon {
  height: 60px;
  width: 60px;
  float: right;
  margin-left: 8px;
***REMOVED***

.arcade-observer-game-name {***REMOVED***

.arcade-observer-game-row {***REMOVED***

/* RIBBON */

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
***REMOVED***

.ribbon::before, .ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #990000;
***REMOVED***

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #990000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-transform: uppercase;
  text-align: center;
  /* z-index: 5; */
***REMOVED***

/* top left*/

.ribbon-top-left {
  top: -10px;
  left: -10px;
***REMOVED***

.ribbon-top-left::before, .ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
***REMOVED***

.ribbon-top-left::before {
  top: 0;
  right: 0;
***REMOVED***

.ribbon-top-left::after {
  bottom: 0;
  left: 0;
***REMOVED***

.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
***REMOVED***

.arcade-game-invitation {
  clear: both;
***REMOVED***

.arcade-game-row-name {
  float: left;
  cursor: pointer;
***REMOVED***

.arcade-game-row-options {
  margin-left: 30px;
  float: left;
  cursor: pointer;
***REMOVED***

.arcade-game-row-join {
  margin-left: 30px;
  float: left;
  cursor: pointer;
***REMOVED***

.arcade-navigator, .arcade-apps {
  list-style: none;
  list-style-type: none;
  font-size: 1.2em;
  line-height: 1.4em;
  padding: 10px 0px;
***REMOVED***

.arcade-apps-wrapper {
  border: 1px solid var(--saito-red);
***REMOVED***

.arcade-navigator {
  border-bottom: 1px solid grey;
***REMOVED***

.arcade-navigator-item, .arcade-apps-item {
  cursor: pointer;
  border-bottom: 1px solid transparent;
  padding: 5px 0 2px 10px;
***REMOVED***

.arcade-apps-item:hover, .arcade-navigator-item:hover {
  background-color: #33669999;
***REMOVED***

@media only screen and (max-width: 600px) {
  .main {
    max-width: unset;
  ***REMOVED***
  .arcade-container {
    grid-template-columns: 1fr;
    grid-template-areas: "arcade-left-sidebar" "arcade-main";
  ***REMOVED***
  .arcade-left-sidebar {
    display: none;
  ***REMOVED***
  .arcade-right-sidebar {
    display: none;
  ***REMOVED***
  #arcade-carousel {
    max-width: 90vw;
  ***REMOVED***
  .arcade-gamelist {
    width: 100%;
  ***REMOVED***
  .arcade-game-invitation {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  ***REMOVED***
  .arcade-game-invitation div {
    margin-left: unset;
  ***REMOVED***
  /* .arcade-sidebar {
    display: none;
  ***REMOVED*** */
***REMOVED***

@media only screen and (min-width: 600px) {***REMOVED***

.remove_cards_box {
  max-height: 400px;
  overflow: auto;
  padding: 1em;
***REMOVED***

.removecards {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
***REMOVED***

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
***REMOVED***

/* Remove IE arrow */

select::-ms-expand {
  display: none;
***REMOVED***

/* Custom Select */

.saito-select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #55555555;
  overflow: hidden;
  border-bottom: 1px solid var(--saito-red);
  width: 100%;
***REMOVED***

select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
***REMOVED***

/* Arrow */

.saito-select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #55555533;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
***REMOVED***

/* Transition */

.saito-select:hover::after {
  color: var(--saito-red);
***REMOVED***

.game-details label {
  align-self: center;
  font-weight: bold;
***REMOVED***

option {
  background: var(--saito-cyber-black);
***REMOVED***

.play-now-holder {
  width: 100%;
***REMOVED***

.play-now {
  font-size: 1.6em;
  padding: 0.5em;
  width: 100%;
***REMOVED***

.start-game-list {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
***REMOVED***

.start-game {
  background: #0009;
  padding: 1em;
  width: 90%;
  margin: 2em auto;
  opacity: 0;
***REMOVED***

@media only screen and (max-width: 1000px) {
  .start-game-list {
    grid-template-columns: 1fr 1fr;
  ***REMOVED***
***REMOVED***

@media only screen and (max-width: 7500px) {
  .start-game-list {
    grid-template-columns: 1fr;
  ***REMOVED***
***REMOVED***

.arcade-game-list-item {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 2fr 3fr;
  cursor: pointer;
  border: 1px solid transparent;
***REMOVED***

.arcade-game-list-item:hover {
  border: 1px solid var(--saito-red);
***REMOVED***

.arcade-game-list-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
***REMOVED***

#game-list-wrapper {
  top: 5em;
  width: 100%;
  position: fixed;
  height: calc(100vh - 4em);
  overflow: auto;
  margin: auto;
  transition: all ease 0.5s;
  background: #00000099;
***REMOVED***