/** Email **/
body {
  font-size: 1.0em;
}

.main {
  height: 90.5vh;
}

.footer {
  display: none;
}

.arcade-container {
  display: grid;
  grid-column-gap: 1.5em;
  grid-template-columns: 15em auto 15em;
  grid-template-areas: "arcade-left-sidebar arcade-main arcade-right-sidebar";
}

.arcade-sidebar {
  margin: 10px 10px;
}






.game {
  min-width: 150px;
  position: relative;
}

.game-image {
  width: 100%;
  text-align: center;
  border: 3px solid #888;
  cursor: pointer;
  max-width: 375px;
  max-height: 240px;
  grid-area: gameimage;
}

.game-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 6px;
  text-align: center;
  cursor: pointer;
}


/* RIBBON */

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}

.ribbon::before, .ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #990000;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #990000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-transform: uppercase;
  text-align: center;
  /* z-index: 5; */
}

/* top left*/

.ribbon-top-left {
  top: -10px;
  left: -10px;
}

.ribbon-top-left::before, .ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}

.ribbon-top-left::before {
  top: 0;
  right: 0;
}

.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}

.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}





@media only screen and (max-width: 600px) {
  .main {
    max-width: unset;
  }
  .arcade-container {
    grid-template-columns: 1fr;
    grid-template-areas: "arcade-left-sidebar" "arcade-main";
  }
  .arcade-sidebar {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
}

