/** Email **/

:root {
  --saito-red: #639;
  --saito-nightscape: linear-gradient(-45deg, #324 50%, #1e1e1f 100%);
  --saito-jester: linear-gradient(-45deg, #426 50%, #213 100%);
}

body {
  font-size: 1.0em;
  color: var(--saito-skyline-grey);
  background: var(--saito-nightscape);
}

.arcade-announcement {
  cursor: pointer;
  font-size: 0.9em;
  width: 100%;
  padding: 5px;
  background: #66339910;
  border: 2px solid var(--saito-red);
  color: var(--saito-skyline-grey);
  letter-spacing: 1px;
  margin: 0;
  text-align: center;
  box-shadow: 0 0 2px #efefef;
}

.play-now {
  cursor: pointer;
  font-size: 1em;
  width: 100%;
  padding: 10px 6px;
  background: var(--saito-jester);
  border: 1px solid var(--saito-red);
  border-bottom: 0px;
  color: var(--saito-skyline-grey);
  letter-spacing: 1px;
  transition: transform .25s;
  margin: 0;
}

button, .button, .file-label {
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  min-width: 10em;
  padding: 10px 6px;
  background: var(--saito-jester);
  border: 1px solid var(--saito-red);
  color: var(--saito-skyline-grey);
  letter-spacing: 1px;
  transition: transform .25s;
  margin: 0.2em 0;
  min-width: 180px;
}

button:hover, .button:hover {
  background: linear-gradient(-45deg, #537 50%, #324 100%);
}

select {
  border: 1px solid var(--saito-red);
  border-radius: 5px;
  font-size: 1em;
  padding: 10px 6px;
  background: linear-gradient(-45deg, #222 50%, #1e1e1f 100%);
  border: 1px solid var(--saito-red);
  color: var(--saito-skyline-grey);
  letter-spacing: 1px;
  transition: transform .25s;
  min-width: 180px;
}

input {
  background: #55555555;
  color: var(--saito-skyline-grey);
}

.background-shim {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: calc(100vh - 80px);
  background-size: cover;
  z-index: 0;
}

.background-shim-cover {
  width: 100%;
  height: 100%;
  background-color: #00000099;
}

.main {
  height: calc(100vh - 5em);
  width: 100vw;
  /* 90.5vh; */
}

.footer {
  display: none;
}

.arcade-container {
  display: grid;
  grid-column-gap: 1.5em;
  grid-template-columns: 15em auto 20em;
  grid-template-areas: "arcade-left-sidebar arcade-main arcade-right-sidebar";
  font-size: 1em;
}

.arcade-sidebar {
  margin: 10px 10px;
}

.sidebar>div {
  margin: 0 0 2em 0;
}

button.add-games {
  width: 100%;
}

.big-create-game {
  display: none;
}

.arcade-leaderboard-row {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  padding: 0.5em;
  grid-gap: 1em;
}

.arcade-leaderboard-row-winner {
  overflow: hidden;
  text-overflow: ellipsis;
}

.arcade-leaderboard-row-module {}

.arcade-leaderboard-row-score {
  justify-self: end;
}

.arcade-sidebar-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.arcade-sidebar-active-games-header {
  font-size: 0.8em;
  text-align: left;
  background: var(--saito-jester);
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid var(--saito-red);
  border-bottom: 0px;
  margin: unset;
}

.arcade-sidebar-active-games-body, .arcade-sidebar-active-leaderboard-body {
  border: 1px solid var(--saito-red);
  background: #1e1e1f50;
  height: 40vh;
  overflow-y: auto;
}

.arcade-sidebar-active-leaderboard-body {
  height: 25vh;
}

.arcade-observer-game-row {
  /* border: 1px solid grey;
  padding: 10px;
  margin-top: 10px; */
  /* border: 1px solid grey; */
  padding: 10px;
  margin-bottom: 10px;
  background: whitesmoke;
}

#arcade-play-btn {
  padding-bottom: 1.7em;
}

.chat-header {
  background: var(--saito-nightscape);
  border: 1px solid var(--saito-red);
  border-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  background: var(--saito-jester);
}

.chat-list {
  height: 255px;
  overflow-y: auto;
  border: 1px solid var(--saito-red);
  background: #1e1e1f50;
}

/** MAIN **/

.arcade-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.arcade-gamelist {
  width: 100%;
}

.game-options-html {
  overflow-y: auto;
  max-height: 4em;
}

.pill {
  background: var(--saito-cyber-black);
  color: white;
  padding: 7px;
  border-radius: 50px;
  min-width: 4em;
  text-align: center;
  margin: 2px;
}

.arcade-extra {
  width: 100%;
}

.arcade-game-invitation {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 3fr 4fr auto auto;
  border: 1px solid #84C;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
  margin-top: 10px;
}

/** Game Carousel **/

#arcade-carousel {
  width: 100%;
  max-width: 1100px;
  justify-self: center;
}

.glide__arrows {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 6em;
  padding: 0px 10px;
}

.glide__arrow {
  margin: unset;
  background: var(--saito-cyber-black);
  color: var(--saito-skyline-grey);
  border: unset;
  min-width: unset;
  border-radius: 50px;
}

.game {
  min-width: 150px;
  position: relative;
  list-style: none;
  cursor: pointer;
}

.game-image {
  width: 100%;
}

.game-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 6px;
  text-align: center;
  cursor: pointer;
}

/* GAME WIZARD */

.create-game-wizard, .escrow-game-wizard {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 80%;
  margin: 1em auto;
  background-color: #0009;
  padding: 1em;
  z-index: 5;
  max-width: 900px;
  max-height: 67vh;
  top: 50%;
  transform: translateY(-50%);
}

.escrow-game-wizard div {
  margin: 1em 0;
}

.game-wizard-content {
  overflow-y: scroll;
  padding: 1em;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.game-wizard-content::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.game-wizard-form {
  display: grid;
  grid-gap: 1em;
}

.game-info-container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
}

.game-start-controls {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 4fr;
}

@media only screen and (max-width: 650px) {
  
  .create-game-wizard, .escrow-game-wizard {
    width: 85%;
    height: 70%;
  }
  .game-info-container {
    grid-template-columns: 1fr;
  }
  .game-start-controls {
    grid-template-columns: 1fr;
  }
}

/* .game-image-wizard {
  max-width: 500px;
} */

.return-to-arcade {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: -16px;
  top: -16px;
}

.game-description {
  font-size: 1.2em;
  line-height: 1.2em;
  text-align: justify;
}

.game-details form#options {
  display: grid;
  grid-template-columns: 6em auto;
  grid-gap: 1em;
}

/* USED BY WORDBLOCKS */

#options {
  display: grid;
  grid-template-columns: 10em auto;
}

/* observer mode box */

.arcade-observer-game-players {
  float: right;
}

.arcade-observer-game-players-identicon {
  height: 60px;
  width: 60px;
  float: right;
  margin-left: 8px;
}

.arcade-observer-game-name {}

.arcade-observer-game-row {}

/* RIBBON */

.rilbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}

.ribbon::before, .ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #990000;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #990000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-transform: uppercase;
  text-align: center;
  /* z-index: 5; */
}

/* top left*/

.ribbon-top-left {
  top: -10px;
  left: -10px;
}

.ribbon-top-left::before, .ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}

.ribbon-top-left::before {
  top: 0;
  right: 0;
}

.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}

.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

.arcade-game-row-avi {
  display: inline;
}

.arcade-game-row-avi img {
  border: 1px solid grey;
}

.identicon {
  width: 100%;
  max-width: 2em;
  min-width: 2em;
  margin: 0 3px;
}

.arcade-game-invitation {
  clear: both;
}

.arcade-game-row-name {
  cursor: default;
  padding: 0 0 0 0.5em;
  font-size: 1.2em;
}

.arcade-game-row-options {
  margin-left: 10px;
  float: left;
  cursor: pointer;
  padding-right: 5px;
}

.arcade-game-row-buttons {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
  grid-area: buttons; */

  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.5em;
}


.arcade-game-row-join {
  margin-left: 30px;
  float: left;
  cursor: pointer;
}

.arcade-navigator, .arcade-apps {
  list-style: none;
  list-style-type: none;
  font-size: 1.2em;
  line-height: 1.4em;
  padding: 10px 0px;
}

.arcade-apps-wrapper {
  border: 1px solid var(--saito-red);
}

.arcade-navigator {
  border-bottom: 1px solid grey;
}

.arcade-navigator-item, .arcade-apps-item {
  cursor: pointer;
  border-bottom: 1px solid transparent;
  padding: 5px 0 2px 10px;
}

.arcade-apps-item:hover, .arcade-navigator-item:hover {
  background-color: #33669999;
}

@media only screen and (max-width: 600px) {
  .main {
    max-width: unset;
  }
  .arcade-container {
    grid-template-columns: 1fr;
    grid-template-areas: "arcade-left-sidebar" "arcade-main";
  }
  .arcade-left-sidebar {
    display: none;
  }
  .arcade-right-sidebar {
    display: none;
  }
  #arcade-carousel {
    max-width: 90vw;
  }
  .arcade-gamelist {
    width: 100%;
  }
  .arcade-game-invitation {
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "id title"
        "options options"
        "buttons buttons";
    grid-gap: 0.5em;
  }
  .arcade-game-row-options {
    margin-left: unset;
  }
  .arcade-game-row-name {
    padding: unset;
    font-size: 1.5em;
  }
  .arcade-game-row-options {
    grid-area: options;
  }
  .arcade-game-row-buttons {
    grid-area: buttons;
  }
  .arcade-game-row-buttons button {
    min-width: 40vw;
  }
  .arcade-game-row-cancel {
    grid-column: 1/3;
  }
  .identicon {
    float: right;
  }
}

@media only screen and (min-width: 600px) {}

.remove_cards_box {
  max-height: 400px;
  overflow: auto;
  padding: 1em;
}

.removecards {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Remove IE arrow */

select::-ms-expand {
  display: none;
}

/* Custom Select */

.saito-select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #55555555;
  overflow: hidden;
  border-bottom: 1px solid var(--saito-red);
  width: 100%;
}

select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}

/* Arrow */

.saito-select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #55555533;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

/* Transition */

.saito-select:hover::after {
  color: var(--saito-red);
}

.game-details label {
  align-self: center;
  font-weight: bold;
}

option {
  background: var(--saito-cyber-black);
}

.play-now-holder {
  width: 100%;
}

.play-now {
  font-size: 1.6em;
  padding: 0.5em;
  width: 100%;
  background: var(--saito-red);
  border-radius: 5px;
  text-align: center;
  margin-bottom: 1em;
}

.start-game-list {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
}

.start-game-btn {
  text-transform: capitalize;
  margin: 3em 0;
}

.start-game {
  background: #000;
  padding: 1em;
  width: 90%;
  margin: auto;
  margin-top: 12%;
  opacity: 0;
}

.start-game-list .return-to-arcade {
  cursor: pointer;
  right: 45px;
  top: 13%;
}

@media only screen and (max-width: 1000px) {
  .start-game-list {
    grid-template-columns: 1fr 1fr;
  }
  .big-create-game {
    margin: 1em 0;
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  .start-game-list {
    grid-template-columns: 1fr;
  }
  .start-game-list .return-to-arcade {
    right: 10px;
    top: 25px;
  }
}

.arcade-game-list-item {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 2fr 3fr;
  cursor: pointer;
  border: 1px solid var(--saito-red);
  padding: 10px;
}

.arcade-game-list-item:hover {
  border: 1px solid var(--saito-red);
}

.arcade-game-list-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#game-list-wrapper {
  /* top: 5em; */
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  position: fixed;
  height: calc(100vh);
  overflow: auto;
  margin: auto;
  transition: all ease 0.5s;
  background: #00000099;
}

.arcade-main-hero {
  width: 100%;
}


.header {
  background: none;
}

/** ARCADE INIT **/

.arcade-initialize-game-container {
  display: grid;
  grid-gap: 1em;
  padding: 2em;
  font-size: 1.3em;
}

/** ARCADE INVITATION **/

.arcade-invite-container {
  grid-gap: 1em;
  grid-template-rows: 4em 4em auto;
  padding: 0 20%;
  text-align: center;
}

.arcade-invite-initializer {
  display: grid;
  grid-template-rows: 4em 4em;
}

#invite-game-spinner {
  margin: unset;
  display: none;
  justify-self: center;
  width: 6em;
  height: 6em;
}

/** CHAT STYLING **/

.chat-row {
  /* no border */
  border-bottom: 0px solid var(--saito-red);
}

.chat-row:hover {
  background-color: #33669999;
}

.chat-box {
  background-color: var(--saito-cyber-black);
  border: 1px solid var(--saito-red);
}

.chat-box-main {
  background: var(--saito-nightscape);
  color: #ffffff;
}

.chat-box-header {
  border-bottom: 1px solid var(--saito-red);
  background: var(--saito-jester);
}

.chat-message-others {
  color: black;
}

.chat-box-input {
  border-top: 1px solid var(--saito-red);
}

.chat-box-new-message-input {
  background: var(--saito-cyber-black);
  color: white;
}

.chat-room-submit-button {
  background: #426;
}

.chat-message-header {
  color: #ffffff;
}

#alert-box {
  background: var(--saito-nightscape);
}

/* .arcade-game-row-delete {
  margin: 0 0 0 12px;
} */

.loader {
  margin: 25%;
}

/* achiecvments */

.arcade-sidebar-row {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 4em auto;
  margin: 1em;
}

.arcade-sidebar-row i {
  font-size: 2em;
}

.arcade-sidebar-row span {
  font-size: 1.2em;
}

.badge {
  width: 2em;
    border: 2px solid white;
    border-radius: 1em;
    display: inline-block;
}

.arcade-sidebar-row i span {
  font-size: 0.7em;
  line-height: 1.2em;
  display: inline-block;
}

span.rewards-row-name {
  align-self: center;
}

.arcade-sidebar-row span {
  font-size: 1.2em;
  text-align: left;
}

.game-details {
  margin: 2em 0;
}

#game-invite-controls div {
  margin: 1em 0;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 20em 1fr;
}

#game-invite-controls button {
  width: 100%;
}

#game-publisher-message {
  margin: 2em 1em 0;
}

@media only screen and (max-width: 600px) {
  #game-invite-controls div {
    grid-template-columns: 1fr;
    grid-gap: 5px;
    margin: 2em 0;
  }
}