.settings-grid {
    display: grid;
    grid-template-columns: 7em 1fr;
    grid-gap: 10px;
    margin: 10px 0;
}

.settings-buttons {
    display: grid;
    grid-template-columns: 15em 15em;
    grid-gap: 10px;
    margin: 10px 0;
}

#privatekey {
    width: 95%;
}

#qrcode {
    display: inline-block;
}

i.installed.fas.fa-check-circle {
  font-size: 3em;
}

