

.container {
    display: grid;
    grid-gap: 1em;
***REMOVED***

.welcome {
    grid-template-rows: 17.5em auto;
***REMOVED***

.wallet-container {
    font-family: 'visuelt-light';
***REMOVED***

.wallet-container-row {
    display: flex;
    justify-content: space-between;
***REMOVED***

.module-container {
    display: flex;
    justify-content: space-around;
***REMOVED***

.icon-small {
    font-size: 1em;
***REMOVED***

.icon-med {
    font-size: 1.33em;
***REMOVED***

.icon-large {
    font-size: 2em;
***REMOVED***

/** CHAT CSS **/

.chat {***REMOVED***

.chat-row {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: 2.5em auto 2.5em;
    border-bottom: 1px solid var(--saito-skyline-grey);
    padding: 10px 0px;
    height: 5em;
    cursor: pointer;
***REMOVED***

.chat-last-message {
    font-family: visuelt-light;
***REMOVED***

.chat-last-message-timestamp {
    font-family: visuelt-light;
***REMOVED***

/** CHAT ADD **/

.chat-add {
    display: grid;
    height: 22vh;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1em;
    align-self: end;
***REMOVED***

/** CHAT ROOM **/

.chat-room {***REMOVED***

.chat-room-header {
    grid-template-columns: 5.2em auto 2em 3.2em;
    align-items: center;
    color: white;
***REMOVED***

.chat-room-name {
    text-align: center;
    color: white;
    font-size: 1.25em;
***REMOVED***

.chat-room-content {
    display: grid;
    row-gap: 0.75em;
    padding-bottom: 1em;
***REMOVED***

.chat-room-message {
    /* display: grid;
    grid-gap: 0.5em; */
    padding: 1em;
    max-width: 75%;
    border-radius: 5px;
***REMOVED***

.chat-message-text {
    word-wrap: break-word;
    margin-bottom: 5px;
***REMOVED***

.chat-message-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    color: darkgrey;
***REMOVED***

.chat-message-timestamp {
    margin-left: 1em;
***REMOVED***

.chat-room-message-others {
    background: var(--saito-skyline-grey);
    justify-self: left;
***REMOVED***

.chat-room-message-myself {
    background: var(--saito-cyber-black);
    color: white;
    justify-self: right;
***REMOVED***

.chat-room-footer {
    padding: 0 0 0 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
***REMOVED***

.chat-room-input {
    display: grid;
    grid-template-columns: auto 3em;
    align-items: center;
    width: 100%;
***REMOVED***

.chat-room-input>textarea {
    height: 2.75em;
    font-size: 1em;
    padding: 10px 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    resize: none;
***REMOVED***

.chat-room-submit-button {
    justify-self: center;
    background: var(--saito-red);
    padding: 7px 10px;
    color: white;
    border-radius: 100px;
    cursor: pointer;
***REMOVED***

/** ARCADE CSS **/

.arcade {
    grid-template-rows: 1.5em auto;
***REMOVED***

.arcade-content {
    overflow: auto;
***REMOVED***

.games-table-header {
    display: grid;
    grid-template-columns: 85% 15%;
    align-items: center;
***REMOVED***

.game {
    margin-right: 1em;
    width: 88vw;
***REMOVED***

.gamelist {
    display: flex;
    overflow-x: scroll;
***REMOVED***

.arcade-start-game {
    margin-top: 1em;
    grid-gap: 1em;
***REMOVED***

.gameimage {
    text-align: center;
    border: 3px solid #888;
    cursor: pointer;
    max-height: 12em;
***REMOVED***

#options {
    display: grid;
    grid-row-gap: 0.5em;
    grid-template-columns: 1fr 1fr;
***REMOVED***

#options>select {
    border: 1px solid black;
    padding: 1em;
    border-radius: 5px;
    background: white;
***REMOVED***

/*.games-play-button {
    background-color: var(--saito-red);
    color: white;
    border-radius: 100px;
    position: fixed;
    bottom: 10vh;
    right: 3vw;
    width: 3.2em;
    height: 3.2em;
***REMOVED****/

.games-table {
    /*display: grid;
    grid-gap: 5px;*/
***REMOVED***

.games-author {
    font-family: 'visuelt-light';
***REMOVED***

.games-row {
    display: grid;
    grid-template-columns: 2.5em auto 7em;
    border: 2px solid var(--saito-skyline-grey);
    padding: 10px;
    margin-top: 5px;
***REMOVED***

.games-content {
    display: grid;
    grid-gap: 0.25em;
***REMOVED***

.games-button {
    max-height: 3.5em;
    align-self: center;
***REMOVED***

.accept-button {***REMOVED***

.delete-button {
    max-height: 3.5em;
    align-self: center;
    background: var(--saito-red);
***REMOVED***

/** FORUM CSS **/

.forum {***REMOVED***

.forum-row {
    display: grid;
    grid-template-columns: 2.5em auto 1em;
    grid-column-gap: 1em;
    padding: 10px 0px;
    border-bottom: 1px solid var(--saito-skyline-grey);
***REMOVED***

.forum-meta-data {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
***REMOVED***

.forum-author {
    font-family: visuelt-light;
***REMOVED***

.forum-channel {
    color: darkgrey;
***REMOVED***

.forum-comments {
    font-family: visuelt-light;
    margin-top: 10px;
***REMOVED***

.forum-voting {
    display: grid;
    justify-items: center;
    max-height: 5em;
***REMOVED***

.forum-score {
    text-align: center;
***REMOVED***

/** FORUM ADD POST **/

#forum-add-post {
    display: grid;
    grid-gap: 0.5em;
***REMOVED***

#forum-add-post input[type="text"] {
    width: 100%;
***REMOVED***

#forum-add-post textarea {
    width: 100%;
    height: 220px;
    border: 1px solid darkgrey;
    border-radius: 3px;
    padding: 10px 7px;
    font-size: 0.9em;
***REMOVED***

#forum-toggle {
    background-color: var(--saito-skyline-grey);
    color: black;
***REMOVED***

/** FORUM DETAIL CSS **/

.forum-detail>section {
    padding: 10px 0px;
***REMOVED***

.forum-header>.forum-row {
    padding: 0px 0px 10px 0px;
    height: 5em;
***REMOVED***

#forum-detail-text {
    padding: 10px 0px;
    min-height: 15vh;
***REMOVED***

#forum-post-comment {
    display: grid;
    grid-gap: 1em;
***REMOVED***

#forum-comment-text-input {
    padding: 10px 7.5px;
    height: 20vh;
    border: 1px solid lightgrey;
    border-radius: 3px;
***REMOVED***

.forum-comment {
    display: grid;
    grid-template-columns: auto 1rem;
    row-gap: 1em;
***REMOVED***

.forum-comment>textarea {
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 10px 7px;
    grid-column: 1 / 3;
    height: 10em;
***REMOVED***

.forum-comment>button {
    grid-column: 1 / 3;
***REMOVED***

.forum-comment-content {
    display: grid;
    row-gap: 5px;
***REMOVED***

#forum-comments-table {
    display: grid;
    row-gap: 1.5em;
***REMOVED***

.forum-comment-buttons {
    font-size: 0.9em;
***REMOVED***

#forum-comment-text {
    padding: 5px 0px;
***REMOVED***

/** WALLET CSS **/

#qrcode {
    justify-self: center;
    border: 2px solid var(--saito-cyber-black);
    padding: 10px;
    border-radius: 5px;
***REMOVED***

.register-button {
    width: 100%;
    margin-top: 1em;
***REMOVED***

/** COMPONENTS CSS **/

/** FOOTER **/

.footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 8vh;
    border-top: 1px solid var(--saito-skyline-grey);
    font-family: visuelt-light;
    background: var(--backround-general);
    /* overscroll-behavior: none; */
***REMOVED***

/** NAV BAR **/

.nav-bar {
    display: flex;
    justify-content: space-between;
    font-family: visuelt-light;
    padding: 0 1em;
    color: var(--text-color-normal);
***REMOVED***

.nav-button {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 0.5em 0;
***REMOVED***

/** Dark Mode **/

/** SETTINGS **/

.settings {***REMOVED***

.settings-button-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1em;
    grid-gap: 0.25em;
***REMOVED***

.settings-peer-table {***REMOVED***

.settings-dns {
    margin: 1em 0em;
***REMOVED***

.settings-dns-table {
    display: grid;
    grid-gap: 0.5em;
    margin-top: 0.5em;
***REMOVED***

.settings-dns-row {
    display: flex;
    justify-content: space-between;
***REMOVED***

.settings-dns-row>div {
    font-family: visuelt-light;
***REMOVED***

#theme-mode i {
    float: right;
***REMOVED***

.explorer-main {
    margin-top: 75px;
    padding: 0 10px;
    line-height: 1.6em;
    font-family: "visuelt-light";
    height: 91vh;
    overflow: auto;
    padding: 1em 12px;
***REMOVED***