/* 

Generic Style Settings for Modules in the Saito App Suite

*/

/* Visuelt fonts */

@font-face {
    font-family: 'visuelt-black';
    src: url('/saito/fonts/visuelt-black.eot');
    src: url('/saito/fonts/visuelt-black.eot?#iefix') format('embedded-opentype'), url('/saito/fonts/visuelt-black.woff2') format('woff2'), url('/saito/fonts/visuelt-black.woff') format('woff'), url('/saito/fonts/visuelt-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
***REMOVED***

@font-face {
    font-family: 'visuelt-light';
    src: url('/saito/fonts/visuelt-light.eot');
    src: url('/saito/fonts/visuelt-light.eot?#iefix') format('embedded-opentype'), url('/saito/fonts/visuelt-light.woff2') format('woff2'), url('/saito/fonts/visuelt-light.woff') format('woff'), url('/saito/fonts/visuelt-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
***REMOVED***

@font-face {
    font-family: 'visuelt-medium';
    src: url('/saito/fonts/visuelt-medium.eot');
    src: url('/saito/fonts/visuelt-medium.eot?#iefix') format('embedded-opentype'), url('/saito/fonts/visuelt-medium.woff2') format('woff2'), url('/saito/fonts/visuelt-medium.woff') format('woff'), url('/saito/fonts/visuelt-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
***REMOVED***

/* HTML and Page Structure */

:root {
    --saito-red: rgb(247, 31, 61);
    --saito-orange: #ff8235;
    --saito-skyline-grey: rgb(234, 234, 239);
    --saito-cyber-black: rgb(28, 28, 35);
    --saito-white: #ffffff;
    --saito-red-wash: rgb(247, 31, 61, 0.3);
    --saito-cyber-black-wash: rgb(28, 28, 35, 0.3);
    --saito-cyber-black-cut: rgb(28, 28, 35, 0.5);
***REMOVED***

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
***REMOVED***

html {
    --text-color-normal: var(--saito-cyber-black);
    --backround-general: var(--saito-white);
    --text-color-highlight: var(--saito-red);
***REMOVED***

html[data-theme='dark'] {
    --text-color-normal: var(--saito-skyline-grey);
    --backround-general: var(--saito-cyber-black);
    --text-color-highlight: var(--saito-red);
***REMOVED***

html, body {
    /* position: fixed;
    overflow: hidden; */
***REMOVED***

p {
    font-family: 'visuelt-light';
***REMOVED***

body {
    /* width: 100vw;
    height: 100vh; */
    background-color: var(--backround-general);
    color: var(--text-color-normal);
***REMOVED***

h1, h2, h3, h4, h5, h6, p {
    margin: 0.5em 0;
***REMOVED***


hr {
    margin: 1em 0;
***REMOVED***

.spacer {
    margin-bottom: 2.5em;
***REMOVED***

.monospace {
    font-family: monospace, 'Courier New', Courier;
***REMOVED***

/* Forms and Inputs */

button, .button, .file-label {
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    min-width: 10em;
    padding: 10px 6px;
    background: #fefefe;
    border: 1px solid var(--saito-red);
    margin: 0 1em 1em 0;
    color: var(--saito-red);
    letter-spacing: 1px;
    transition: transform .25s;
    margin: 0.2em 0;
***REMOVED*** 

button:active, .button:active {
    transform: scale(.96);
  ***REMOVED***

button:hover, .button:hover {
    text-shadow: #ffffff 1px 0;
    background: var(--saito-red);
    color: #ffffff;
***REMOVED***

button.super {
    padding: 12px 8px 8px 8px;
    font-size: 1.4em;
    font-family: visuelt-medium;
    letter-spacing: 2px;
    background-color: var(--saito-red);
    border: 1px solid var(--saito-red);
    color: white;
    text-transform: uppercase;
    height: 2em;
***REMOVED***

button.super:hover, .button.super:hover {
    text-shadow: var(--saito-skyline-grey) 1px 0;
***REMOVED***

button.sub {
    border: 1px solid var(--saito-cyber-black);
    color: var(--saito-cyber-black);
***REMOVED***

button.sub:hover, .button.sub:hover {
    text-shadow: var(--saito-cyber-black) 1px 0;
    background: var(--saito-skyline-grey);
***REMOVED***

.button-main {
    font-size: 1.2em;
    line-height: 1.9em;
    font-family: visuelt-medium;
    letter-spacing: 2px;
***REMOVED***

button i {
    margin: 0 0.5em;
***REMOVED***

fieldset {
    padding: 1em;
    border: 1px solid var(--saito-cyber-black-wash);
***REMOVED***

.button-secondary {
    background: var(--saito-orange);
    border: 1px solid var(--saito-orange);
    font-family: visuelt-medium;
    letter-spacing: 1.5px;
    overflow: hidden;
    height: 1.9em;
***REMOVED***

.grid-4 {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: auto 1fr auto 1fr;
    margin: 0 0 1em 0;
***REMOVED***

.grid-4 div:nth-child(2n-1), .grid-2 div:nth-child(2n-1) {
    font-family: visuelt-medium;
***REMOVED***

.grid-4 div, .grid-2 div {
    align-self: center;
***REMOVED***

.grid-2 {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: auto 1fr;
    margin: 0 0 1em 0;
***REMOVED***

.grid-1-2-columns {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: auto 1fr;
    margin: 0 0 1em 0;
***REMOVED***

.grid-2-columns {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    margin: 0 0 1em 0;
***REMOVED***

.grid-3-columns {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 0 1em 0;
***REMOVED***

.grid-2 div, .grid-4 div {
    padding: 0.5em 0;
***REMOVED***

@media only screen and (max-width: 1000px) {
    .grid-4 {
        grid-template-columns: 5em 1fr;
***REMOVED***

    .grid-1-2-columns, .grid-3-columns {
        grid-template-columns: 1fr;
***REMOVED***

    .grid-2 div, .grid-4 div, .grid-2-columns div, .grid-3-columns div, .grid-1-2-columns div {
        overflow: hidden;
***REMOVED***

***REMOVED***

input {
    cursor: pointer;
***REMOVED***

input[type=text], input[type=number], input[type=range], input[type=password] {
    width: 100%;
    border: none;
***REMOVED***

input[type=number] {
    width: 80%;
***REMOVED***

input[type=checkbox], input[type=radio] {
    margin: 0 1em;
    width: 20px;
    height: 20px;
***REMOVED***

input[type=text], input[type=number], input[type=password], input[type=date] {
    border: none;
    padding: 10px 5px;
    border-radius: 0px;
    font-size: 1.2em;
    border-bottom: 1px solid var(--saito-cyber-black-wash);
***REMOVED***

input[type=file] {
    border: none;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
***REMOVED***

select {

    float: left;
    display: block;
    background-color: #efefef;
    outline: none;
    padding: 1em 0;
    font-size: 1.3em;
    color: 1px solid #7b6f6f;
    border: 1px solid #7b6f6f;
***REMOVED***

textarea {
    width: 100%;
    min-height: 10em;
    border: 1px solid var(--saito-cyber-black-wash);
    padding: 1em;
    margin: 0 0 1em 0;
***REMOVED***

textarea:focus {
    outline: none;
***REMOVED***

input:focus{
    outline: none;
    border-bottom: 1px solid var(--saito-red);
***REMOVED***

input::hidden {
    border: none;
***REMOVED***

label.treated {
    color: var(--saito-red);
***REMOVED***

#alert-shim {
    z-index: 2000;
    background-color: #0008;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
***REMOVED***

#alert-box {
    width: 50%;
    transition: all 333ms ease-in-out;
    background: rgb(234, 234, 239);
    margin: auto;
    position: relative;
    top: -500px;
    border: 1px solid var(--saito-red);
    border-radius: 0 0 5px 5px;
    padding: 1em 1em 3.5em 1em;
***REMOVED***

#alert-buttons {
    float: right;
    margin: 0 0 0 1em;
***REMOVED***

#alert-box button {
    margin: 0;
***REMOVED***

#alert-box p {
        font-family: 'visuelt-light';
        font-size: 1.4em;
        text-align: center;
        align-self: center;
        font-weight: bold;
        display: block;
        margin: 1em 0;
***REMOVED***

.top-0 {
    top: 0 !important;
***REMOVED***

/* Page Sections */

.header {
    display: grid;
    height: 5em;
    padding: 0 1em;
    background-image: url(/saito/img/dreamscape.png);
    background-position: 0em;
    background-size: cover;
    /* sus and still out to jury */
    position: fixed;
    width: 100%;
    top: 0%;
***REMOVED***

.header-home {
    /* grid-template-columns: auto 2em 3.2em; */
    grid-template-columns: auto 3.2em 3.2em;
    align-items: center;
***REMOVED***

.header-icon {
    color: white;
    align-self: center;
    justify-self: end;
    text-shadow: #333 1px 0;
    cursor: pointer;
***REMOVED***

.header-dropdown {
    position: absolute;
    right: -200px;
    top: 90px;
    background: white;
    color: var(--text-color-normal);
    padding: 15px;
    font-family: visuelt-light;
    border: 1px solid var( --saito-cyber-black-cut);
    border-radius: 5px 0 0 5px;
    width: 200px;
    font-size: 1.4em;
    height: calc(100vh - 100px);
    box-sizing: border-box;
    box-shadow: 0px 0px 3px 1px rgba(170,170,170,0.75);
    background-color: #fcfcfc;
    transition: all 500ms ease;
***REMOVED***

.show-right-sidebar {
    right: 0;
***REMOVED***

/*
#modules-dropdown {
    right: 2.7em;
***REMOVED***
*/

.header-dropdown ul li {
    border: 1px solid var(--saito-cyber-black-cut);
    border-radius: 5px;
    background: var(--saito-skyline-grey);
    margin: 0 0 1em 0;
    text-align: center;
    height: 2.25em;
    padding: 11px 0 0 0;
***REMOVED***

.header-dropdown ul li:hover {
    border-color: var(--saito-red);
    color: var(--saito-red);
***REMOVED***

.header-dropdown-modules {
    padding-bottom: 0.5em;
    border-bottom: 1px solid grey;
***REMOVED***

.header-dropdown-settings {
    padding-top: 0.5em;
***REMOVED***

.header-dropdown ul {
    list-style: none;
    list-style-type: none;
    line-height: 1.5em;
    cursor: pointer;
***REMOVED***

.header-dropdown a {
    text-decoration: none;
    color: black;
***REMOVED***

#back-button {
    cursor: pointer;
***REMOVED***

.logo {
    height: 3em;
***REMOVED***

.main {
    display: grid;
    grid-gap: 1.5em;
    font-family: 'visuelt-light';
    padding: 1em;
    /* margin: 1em; */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
    /* Partially sus */
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    /* enables “momentum” (smooth) scrolling */
    /* sus and still out to jury */
    height: calc(100vh - 5em);
    margin-top: 5em;
    /* margin-bottom: 9vh; */
    margin-left: auto;
    margin-right: auto;
    max-width: 100vw;
***REMOVED***

.main::-webkit-scrollbar {
    /* WebKit */
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
***REMOVED***

.container {
    display: grid;
    grid-gap: 1em;
***REMOVED***

.welcome {
    grid-template-rows: 17.5em auto;
***REMOVED***

.create-button {
    background-color: var(--saito-red);
    border: var(--saito-red);
    cursor: pointer;
    color: white;
    border-radius: 100px;
    position: fixed;
    right: 1em;
    bottom: 1em;
    width: 3.2em;
    height: 3.2em;
***REMOVED***

.create-button:focus {
    outline: 0;
***REMOVED***

.wallet-container {
    font-family: 'visuelt-light';
***REMOVED***

.wallet-container-row {
    display: flex;
    justify-content: space-between;
***REMOVED***

.module-container {
    display: flex;
    justify-content: space-around;
***REMOVED***

.icon-small {
    font-size: 1em;
***REMOVED***

.icon-med {
    font-size: 1.33em;
***REMOVED***

.icon-med:hover {
     color: var(--saito-red-wash);
***REMOVED***

.icon-large {
    font-size: 2em;
***REMOVED***

.module-button {
    border: 2px solid var(--saito-cyber-black);
    text-align: center;
    border-radius: 10px;
    width: 25vw;
    padding: 0.75em 1.25em;
    text-align: center;
***REMOVED***

/** MODAL **/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
***REMOVED***

  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 1.5em;
    border: 1px solid #888;
    width: 80%;
    font-size: 1.3em;
    border-radius: 5px;
***REMOVED***

  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 1em;
    font-weight: bold;
    height: 0px;
***REMOVED***

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
***REMOVED***

/** CHAT CSS **/
/*
.chat {***REMOVED***

.chat-row {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: 2.5em auto 2.5em;
    border-bottom: 1px solid var(--saito-skyline-grey);
    padding: 10px 0px;
    height: 5em;
    cursor: pointer;
***REMOVED***

.chat-last-message {
    font-family: visuelt-light;
***REMOVED***

.chat-last-message-timestamp {
    font-family: visuelt-light;
***REMOVED***

/** CHAT ADD **/

/*
.chat-add {
    display: grid;
    height: 22vh;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1em;
    align-self: end;
***REMOVED***
*/

/** CHAT ROOM **/

/*
.chat-room {***REMOVED***

.chat-room-header {
    grid-template-columns: 5.2em auto 2em 3.2em;
    align-items: center;
    color: white;
***REMOVED***

.chat-room-name {
    text-align: center;
    font-size: 1.25em;
***REMOVED***

.chat-room-content {
    display: grid;
    row-gap: 0.75em;
    padding-bottom: 1em;
***REMOVED***

.chat-room-message {
    display: grid;
    grid-gap: 0.5em;
    padding: 1em;
    max-width: 75%;
    border-radius: 15px;
***REMOVED***

.chat-message-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    color: darkgrey;
***REMOVED***

.chat-message-timestamp {
    margin-left: 1em;
***REMOVED***

.chat-room-message-others {
    background: var(--saito-skyline-grey);
    justify-self: left;
    border-bottom-left-radius: 0;
***REMOVED***

.chat-room-message-myself {
    background: var(--saito-cyber-black);
    color: white;
    justify-self: right;
    border-bottom-right-radius: 0;
***REMOVED***

.chat-room-footer {
    padding: 0 0 0 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
***REMOVED***

.chat-room-input {
    display: grid;
    grid-template-columns: auto 3em;
    align-items: center;
    width: 100%;
***REMOVED***

.chat-room-input>textarea {
    height: 2.75em;
    font-size: 1em;
    padding: 10px 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    resize: none;
***REMOVED***

.chat-room-submit-button {
    justify-self: center;
    background: var(--saito-red);
    padding: 7px 10px;
    color: white;
    border-radius: 100px;
    cursor: pointer;
***REMOVED***
*/

/** ARCADE CSS **/
/*
.arcade {
    grid-template-rows: 1.5em auto;
***REMOVED***

.arcade-content {
    overflow: auto;
***REMOVED***

.games-table-header {
    display: grid;
    grid-template-columns: 85% 15%;
    align-items: center;
***REMOVED***

.game {
    margin-right: 1em;
    width: 88vw;
***REMOVED***

.gamelist {
    display: flex;
    overflow-x: scroll;
***REMOVED***

.arcade-start-game {
    margin-top: 1em;
    grid-gap: 1em;
***REMOVED***

.gameimage {
    text-align: center;
    border: 3px solid #888;
    cursor: pointer;
    max-height: 12em;
***REMOVED***

#options {
    display: grid;
    grid-row-gap: 0.5em;
    grid-template-columns: 1fr 1fr;
***REMOVED***

#options>select {
    border: 1px solid black;
    padding: 1em;
    border-radius: 5px;
    background: white;
***REMOVED***

*/

/*.games-play-button {
    background-color: var(--saito-red);
    color: white;
    border-radius: 100px;
    position: fixed;
    bottom: 10vh;
    right: 3vw;
    width: 3.2em;
    height: 3.2em;
***REMOVED****/

/* .games-table {
    /*display: grid;
    grid-gap: 5px;
***REMOVED***

/* .games-author {
    font-family: 'visuelt-light';
***REMOVED***

.games-row {
    display: grid;
    grid-template-columns: 2.5em auto 7em;
    border: 2px solid var(--saito-skyline-grey);
    padding: 10px;
    margin-top: 5px;
***REMOVED***

.games-content {
    display: grid;
    grid-gap: 0.25em;
***REMOVED***

.games-button {
    max-height: 3.5em;
    align-self: center;
***REMOVED***

.accept-button {***REMOVED***

.delete-button {
    max-height: 3.5em;
    align-self: center;
    background: var(--saito-red);
***REMOVED*** */

/** FORUM CSS **/

/* .forum {***REMOVED***

.forum-row {
    display: grid;
    grid-template-columns: 2.5em auto 1em;
    grid-column-gap: 1em;
    padding: 10px 0px;
    border-bottom: 1px solid var(--saito-skyline-grey);
***REMOVED***

.forum-meta-data {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
***REMOVED***

.forum-author {
    font-family: visuelt-light;
***REMOVED***

.forum-channel {
    color: darkgrey;
***REMOVED***

.forum-comments {
    font-family: visuelt-light;
    margin-top: 10px;
***REMOVED***

.forum-voting {
    display: grid;
    justify-items: center;
    max-height: 5em;
***REMOVED***

.forum-score {
    text-align: center;
***REMOVED*** */

/** FORUM ADD POST **/

/* #forum-add-post {
    display: grid;
    grid-gap: 0.5em;
***REMOVED***

#forum-add-post input[type="text"] {
    width: 100%;
***REMOVED***

#forum-add-post textarea {
    width: 100%;
    height: 220px;
    border: 1px solid darkgrey;
    border-radius: 3px;
    padding: 10px 7px;
    font-size: 0.9em;
***REMOVED***

#forum-toggle {
    background-color: var(--saito-skyline-grey);
    color: black;
***REMOVED*** */

/** FORUM DETAIL CSS **/

/* .forum-detail>section {
    padding: 10px 0px;
***REMOVED***

.forum-header>.forum-row {
    padding: 0px 0px 10px 0px;
    height: 5em;
***REMOVED***

#forum-detail-text {
    padding: 10px 0px;
    min-height: 15vh;
***REMOVED***

#forum-post-comment {
    display: grid;
    grid-gap: 1em;
***REMOVED***

#forum-comment-text-input {
    padding: 10px 7.5px;
    height: 20vh;
    border: 1px solid lightgrey;
    border-radius: 3px;
***REMOVED***

.forum-comment {
    display: grid;
    grid-template-columns: auto 1rem;
    row-gap: 1em;
***REMOVED***

.forum-comment>textarea {
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 10px 7px;
    grid-column: 1 / 3;
    height: 10em;
***REMOVED***

.forum-comment>button {
    grid-column: 1 / 3;
***REMOVED***

.forum-comment-content {
    display: grid;
    row-gap: 5px;
***REMOVED***

#forum-comments-table {
    display: grid;
    row-gap: 1.5em;
***REMOVED***

.forum-comment-buttons {
    font-size: 0.9em;
***REMOVED***

#forum-comment-text {
    padding: 5px 0px;
***REMOVED*** */

/** WALLET CSS **/

/* #qrcode {
    justify-self: center;
    border: 2px solid var(--saito-cyber-black);
    padding: 10px;
    border-radius: 5px;
***REMOVED***

.register-button {
    width: 100%;
    margin-top: 1em;
***REMOVED*** */

/** COMPONENTS CSS **/

/** FOOTER **/

/*
.footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 8vh;
    border-top: 1px solid var(--saito-skyline-grey);
    font-family: visuelt-light;
    background: var(--backround-general);
    /* overscroll-behavior: none;
***REMOVED***
*/

/** NAV BAR **/

/* .nav-bar {
    display: flex;
    justify-content: space-between;
    font-family: visuelt-light;
    padding: 0 1em;
    color: var(--text-color-normal);
***REMOVED***

.nav-button {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 0.5em 0;
***REMOVED*** */

/** Dark Mode **/

/** SETTINGS **/

/* .settings {***REMOVED***

.settings-button-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1em;
    grid-gap: 0.25em;
***REMOVED***

.settings-peer-table {***REMOVED***

.settings-dns {
    margin: 1em 0em;
***REMOVED***

.settings-dns-table {
    display: grid;
    grid-gap: 0.5em;
    margin-top: 0.5em;
***REMOVED***

.settings-dns-row {
    display: flex;
    justify-content: space-between;
***REMOVED***

.settings-dns-row>div {
    font-family: visuelt-light;
***REMOVED***

#theme-mode i {
    float: right;
***REMOVED***

.explorer-main {
    margin-top: 75px;
    padding: 0 10px;
    line-height: 1.6em;
    font-family: "visuelt-light";
    height: 91vh;
    overflow: auto;
    padding: 1em 12px;
***REMOVED***

.monospace {
    font-family: monospace, 'Courier New', Courier;
***REMOVED***

@media only screen and (max-width: 600px) {
    html, body {
        position: unset;
***REMOVED***
***REMOVED*** */

.jsontree_node {
    list-style: none;
***REMOVED***
