/* 
Generic Style Settings for Modules in the Saito App Suite
*/

/* Visuelt fonts */

@font-face {
    font-family: 'visuelt-black';
    src: url('/saito/fonts/visuelt-black.eot');
    src: url('/saito/fonts/visuelt-black.eot?#iefix') format('embedded-opentype'), url('/saito/fonts/visuelt-black.woff2') format('woff2'), url('/saito/fonts/visuelt-black.woff') format('woff'), url('/saito/fonts/visuelt-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
***REMOVED***

@font-face {
    font-family: 'visuelt-light';
    src: url('/saito/fonts/visuelt-light.eot');
    src: url('/saito/fonts/visuelt-light.eot?#iefix') format('embedded-opentype'), url('/saito/fonts/visuelt-light.woff2') format('woff2'), url('/saito/fonts/visuelt-light.woff') format('woff'), url('/saito/fonts/visuelt-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
***REMOVED***

@font-face {
    font-family: 'visuelt-medium';
    src: url('/saito/fonts/visuelt-medium.eot');
    src: url('/saito/fonts/visuelt-medium.eot?#iefix') format('embedded-opentype'), url('/saito/fonts/visuelt-medium.woff2') format('woff2'), url('/saito/fonts/visuelt-medium.woff') format('woff'), url('/saito/fonts/visuelt-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
***REMOVED***

/* HTML and Page Structure */

:root {
    --saito-red: rgb(247, 31, 61);
    --saito-orange: #ff8235;
    --saito-skyline-grey: rgb(234, 234, 239);
    --saito-cyber-black: rgb(28, 28, 35);
    --saito-white: #ffffff;
    --saito-red-wash: rgb(247, 31, 61, 0.3);
    --saito-cyber-black-wash: rgb(28, 28, 35, 0.3);
    --saito-cyber-black-cut: rgb(28, 28, 35, 0.5);
***REMOVED***

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
***REMOVED***

html {
    --text-color-normal: var(--saito-cyber-black);
    --backround-general: var(--saito-white);
    --text-color-highlight: var(--saito-red);
***REMOVED***

html[data-theme='dark'] {
    --text-color-normal: var(--saito-skyline-grey);
    --backround-general: var(--saito-cyber-black);
    --text-color-highlight: var(--saito-red);
***REMOVED***

p {
    font-family: 'visuelt-light';
***REMOVED***

body {
    /* width: 100vw;
    height: 100vh; */
    background-color: var(--backround-general);
    color: var(--text-color-normal);
***REMOVED***

h1, h2, h3, h4, h5, h6, p {
    margin: 0.5em 0;
***REMOVED***

hr {
    margin: 1em 0;
***REMOVED***

.spacer {
    margin-bottom: 2.5em;
***REMOVED***

.monospace {
    font-family: monospace, 'Courier New', Courier;
***REMOVED***

/* Forms and Inputs */

button, .button, .file-label {
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    padding: 10px 6px;
    background: #fefefe;
    border: 1px solid var(--saito-red);
    margin: 0 1em 1em 0;
    color: var(--saito-red);
    letter-spacing: 1px;
    transition: transform .25s;
    margin: 0.2em 0;
***REMOVED***

button:active, .button:active {
    transform: scale(.96);
***REMOVED***

button:hover, .button:hover {
    text-shadow: #ffffff 1px 0;
    background: var(--saito-red);
    color: #ffffff;
***REMOVED***

button.super {
    padding: 12px 8px 8px 8px;
    font-size: 1.4em;
    font-family: visuelt-medium;
    letter-spacing: 2px;
    background-color: var(--saito-red);
    border: 1px solid var(--saito-red);
    color: white;
    text-transform: uppercase;
    height: 2em;
***REMOVED***

button.super:hover, .button.super:hover {
    text-shadow: var(--saito-skyline-grey) 1px 0;
***REMOVED***

button.sub {
    border: 1px solid var(--saito-cyber-black);
    color: var(--saito-cyber-black);
***REMOVED***

button.action {
    background-color: var(--saito-red);
    color: var(--saito-white);
***REMOVED***

button.sub:hover, .button.sub:hover {
    text-shadow: var(--saito-cyber-black) 1px 0;
    background: var(--saito-skyline-grey);
***REMOVED***

.button-main {
    font-size: 1.2em;
    line-height: 1.9em;
    font-family: visuelt-medium;
    letter-spacing: 2px;
***REMOVED***

button i {
    margin: 0 0.5em;
***REMOVED***

fieldset {
    padding: 1em;
    border: 1px solid var(--saito-cyber-black-wash);
    padding: 1em;
    box-shadow: 0px 0px 3px 1px rgba(220, 220, 220, 0.75);
***REMOVED***

.button-secondary {
    background: var(--saito-orange);
    border: 1px solid var(--saito-orange);
    font-family: visuelt-medium;
    letter-spacing: 1.5px;
    overflow: hidden;
    height: 1.9em;
***REMOVED***

.grid-4 {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: auto 1fr auto 1fr;
    margin: 0 0 1em 0;
***REMOVED***

.grid-4 div:nth-child(2n-1), .grid-2 div:nth-child(2n-1) {
    font-family: visuelt-medium;
***REMOVED***

.grid-4 div, .grid-2 div {
    align-self: center;
***REMOVED***

.grid-2 {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: auto 1fr;
    margin: 0 0 1em 0;
***REMOVED***

.grid-1-2-columns {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: auto 1fr;
    margin: 0 0 1em 0;
***REMOVED***

.grid-2-columns {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    margin: 0 0 1em 0;
***REMOVED***

.grid-3-columns {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 0 1em 0;
***REMOVED***

.grid-2 div, .grid-4 div {
    padding: 0.5em 0;
***REMOVED***

@media only screen and (max-width: 1000px) {
    .grid-4 {
        grid-template-columns: 5em 1fr;
***REMOVED***
    .grid-1-2-columns, .grid-3-columns {
        grid-template-columns: 1fr;
***REMOVED***
    .grid-2 div, .grid-4 div, .grid-2-columns div, .grid-3-columns div, .grid-1-2-columns div {
        overflow: hidden;
***REMOVED***
***REMOVED***

input {
    cursor: pointer;
***REMOVED***

input[type=text], input[type=number], input[type=range], input[type=password] {
    width: 100%;
    border: none;
***REMOVED***

input[type=number] {
    width: 80%;
***REMOVED***

input[type=checkbox], input[type=radio] {
    margin: 0 1em;
    width: 20px;
    height: 20px;
***REMOVED***

input[type=text], input[type=number], input[type=password], input[type=date] {
    border: none;
    padding: 10px 5px;
    border-radius: 0px;
    font-size: 1.2em;
    border-bottom: 1px solid var(--saito-cyber-black-wash);
***REMOVED***

input[type=file] {
    border: none;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
***REMOVED***

select {
    float: left;
    display: block;
    background-color: #efefef;
    outline: none;
    padding: 1em 0;
    font-size: 1.3em;
    color: 1px solid #7b6f6f;
    border: 1px solid #7b6f6f;
***REMOVED***

textarea {
    width: 100%;
    min-height: 10em;
    border: 1px solid var(--saito-cyber-black-wash);
    padding: 1em;
    margin: 0 0 1em 0;
***REMOVED***

textarea:focus {
    outline: none;
***REMOVED***

input:focus {
    outline: none;
    border-bottom: 1px solid var(--saito-red);
***REMOVED***

input::hidden {
    border: none;
***REMOVED***

label.treated {
    color: var(--saito-red);
***REMOVED***

#alert-shim {
    z-index: 2000;
    background-color: #0008;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
***REMOVED***

#alert-box {
    width: 50%;
    transition: all 333ms ease-in-out;
    background: rgb(234, 234, 239);
    margin: auto;
    position: relative;
    top: -500px;
    border: 1px solid var(--saito-red);
    border-radius: 0 0 5px 5px;
    padding: 1em 1em 3.5em 1em;
***REMOVED***

#alert-buttons {
    float: right;
    margin: 0 0 0 1em;
***REMOVED***

#alert-box button {
    margin: 0;
***REMOVED***

#alert-box p {
    font-family: 'visuelt-light';
    font-size: 1.4em;
    text-align: center;
    align-self: center;
    font-weight: bold;
    display: block;
    margin: 1em 0;
***REMOVED***

.top-0 {
    top: 0 !important;
***REMOVED***

/* Page Sections */

.header {
    display: grid;
    height: 5em;
    padding: 0 1em;
    background-image: url(/saito/img/dreamscape.png);
    background-position: 0em;
    background-size: cover;
    /* sus and still out to jury */
    position: fixed;
    width: 100%;
    top: 0%;
***REMOVED***

.header-home {
    /* grid-template-columns: auto 2em 3.2em; */
    grid-template-columns: auto 3.2em 3.2em;
    align-items: center;
***REMOVED***

.header-icon {
    color: white;
    align-self: center;
    justify-self: end;
    text-shadow: #333 1px 0;
    cursor: pointer;
***REMOVED***

.header-dropdown {
    position: absolute;
    right: 0;
    right: -250px;
    top: 90px;
    color: var(--text-color-normal);
    padding: 15px;
    font-family: visuelt-light;
    border: 1px solid var( --saito-cyber-black-wash);
    border-radius: 5px 0 0 5px;
    width: 250px;
    font-size: 1.2em;
    height: calc(100vh - 100px);
    box-sizing: border-box;
    box-shadow: 0px 0px 3px 1px rgba(170, 170, 170, 0.75);
    background-color: #fcfcfc;
    transition: all 500ms ease;
***REMOVED***

#settings-dropdown {
    width: 400px;
    right: -400px;
    position: absolute;
***REMOVED***

.show-right-sidebar {
    right: 0 !important;
***REMOVED***

.header-dropdown ul li {
    border: 1px solid var(--saito-cyber-black-cut);
    border-radius: 5px;
    background: var(--saito-skyline-grey);
    margin: 0 0 1em 0;
    text-align: center;
    height: 2.25em;
    padding: 11px 0 0 0;
***REMOVED***

.header-dropdown ul li:hover {
    border-color: var(--saito-red);
    color: var(--saito-red);
***REMOVED***



.personal-info {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1em;
    margin: 0 0 1em 0;
***REMOVED***

.profile-photo {
    border-radius: 10px;
    background-color: blue;
    height: 75px;
    width: 75px;
***REMOVED***

.account-info {
    display: grid;
    grid-gap: 0.5em;
***REMOVED***

.account-info div{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
***REMOVED***

.manage-account {
    width: 100%;
    font-size: 0.9em;
    zoom: 1;
    font-family: visuelt-light;
    padding: 12px 0 8px 0;
***REMOVED***

.reset-wallet {
    margin-top: 20px;
    color: #000;
***REMOVED***

.scan-qr {
    border-top: 1px solid rgba(0, 0, 0, .1);
    letter-spacing: .25px;
    padding: 14px 41px;
    font-size: 16px;
    font-family: visuelt-medium;
***REMOVED***

.scan-qr i {
    margin-right: 10px;
***REMOVED***

.backup-wallet {
    font-family: visuelt-medium;
    border-top: 1px solid rgba(0, 0, 0, .1);
    letter-spacing: .25px;
    padding: 14px 41px;
    font-size: 16px;
***REMOVED***

.backup-wallet i {
    margin-right: 10px;
***REMOVED***

.terms {
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding: 14px 41px 4px 41px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    color: #5f6368;
     font-size: 14px;
***REMOVED***

.header-dropdown-modules {
    padding-bottom: 0.5em;
    border-bottom: 1px solid grey;
***REMOVED***

.header-dropdown-settings {
    padding-top: 0.5em;
***REMOVED***

.header-dropdown ul {
    list-style: none;
    list-style-type: none;
    line-height: 1.5em;
    cursor: pointer;
***REMOVED***

.header-dropdown a {
    text-decoration: none;
    color: black;
***REMOVED***

#back-button {
    cursor: pointer;
***REMOVED***

.logo {
    height: 3em;
***REMOVED***

.main {
    display: grid;
    grid-gap: 1.5em;
    font-family: 'visuelt-light';
    padding: 1em;
    /* margin: 1em; */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
    /* Partially sus */
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    /* enables “momentum” (smooth) scrolling */
    /* sus and still out to jury */
    height: calc(100vh - 5em);
    margin-top: 5em;
    /* margin-bottom: 9vh; */
    margin-left: auto;
    margin-right: auto;
    max-width: 100vw;
***REMOVED***

.main::-webkit-scrollbar {
    /* WebKit */
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
***REMOVED***

.container {
    display: grid;
    grid-gap: 1em;
***REMOVED***

.welcome {
    grid-template-rows: 17.5em auto;
***REMOVED***

.create-button {
    background-color: var(--saito-red);
    border: var(--saito-red);
    cursor: pointer;
    color: white;
    border-radius: 100px;
    position: fixed;
    right: 1em;
    bottom: 1em;
    width: 3.2em;
    height: 3.2em;
***REMOVED***

.create-button:focus {
    outline: 0;
***REMOVED***

.wallet-container {
    font-family: 'visuelt-light';
***REMOVED***

.wallet-container-row {
    display: flex;
    justify-content: space-between;
***REMOVED***

.module-container {
    display: flex;
    justify-content: space-around;
***REMOVED***

.icon-small {
    font-size: 1em;
***REMOVED***

.icon-med {
    font-size: 1.33em;
***REMOVED***

.icon-med:hover {
    color: var(--saito-red-wash);
***REMOVED***

.icon-large {
    font-size: 2em;
***REMOVED***

.module-button {
    border: 2px solid var(--saito-cyber-black);
    text-align: center;
    border-radius: 10px;
    width: 25vw;
    padding: 0.75em 1.25em;
    text-align: center;
***REMOVED***

/** MODAL **/

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
***REMOVED***

/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 1.5em;
    border: 1px solid #888;
    width: 80%;
    font-size: 1.3em;
    border-radius: 5px;
***REMOVED***

/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 1em;
    font-weight: bold;
    height: 0px;
***REMOVED***

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
***REMOVED***

.jsontree_node {
    list-style: none;
***REMOVED***
