.container {
  display: block;
}

.video-container {
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

video {
  object-fit: cover;
}

.scanline {
  border: 3px solid var(--saito-red);
  width: 80vw;
  position: absolute;
  left: 10vw;
  top: 3vh;
  z-index: 9999999;
  animation: scanning 2s infinite;
  animation-timing-function: linear;
  box-shadow: 0 0 15px 20px rgba(247, 31, 61, 0.76);
}

.qr-target {
  /*
  position: absolute;
  left: 10vw;
  top: 10vw;
  width: 80vw;
  height: 80vw;
  z-index: 999999;
  border: 4px solid var(--saito-red);
  */
}

@keyframes scanning {
  0% {
    transform: translateY(00vh);
  }
  49% {
    transform: translateY(40vh);
  }
  98% {
    transform: translateY(79vh);
  }
  100% {
    transform: translateY(00vh);
  }
}

@media only screen and (orientation: landscape) {
  .qrcode img {
    margin: 5vw 35vw;
    width: 30vw;
    display: block;
  }
  .scanner-placeholder {
    border: 3px solid var(--saito-red);
    margin: 2vh auto;
    height: 80vh;
    width: 80%;
  }
}

@media only screen and (orientation: portrait) {
  .qrcode img {
    margin: 20vw;
    width: 60vw;
    display: block;
  }
  .scanner-placeholder {
    border: 3px solid var(--saito-red); 
    margin: 10vw; 
    height: 80vw;
  }
}

.launch-scanner {
  margin: 0 10vw; 
  width: 80% !important;
}