/** CHAT CSS **/

:root {
  --chat-max-width: 750px;
}

body {
  background: #efefef;
}

.main {
  padding: unset;
}

.chat-main {
  margin: 5em auto 0;
  max-width: var(--chat-max-width);
  background: #fff;
  height: calc(100vh - 5em);
}

.chat {
  display: flex;
  flex-direction: column;
}

.chat-row {
  margin-bottom: 1em;
}

.footer {
  display: none;
}

textarea {
  width: unset;
  min-height: unset;
  border: unset;
  padding: unset;
  margin: unset;
}

p {
  margin: 3px 0;
}

.chat-row {
  display: grid;
  grid-column-gap: 1em;
  grid-template-columns: 2.5em auto 2.5em;
  border-bottom: 1px solid var(--saito-skyline-grey);
  padding: 10px 0px;
  height: 5em;
  cursor: pointer;
}

.chat-group-name {
  font-weight: bold;
}

.chat-last-message {
  font-family: "visuelt-light", "Microsoft Yahei", "Hiragino Sans GB";
  margin-top: 0.5em;
}

.chat-last-message-timestamp {
  font-family: "visuelt-light", "Microsoft Yahei", "Hiragino Sans GB";
}

.chat-room-message-identicon {
  border: 1px solid #8885;
  width: 2em;
  height: 2em;
  padding: 1px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.chat-room-message-identicon:hover {
  width: 60px;
  height: 60px;
}

/** CHAT ADD **/

.chat-add {
  display: grid;
  height: 22vh;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 1em;
  align-self: end;
}

/** CHAT ROOM **/

.chat-room-header {
  grid-template-columns: 5.2em auto 2em 3.2em;
  align-items: center;
  color: black;
  display: grid;
  border-bottom: 1px solid var(--saito-skyline-grey);
  padding: 1em;
  height: 3.5em;
  background: white;
  width: 100%;
  max-width: var(--chat-max-width);
}

.chat-room-name {
  text-align: center;
  font-size: 1.25em;
  margin-top: 3px;
}

.chat-message-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

.chat-message-container-column {
  width: 100%;
  display: grid;
  grid-gap: 2px;
}

.chat-message-others .chat-message-container-column {
  align-items: flex-start;
}

/*
.chat-message-container-column .chat-room-message-myself {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.chat-message-container-column .chat-room-message-myself:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 15px;
}

.chat-message-container-column .chat-room-message-myself:first-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 0;
}

.chat-message-container-column .chat-room-message-others{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.chat-message-container-column .chat-room-message-others:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 15px;
}

.chat-message-container-column .chat-room-message-others:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 0;
}
*/

.chat-message-container-metadata {
  display: flex;
  color: grey;
  align-items: center;
}

.chat-message-container-identicon {
  width: 1.5em;
  border: 1px solid var(--saito-skyline-grey);
  border-radius: 3px;
  padding: 1px;
}

.chat-message-container-author {
  margin: unset;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: courier;
  max-width: 15em;
}

.chat-message-myself .chat-message-container-timestamp {
  text-align: right;
}

.chat-message-container-timestamp {
  color: grey;
  font-size: 0.9em;
}

.saito-address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-message-myself .chat-message-container-metadata {
  justify-self: right;
  flex-direction: row-reverse;
}

.chat-message-myself .chat-message-container-identicon {
  margin-left: 7px;
}

.chat-message-others .chat-message-container-identicon {
  margin-right: 7px;
}

.chat-message-myself {
  flex-direction: row-reverse;
}

.chat-room-footer {
  padding: 0 0 0 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--saito-skyline-grey);
  height: 3.5em;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: var(--chat-max-width);
  padding: 0.5em 0 0.5em 5px;
  background: white;
}

.chat-room-message {
  display: flex;
  grid-template-columns: 2em auto;
  min-width: 10vw;
}

.chat-message-text {
  margin: unset;
  margin-bottom: 1px;
  word-wrap: break-word;
  font-family: "visuelt-light", "Microsoft Yahei", "Hiragino Sans GB";
  line-height: 16px;
  font-size: 15px;
}

.chat-message-header {
  display: flex;
  line-height: 14px;
}

.chat-message-others .chat-message-header {
  color: var(--saito-skyline-grey);
}

.chat-message-set-content-myself .chat-message-header {
  justify-content: flex-end;
}

.chat-message-author {
  margin: unset;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  letter-spacing: 1.1px;
  font-family: courier;
  max-width: 30em;
}

.chat-message-timestamp {
  margin: unset;
  margin-left: 1em;
  font-weight: bold;
  font-family: courier;
}

.chat-room {
  display: grid;
  grid-template-rows: 3.5em auto 3.5em;
  height: calc(100vh - 5em);
  border: 1px solid var(--saito-skyline-grey);
  background: #fff;
}

/*
.chat-room-message-others {
  background: var(--saito-cyber-black);
  color: white;
  justify-self: left;
  border-bottom-left-radius: 0;
}

.chat-room-message-myself {
    background: var(--saito-skyline-grey);
    color: var(--saito-cyber-black);
    justify-self: right;
    border-bottom-right-radius: 0;
}
*/

/* .chat-room-footer {
    padding: 0 0 0 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.chat-room-input {
  display: grid;
  grid-template-columns: auto 3em;
  align-items: center;
  width: 100%;
}

.chat-room-input > textarea {
  height: 2.75em;
  font-size: 1em;
  padding: 8px 5px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  resize: none;
}

.chat-room-submit-button {
  justify-self: center;
  background: var(--saito-red);
  padding: 7px 10px;
  color: white;
  border-radius: 100px;
  cursor: pointer;
}

#chat-nav {
  top: unset;
  bottom: 6em;
  background: var(--saito-skyline-grey);
  border-radius: 5px 5px 0 5px;
}

.chat-dropdown {
  position: absolute;
  padding: 0.5em;
  border: 1px lightgrey solid;
  right: 1em;
  display: grid;
  grid-auto-rows: 2em;
}

.chat-nav-arrow {
  position: absolute;
  right: -1px;
  bottom: -13px;
  width: 0;
  height: 0;
  border-color: transparent lightgrey;
  border-bottom: 12px solid transparent;
  border-right: 12px solid lightgrey;
}

#chat-nav-arrow-interior {
  bottom: -11px;
  right: 0px;
  border-bottom: 12px solid transparent;
  border-right: 12px solid var(--saito-skyline-grey);
}

.chat-nav-row {
  display: grid;
  grid-template-columns: 1em auto;
  grid-gap: 10px;
  cursor: pointer;
  border-bottom: 1px solid lightgrey;
  /* padding-bottom: 5px; */
  padding-bottom: 10px;
  padding-top: 10px;
}

.chat-nav-row:last-child {
  border-bottom: unset;
  /* padding-bottom: unset; */
}

#chat.create-button {
  bottom: 1em;
  right: 1em;
  min-width: unset;
}

.chat-row {
  margin: 1em 1em 0 1em;
}

/** Chat Add Contact **/

#chat-add.create-button {
  min-width: unset;
}

/** Chat New **/

.chat-new {
  display: grid;
  grid-template-rows: 3.5em auto;
}

.chat-new-header {
  grid-template-columns: 2em auto;
  align-items: center;
  color: black;
  display: grid;
  border-bottom: 1px solid var(--saito-skyline-grey);
  padding: 0 1em;
}

.chat-new-content {
  /* display: flex; */
  padding: 1em;
  /* flex-direction: column; */
  /* overflow-y: scroll;
  height: 76vh; */
}

@media only screen and (min-width: 600px) {
  /* #chat.create-button {
    display: none;
  } */
}

@media only screen and (max-width: 600px) {
  .chat-message-container-author {
    max-width: 10em;
    font-size: 0.9em;
  }
}

/* generic things we want */

.chat-message-set {
  display: flex;
  margin: 10px 0 5px 5px;
}

.chat-message-set-myself {
  flex-direction: row-reverse;
  margin: 10px 5px 5px 0px;
}

.chat-message-set-content {
  padding: 5px;
  max-width: 80%;
}

.chat-message-set-content-myself .chat-message-header {
  justify-content: flex-end;
}

.chat-box-message-others {
  flex-direction: flex-start;
}

.chat-box-message-container {
  border: solid;
  border-width: 0 0 2px 0;
  padding: 3px 0;
}

.chat-message {
  margin-right: 1px;
  line-height: 1.2em;
  font-size: 1.2em;
  white-space: normal;
}

.chat-message > p {
  display: inline-block;
  margin: 0;
}

#settings-dropdown {
  width: 400px;
  right: -405px;
  position: absolute;
  background: #ffffff;
  color: black;
}

.header-dropdown a {
  text-decoration: none;
  color: black;
}

#header-token-select {
  max-width: 11.5em;
  padding: 5px;
  border-bottom: 1px solid #888 !important;
  margin: 5px 0;
  color: black;
}

.wallet-action-row {
  letter-spacing: 0.25px;
  padding: 0.6em;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 0.5em;
  color: black;
}
