
/** CHAT CSS **/

.main {
  padding: unset;
}

.chat {
  display: flex;
  flex-direction: column;
}

.chat-row {
  margin-bottom: 1em;
}

.footer {
  display: none;
}

textarea {
  width: unset;
  min-height: unset;
  border: unset;
  padding: unset;
  margin: unset;
}

p {
  margin: unset;
}

.chat-row {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: 2.5em auto 2.5em;
    border-bottom: 1px solid var(--saito-skyline-grey);
    padding: 10px 0px;
    height: 5em;
    cursor: pointer;
}

.chat-group-name {
  font-weight: bold;
}

.chat-last-message {
    font-family: visuelt-light;
    margin-top: 0.5em;
}

.chat-last-message-timestamp {
    font-family: visuelt-light;
}

.chat-room-message-identicon {
  border: 1px solid #8885;
  width: 1.5em;
  height: 1.5em;
  padding: 1px;
  border-radius: 0px;
}

/** CHAT ADD **/


.chat-add {
    display: grid;
    height: 22vh;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1em;
    align-self: end;
}

/** CHAT ROOM **/

.chat-room {
  display: grid;
  grid-template-rows: 3.5em auto 7vh;
}

.chat-room-header {
  grid-template-columns: 5.2em auto 2em 3.2em;
  align-items: center;
  color: black;
  display: grid;
  border-bottom: 1px solid var(--saito-skyline-grey);
  padding: 1em;
  height: 3.5em;

  position: fixed;
  background: white;
  width: 100%;
}

.chat-room-name {
  text-align: center;
  font-size: 1.25em;
  margin-top: 3px;
}

.chat-room-content {
  display: flex;
  position: fixed;
  width: 100%;
  padding: 1em 1em 0 1em;
  /* padding: 1em 1em 0.5em 1em; */
  flex-direction: column;
  overflow-y: scroll;
  /* height: calc(100vh - 12.7em); */
  height: calc(100vh - 12em);
  margin-top: 3.5em;
}

.chat-message-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

.chat-message-container-column {
  width: 100%;
  display: grid;
  grid-gap: 2px;
}

.chat-message-others .chat-message-container-column {
  align-items: flex-start;
}

.chat-message-container-column .chat-room-message-myself {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.chat-message-container-column .chat-room-message-myself:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 15px;
}

.chat-message-container-column .chat-room-message-myself:first-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 0;
}

.chat-message-container-column .chat-room-message-others{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.chat-message-container-column .chat-room-message-others:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 15px;
}

.chat-message-container-column .chat-room-message-others:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 0;
}

.chat-message-container-metadata {
  display: flex;
  color: grey;
  align-items: center;
}

.chat-message-container-identicon {
  width: 1.5em;
  border: 1px solid var(--saito-skyline-grey);
  border-radius: 3px;
  padding: 1px;
}

.chat-message-container-author {
  margin: unset;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: courier;
  max-width: 15em;
}

.chat-message-myself .chat-message-container-timestamp {
  text-align: right;
}

.chat-message-container-timestamp {
  color: grey;
  font-size: 0.9em;
}

.saito-address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-message-myself .chat-message-container-metadata {
  justify-self: right;
  flex-direction: row-reverse;
}

.chat-message-myself .chat-message-container-identicon {
  margin-left: 7px;
}

.chat-message-others .chat-message-container-identicon {
  margin-right: 7px;
}

.chat-message-myself {
  flex-direction: row-reverse;
}

.chat-room-footer {
  padding: 0 0 0 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--saito-skyline-grey);

  height: 3.5em;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5em 0 0.5em 5px;
  background: white;
}

.chat-room-message {
  padding: 0.75em;
  max-width: 85%;
  border-radius: 15px;
  display: grid;
  /* grid-template-columns: 2em auto; */
  grid-gap: 0em 0.5em;
  /* min-width: 10vw; */
}

.chat-message-text {
  word-wrap: break-word;
  line-height: 1.3;
}

.chat-message-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    color: darkgrey;
    margin: 3px 0;
}

.chat-message-timestamp {
    margin-left: 1em;
}

.chat-room-message-others {
  background: var(--saito-cyber-black);
  color: white;
  justify-self: left;
  border-bottom-left-radius: 0;
}

.chat-room-message-myself {
    background: var(--saito-skyline-grey);
    color: var(--saito-cyber-black);
    justify-self: right;
    border-bottom-right-radius: 0;
}

/* .chat-room-footer {
    padding: 0 0 0 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.chat-room-input {
    display: grid;
    grid-template-columns: auto 3em;
    align-items: center;
    width: 100%;
}

.chat-room-input>textarea {
    height: 2.75em;
    font-size: 1em;
    padding: 8px 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    resize: none;
}

.chat-room-submit-button {
    justify-self: center;
    background: var(--saito-red);
    padding: 7px 10px;
    color: white;
    border-radius: 100px;
    cursor: pointer;
}

#chat-nav {
  top: unset;
  bottom: 6em;
  background: var(--saito-skyline-grey);
  border-radius: 5px 5px 0 5px;
}

.chat-dropdown {
  position: absolute;
  padding: 0.5em;
  border: 1px lightgrey solid;
  right: 1em;
  display: grid;
  grid-auto-rows: 2em;
}

.chat-nav-arrow {
  position: absolute;
  right: -1px;
  bottom: -13px;
  width: 0;
  height: 0;
  border-color: transparent lightgrey;
  border-bottom: 12px solid transparent;
  border-right: 12px solid lightgrey;
}

#chat-nav-arrow-interior {
  bottom: -11px;
  right: 0px;
  border-bottom: 12px solid transparent;
  border-right: 12px solid var(--saito-skyline-grey);
}

.chat-nav-row {
  display: grid;
  grid-template-columns: 1em auto;
  grid-gap: 10px;

  border-bottom: 1px solid lightgrey;
  padding-bottom: 5px;
}

.chat-nav-row:last-child {
  border-bottom: unset;
  padding-bottom: unset;
}


#chat.create-button {
  bottom: 1em;
  right: 1em;
  min-width: unset;
}

.chat-row {
  margin: 1em 1em 0 1em;
}

/** Chat Add Contact **/

#chat-add.create-button {
  min-width: unset;
}

/** Chat New **/

.chat-new {
  display: grid;
  grid-template-rows: 3.5em auto;
}

.chat-new-header {
  grid-template-columns: 2em auto;
  align-items: center;
  color: black;
  display: grid;
  border-bottom: 1px solid var(--saito-skyline-grey);
  padding: 0 1em;
}

.chat-new-content {
  /* display: flex; */
  padding: 1em;
  /* flex-direction: column; */
  /* overflow-y: scroll;
  height: 76vh; */
}

@media only screen and (min-width: 600px) {
  /* #chat.create-button {
    display: none;
  } */
}

@media only screen and (max-width: 600px) {
  .chat-message-container-author {
    max-width: 10em;
    font-size: 0.9em;
  }
}


/* generic things we want */

