@font-face {
  font-family: 'bank-gothic';
  src: url('./font/BankGothicRegular.eot');
  src: local('BankGothicRegular'), url('./font/BankGothicRegular.woff') format('woff'), url('./font/BankGothicRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'orbitron-medium';
  src: url('./font/orbitron-medium-webfont.eot');
  src: local('orbitron-medium-webfont'), url('./font/orbitron-medium-webfont.woff') format('woff'), url('./font/orbitron-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'orbitron-light';
  src: url('./font/orbitron-light-webfont.eot');
  src: local('orbitron-light-webfont'), url('./font/orbitron-light-webfont.woff') format('woff'), url('./font/orbitron-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.cardbox-card img {
  position: absolute;
}
.strategy_card_overlay {
  position: absolute;
  color: white;
  margin-top: 50px;
  padding: 20px;
  padding-right: 50px;
  font-size: 1.2em;
}

.game-menu {
  width: 550px;
  min-width: 550px;
  font-family: 'bank-gothic', 'orbitron-medium', arial, helvetica, sans-serif;
}

.overlay_laws_container {
  width: 80vw;
  height: auto;
  overflow-y: scroll;
}

.overlay_laws_header {
  font-size: 2em;
  color: #fff;
  padding: 1em;
}

.overlay_laws_list {
  display: flex;
  justify-content: space-around;
}

.overlay_agendacard {
  width: calc(42vh * 0.72110);
  height: 42vh;
  color: white;
  padding: 10px;
  background-size: cover;
  margin: 5px 10px;
  font-size:0.7em;
}

.overlay_agendatitle {
  font-size: 0.9em;
  min-height: 7vh;
}

.overlay_agendacontent {
  margin-top: 10px;
  font-size: 0.8em;
  line-height: 1.3em;
}

.objectives-overlay-container {
  width:80vw;
  height: auto;
  overflow-y: scroll;
}
.objectives_card_name {
  min-height: 60px;
  color: white;
  font-size: 1em;
  padding: 15px 5px 10px;
  background: #0008;
  position: relative;
}

.objectives_card_content {
  color: white;
  font-size: 0.7em;
  padding: 10px;
  position: relative;
  background: #0006;
}

.objectives_overlay_objectives_card {
  width: calc(42vh * 0.72110);
  height: 42vh;
  margin: 10px;
  background-size: cover;
  max-width: 300px;
  max-height: 450px;
  float: left;
  font-size: 0.8em;
}




.overlay_strategy_container {
  width: 86vw;
  height: auto;
  overflow-y: scroll;
}
.overlay_strategy_card_box {
  position:relative;
  float: left;
  width: calc(42vh * 0.72110);
  display: block;
  height: 42vh;
  margin-bottom: 20px;
  font-size: 0.8em;
}
.overlay_strategy_card_box_img {
  position: absolute;
}
.overlay_strategy_card_text {
  position: relative;
  color: white;
  padding-left: 15px;
  padding-top: 45px;
  top: 0px;
  width: 80%;
  font-family: 'orbitron-light', helvetica, sans-serif;
  font-size: 0.7em;
  line-height: 1.4;
  z-index: 101;
}

.combat_log_th {
  padding-right: 5px;
}

.combat_log_td {
  padding-right: 5px;
  text-align: right;
}

.hazard_border {
  display: none;
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.faction_border {
  display: none;
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.tech_card_overlay {
  position: absolute;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 100px;
  top: 0px;
  line-height: 1.8em;
  font-family: 'orbitron-light', helvetica, sans-serif;
  font-size: 2em;
}

.action_card_overlay {
  position: absolute;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 100px;
  top: 0px;
  line-height: 1.8em;
  font-family: 'orbitron-light', helvetica, sans-serif;
  font-size: 2em;
}

.agenda_card_overlay {
  position: absolute;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 130px;
  top: 0px;
  line-height: 1.8em;
  font-family: 'orbitron-light', helvetica, sans-serif;
  font-size: 2em;
}

.strategy_card_state {
  width: 18vw;
  min-height: 20px;
  color: white;
  font-weight: bold;
  z-index: 100;
  position: absolute;
  top: 20px;
  transform: rotate(-25deg);
  text-align: center;
  left: -17px;
  background: #0008;
  font-size:0.6em;
}

.strategy_card_state_internal {
  color: white;
  padding: 15px;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}


.strategy_card_bonus {
  position: fixed;
  bottom: 40px;
  right: 0px;
  font-size: 3em;
  color: gold;
}

.strategy_card_bonus span {
  position: relative;
  right: 1.135em;
  color: white;
  text-shadow: 1px 1px #444;
  background: #8888;
}

.cardbox .strategy_card_bonus {
  right: 15px;
  bottom: 0px;
}

.cardbox .strategy_card_bonus span {
  right: 1em;
  background-color: #fff0;
}

#confirm {
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

.hud {
  left: 140px;
  transform: translate(0, 0);
}

.hud-menu-overlay ul {
  list-style: none;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.hud-menu-overlay ul li {
  width: 100%;
  line-height: 3.5em;
  border-top: 1px solid var(--saito-skyline-grey);
  cursor: pointer;
}

.sf-readable {
  font-family: 'orbitron-light', helvetica, sans-serif;
  line-height: 1.6em;
}

.status > .sf-readable {
  padding-top: 14px;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --p1: #229922;
  --p2: #0066ff;
  --p3: #FF6037;
  --p4: #FF00CC;
  --p5: #FFCC33;
  --p6: #FF355E;
  --my-color: var(--p1);
  --playing-color: var(--p1);
}

.p1, .p1 .pc {
  color: var(--p1);
}

.p2, .p2 .pc {
  color: var(--p2);
}

.p3, .p3 .pc {
  color: var(--p3);
}

.p4, .p4 .pc {
  color: var(--p4);
}

.p5, .p5 .pc {
  color: var(--p5);
}

.p6, .p6 .pc {
  color: var(--p6);
}

.p1 .bc, .p1 .bc::before, .bc1 {
  border-color: var(--p1);
}

.p2 .bc, .p2 .bc::before, .bc2 {
  border-color: var(--p2);
}

.p3 .bc, .p3 .bc::before, .bc3 {
  border-color: var(--p3);
}

.p4 .bc, .p4 .bc::before, .bc4 {
  border-color: var(--p4);
}

.p5 .bc, .p5 .bc::before, .bc5 {
  border-color: var(--p5);
}

.p6 .bc, .p6 .bc::before, .bc6 {
  border-color: var(--p6);
}

.p1 .bk {
  background-color: var(--p1);
}

.p2 .bk {
  background-color: var(--p2);
}

.p3 .bk {
  background-color: var(--p3);
}

.p4 .bk {
  background-color: var(--p4);
}

.p5 .bk {
  background-color: var(--p5);
}

.p6 .bk {
  background-color: var(--p6);
}

body {
  overflow: hidden;
  font-family: 'bank-gothic', 'orbitron-medium', arial, helvetica, sans-serif;
  ;
  background: #151717;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
}

.game_background {
  background-image: url(img/spacebg.png);
  background-image: url(img/spaceb2.jpg);
  background-size: cover;
  position: absolute;
  top: -50%;
  left: -50%;
  height: 200vh;
  width: 200vw;
  filter: blur(1px) grayscale(0.2);
  /*animation: spin 1440s linear infinite;*/
  z-index: -999;
}

.faction_name {
  color: #fff;
  text-shadow: 1px 2px #000;
  font-size: 2em;
  text-align: center;
  line-height: 2.2em;
}

.faction_sheets {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  grid-gap: 2em;
  padding: 2em;
}

.faction_sheet {
  height: calc(80vh - 6em);
  background-color: #0008;
  background-size: cover;
  background-position: center;
}

.faction_sheet_buttons {
  display: flex;
}

.faction_sheet_buttons div {
  color: #fff;
  margin: 1em 2em;
  cursor: pointer;
  font-size: 1.5em;
}

.faction_content {
  background-color: #0008;
  height: calc(100% - 5em);
  margin: 0 1em;
  color: #FFF;
  padding: 0 1em;
  overflow-y: auto;
}

.faction_sheet_unit_box {
  display: flex;
  margin-bottom: 2vh;
  flex-wrap: wrap;
}

.faction_sheet_token_box {
  margin: 1em auto;
  width: 40em;
  height: 10em;
  display: grid;
  grid-gap: 0 2em;
  grid-template-columns: auto auto auto;
  font-family: 'bank-gothic';
  transform: scale(0.6);
}

.objectives_players_scored {
  height: 20px;
  width: 80px;
  display: block;
  z-index: 99;
  position: relative;
  display: all;
  margin-left: auto;
  margin-right: auto;
}

.token_count {
  font-size: 1em;
  margin-top: 0px;
  display: block;
  color: #FFF;
  font-family: 'bank-gothic';
  text-shadow: 1px 1px #000;
}

.faction_sheet_active {
  overflow-y: auto;
  height: 100%;
  scroll-behavior: smooth;
}

.faction_sheet_token_box div {
  text-align: center;
  font-size: 1.5em;
}

.faction_sheet_token_box span {
  text-align: center;
}

.faction_sheet_action_card_box, .faction_sheet_planet_card_box, .faction_sheet_tech_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 1em 1em 1em 1em;
}

.faction_sheet_action_card_box, .faction_sheet_planet_card_box {
  margin: 1em 1em 17vw 1em;
}

.faction_sheet_action_card {
  background-image: url(img/action_card_template.png);
  width: 12vw;
  height: 17vw;
  background-size: cover;
  margin: 1vw;
  padding: 1vw;
  text-align: center;
  font-size: 0.75vw;
  transition: all 50ms;
  margin-bottom: -15vw;
  border: 1px solid;
}

.faction_sheet_action_card_back {
  background-image: url(img/action_card_back.jpg);
}

.faction_sheet_action_card:hover, .faction_sheet_planet_card:hover, .faction_sheet_tech_card:hover {
  transform: scale(1.5) translate(1vw, 1vw);
  z-index: 10;
}

.combat_attacker {
  margin-top: 20px;
  margin-bottom: 15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'orbitron-medium', helvetica;
  font-weight: bold;
  line-height: 1.5em;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.combat_attacker_fleet {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 0.8em;
  margin-right: auto;
  margin-left: auto;
  font-family: 'orbitron-medium', helvetica;
  font-weight: normal;
  line-height: 1.5em;
  text-align: center;
  width: 100%;
}

.combat_defender {
  margin-top: 20px;
  margin-bottom: 15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'orbitron-medium', helvetica;
  font-weight: bold;
  line-height: 1.5em;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.combat_defender_fleet {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 0.8em;
  font-weight: normal;
  margin-right: auto;
  margin-left: auto;
  font-family: 'orbitron-medium', helvetica;
  line-height: 1.5em;
  text-align: center;
  width: 100%;
}

.action_card_instructions_hud {
  font-family: 'orbitron-light', helvetica;
  font-size: 0.9em;
  margin-top: 15px;
  line-height: 1.5em;
}

.action_card_name_hud {
  margin-top: 20px;
  margin-bottom: 15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'orbitron-medium', helvetica;
  font-weight: bold;
  line-height: 1.5em;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.action_card_text_hud {
  margin-bottom: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'orbitron-light', helvetica;
  line-height: 1.6em;
  font-size: 0.9em;
}

.action_card_status_hud {
  font-family: 'orbitron-light', helvetica;
  font-size: 0.9em;
  margin-top: 10px;
}

.agenda_instructions {
  font-family: 'orbitron-light', helvetica;
  font-size: 0.9em;
  margin-top: 15px;
  line-height: 1.5em;
}

.agenda_name {
  margin-top: 20px;
  margin-bottom: 15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'orbitron-medium', helvetica;
  font-weight: bold;
  line-height: 1.5em;
}

.agenda_text {
  margin-bottom: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'orbitron-light', helvetica;
  line-height: 1.6em;
  font-size: 0.9em;
}

.agenda_status {
  font-family: 'orbitron-light', helvetica;
  font-size: 0.9em;
  margin-top: 10px;
}

.action_card_content {
  margin: 1.1vw 0 0 0;
  height: 11vw;
  text-align: left;
  line-height: 1.6em;
  padding-top: 10px;
}

.action_card_name {
  font-family: 'bank-gothic';
  white-space: nowrap;
  margin: 0.2vw 0 0 0;
  font-weight: bold;
}

.faction_sheet_planet_card {
  width: 12vw;
  height: 17vw;
  background-size: cover;
  margin: 1vw;
  padding: 1vw;
  text-align: center;
  font-size: 0.75vw;
  transition: all 50ms;
  margin-bottom: -15vw;
  border: 1px solid;
}

.faction_sheet_objectives {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 17vw;
}

.faction_sheet_objective_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 1em 1em 1em 1em;
}

.tech_card {
  background-image: url(img/tech_card_template.jpg);
  position: relative;
  width: 340px;
  height: 200px;
  font-size: 2em;
  background-size: cover;
  margin: 1vw;
  text-align: center;
  font-size: 1.25vw;
  transition: all 50ms;
  border: 1px solid;
  color: white;
}

.tech_card::before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 33px solid;
  border-left: 100px solid transparent !important;
  position: absolute;
  bottom: 0;
  right: 0;
}

.faction_sheet .tech_card .tech_card_name {
  font-size: 3em;
}

.faction_sheet .tech_card .tech_card_content {
  font-size: 1.7em;
}

.faction_sheet .tech_card .tech_card_level {
  font-size: 3em;
  background-color: #444;
  ;
}

.faction_sheet_tech_card {
  background-image: url(img/tech_card_template.jpg);
  position: relative;
  width: 12vw;
  height: 8vw;
  background-size: cover;
  margin: 1vw;
  text-align: center;
  font-size: 0.75vw;
  transition: all 50ms;
  border: 1px solid;
}

.faction_sheet_tech_card::before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 33px solid;
  border-left: 100px solid transparent !important;
  position: absolute;
  bottom: 0;
  right: 0;
}

.tech_card_name {
  margin: 0 0 3px 0;
  font-family: 'bank-gothic';
  text-align: center;
  padding: 1vw;
  padding: 0.5vw;
  background: #0009;
  color: white;
}

.tech_card_content {
  text-align: left;
  padding: 1vw;
  color: white;
}

.tech_card_level {
  font-size: 2em;
  letter-spacing: 5px;
  position: absolute;
  bottom: 0;
  left: 9px;
}

.faction_sheet_lore {
  font-size: 1.3em;
  line-height: 1.5em;
  margin-bottom: 50vh;
}

.unit-display-tile {
  height: 8vw;
  width: 16vw;
  position: relative;
  margin: 1em;
}

.unit-display {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto;
  height: 100%;
  width: 100%;
}

.unit-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.unit-display div {
  text-align: center;
  line-height: 4vw;
  z-index: 1;
}

.unit-name {
  text-align: center;
  font-size: 1.5em;
  line-height: 8vw;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(150deg, #000B, #0004);
}

.hud-token-count {
  transform: scale(0.25);
  display: flex;
  position: absolute;
  top: -2em;
  justify-content: space-around;
  width: 100%;
}

.hud-token-count>div {
  margin: 0px 3em;
}

.hud-token-count .pc {
  color: var(--my-color);
}

.faction_buttons {
  display: inline-flex;
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: #4446;
  padding: 3px;
  border: 1px solid var(--my-color);
}

.faction_button {
  font-size: 2em;
  text-shadow: 2px 2px #222;
  border-radius: 100px;
  text-align: center;
  width: 2em;
  height: 2em;
  line-height: 2em;
  margin: 5px 10px;
  color: #fff;
  border: 1px solid #8888;
  cursor: pointer;
}

.faction_button:hover {
  border: 1px solid #fff;
  text-shadow: 1px 1px #fff;
}

.faction_button.p1 {
  background-color: var(--p1);
}

.faction_button.p2 {
  background-color: var(--p2);
}

.faction_button.p3 {
  background-color: var(--p3);
}

.faction_button.p4 {
  background-color: var(--p4);
}

.faction_button.p5 {
  background-color: var(--p5);
}

.faction_button.p6 {
  background-color: var(--p6);
}

.status, .hud-header, .hud-menu, .hud-body, .controls, #menu-container>ul>li, #menu-container>ul>li:first-child {
  background-color: #222C;
  color: #fff;
  border-color: #555;
  font-family: 'orbitron-medium', 'bank-gothic', arial, helvetica, sans-serif;
  line-height: 1.3em;
}

#menu-container>ul>li:hover {
  background-color: #3334;
}


.status ul li:hover, .hud-menu ul li a:hover, hud-menu-overlay ul li:hover {
  background: #8888;
}

.status p {
  margin: 0;
  padding: 0 1em;
  text-align: left;
  display: block;
}

.hud-menu-overlay {
  background-color: transparent;
  overflow-y: auto;
  color: #fff;
  padding-top: 5px;
}

.status ul li, .status ul li:last-child, hud-menu-overlay ul li {
  border-color: #555;
}

.hud {
  background-color: unset;
  border: 1px solid var(--my-color);
  box-shadow: none;
}

.hud {
  width: 600px;
  min-width: 600px;
}

.hud-body {
  display: block;
  height: 100%;
  max-width: 100%;
  overflow-y: auto;
}

.hud-menu ul li a {
  text-decoration: none;
  color: #fffD;
}

.hud-menu ul li:hover {
  background-color: #888888;
}

.status {
  display: block;
  text-align: center;
  padding: 10px 10px;
  border: none;
  overflow-y: auto;
  background-color: transparent;
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
  background-color: transparent;
}

.cardbox {
  top: 17vh;
  height: 60vh;
  width: auto;
  -webkit-filter: drop-shadow(1px 1px 3px #FFF8) drop-shadow(-1px -1px 3px #fff8);
  filter: drop-shadow(1px 1px 3px #FFF8) drop-shadow(-1px -1px 3px #fff8);
}

.cardbox-exit-background {
  display: none !important;
}

.turns {
  position: absolute;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 3em;
  width: 2em;
  color: #fff;
  margin-top:65px;
}

.round {
  background-color: var(--playing-color);
  border: 1px solid var(--playing-color);
  width: 2em;
  height: 2em;
  color: #FFF;
  text-align: center;
  line-height: 2em;
  font-size: 1em;
  font-weight: bold;
}

.turn {
  width: 2em;
  height: 2em;
  color: var(--playing-color);
  border: 1px solid var(--playing-color);
  text-align: center;
  line-height: 2em;
  font-size: 1em;
  font-weight: bold;
}

.round-label, .turn-label {
  font-size: 0.5em;
  text-align: center;
}

.VP-track-label {
  font-size: 1.35em;
  color: #fff;
  text-align: left;
}

.vp {
  position: relative;
  height: 5vh;
  background: #5555;
  margin: 3px;
}

.vp-players {
  height: 100%;
  display: grid;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
}

.vp-faction-name {
  color: #fff;
  display: inline-block;
  padding: 2px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
}

.player-vp {
  font-family: 'orbitron-medium', 'bank-gothic', arial, helvetica, sans-serif;
}

.player-vp-background {
  position: relative;
  width: 2em;
  text-align: center;
  color: #ddd;
  font-size: 2em;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  left: 90%;
  -webkit-text-stroke: 1px #8888;
  font-weight: bolder;
}

.leaderboardbox {
  position: absolute;
  bottom: 0;
  left: -158px;
  width: 200px;
  transition: all 500ms;
  z-index: 9;
}

.leaderboardbox:hover {
  left: 0;
}

.leaderboardbox-lock {
  left: 0;
}

.leaderboard {}

.ship_graphic {
  filter: brightness(0) saturate(100%) invert(76%) sepia(0%) saturate(7455%) hue-rotate(66deg) brightness(66%) contrast(92%);
}

.pointer {
  cursor: pointer;
}

.addoption {
  cursor: pointer;
  margin-left: 20px;
}

.card {
  cursor: pointer;
}

.textchoice {
  cursor: pointer;
  font-family: 'orbitron-medium', helvetica, arial, courier;
  text-transform: uppercase;
}

.cardchoice {
  cursor: pointer;
  margin-right: 10px;
  float: left;
}

.option {
  cursor: pointer;
}

.sector_name {
  cursor: pointer;
  margin: 0;
  display: block;
  border-top: 2px solid #888;
  padding: 1.25em;
}

.sector_graphics_space {}

.sector_graphics_planet {
  display: none;
}

.sector_graphics {
  position: relative;
  top: 0px;
  left: 0px;
}

/* https://codepen.io/sosuke/pen/Pjoqqp */

.player_color_1 {
  filter: brightness(0) saturate(100%) invert(57%) sepia(13%) saturate(2390%) hue-rotate(84deg) brightness(93%) contrast(80%);
}

.player_color_2 {
  filter: brightness(0) saturate(100%) invert(32%) sepia(90%) saturate(870%) hue-rotate(184deg) brightness(93%) contrast(97%);
}

.player_color_3 {
  filter: invert(50%) sepia(52%) saturate(753%) hue-rotate(333deg) brightness(95%) contrast(93%);
}

.player_color_4 {
  filter: invert(39%) sepia(11%) saturate(5559%) hue-rotate(273deg) brightness(101%) contrast(86%);
  ;
}

.player_color_5 {
  filter: invert(84%) sepia(92%) saturate(701%) hue-rotate(154deg) brightness(84%) contrast(97%);
}

.player_color_6 {
  filter: invert(32%) sepia(14%) saturate(7093%) hue-rotate(336deg) brightness(88%) contrast(86%);
}

.player_color_7 {
  filter: brightness(0) saturate(100%) invert(32%) sepia(90%) saturate(870%) hue-rotate(184deg) brightness(93%) contrast(97%);
}

.player_color_8 {}

.player_color_box {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 10px;
  background-color: #000;
}

.terminal_header {
  margin-bottom: 15px;
}

.terminal_header2 {
  margin-bottom: 15px;
}

.terminal_header3 {}

.exhausted {
  opacity: 0.5;
}

.agendabox {
  float: right;
  width: 200px;
  height: 200px;
  background-color: lightyellow;
}

.agendas {}

.agendacard {
  width: 180px;
  height: 252px;
  position: relative;
  left: 0px;
  top: 0px;
  background-size: cover;
  float: right;
  border: 2px solid white;
  margin-left: 10px;
}

.agendacard_name {
  color: white;
  position: relative;
  top: 6%;
  font-weight: bold;
  text-align: center;
  width: inherit;
  margin-left: auto;
  margin-right: auto;
}

.agendacard:nth-child(1) {
  transform: translate(0px, 50px);
}

.agendacard:nth-child(2) {
  transform: translate(0px, 100px);
}

.agendacard:nth-child(3) {
  transform: translate(0px, 150px);
}

.actionbox {
  background-color: lightblue;
}

.actioncards {}

.techbox {
  background-color: lightgrey;
}

.techcards {}

.objectivebox {
  background-color: orange;
}

.objectives {}

.option {
  cursor: pointer;
}

#game_board_sizer {
  position: absolute;
  top: 20px;
  width: 200px;
  right: 50px;
}

#hexGrid {
  display: flex;
  flex-wrap: wrap;
  width: 2000px;
  margin: 0 auto;
  overflow: hidden;
  font-size: 15px;
  list-style-type: none;
  /*
%  3D Perspective
%  -webkit-transform: perspective(600px) rotateX(60deg);
%  -moz-transform: perspective(600px) rotateX(60deg);
%  -ms-transform: perspective(600px) rotateX(60deg);
%  -o-transform: perspective(600px) rotateX(60deg);
%  transform: perspective(600px) rotateX(60deg);
*/
}

.hex {
  position: relative;
  visibility: hidden;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
}

.hex::after {
  content: '';
  display: block;
  padding-bottom: 86.602%;
  /* =  100 / tan(60) * 1.5 */
}

.hexIn {
  position: absolute;
  width: 96%;
  padding-bottom: 110.851%;
  /* =  width / sin(60) */
  margin: 0 2%;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
}

.hexIn * {
  position: absolute;
  visibility: visible;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
}

.hexLink {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  -ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
}

.hex_ground {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  z-index: 20000;
  font-weight: bold;
  color: #FFF;
  z-index: 100000;
  opacity: 1.0;
  position: relative;
  left: 28.5%;
}

.hex_space {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  z-index: 20000;
  font-weight: bold;
  color: #FFF;
  z-index: 100000;
  opacity: 1.0;
  position: relative;
  left: 28.5%;
}

.hex_activated {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  z-index: 20000;
  font-weight: bold;
  color: #FFF;
  z-index: 100000;
  background-color: transparent;
  opacity: 1.0;
}

.hex_bg {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
  -ms-transform: rotate3d(0, 0, 0, 0deg);
  transform: rotate3d(0, 0, 0, 0deg);
  transform: rotate(30deg) scale(0.88);
}

.sector_graphics_background {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
  -ms-transform: rotate3d(0, 0, 0, 0deg);
  transform: rotate3d(0, 0, 0, 0deg);
}

.sector_graphics {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
  -ms-transform: rotate3d(0, 0, 0, 0deg);
  transform: rotate3d(0, 0, 0, 0deg);
}

.top_left {
  transform: translate(-50px, -55px);
}

.bottom_right {
  transform: translate(50px, 50px);
}

.dashboard {
  display: inline-flex;
  position: absolute;
  z-index: 9;
  color: #fff;
  background: transparent;
  margin-top: 65px;
  margin-left: 15em;
}

.dash-faction-base {
  background-color: #000;
  opacity: 0.95;
  color: white;
  text-weight: bold;
  margin-top: 2px;
}
.dash-faction-speaker {
  height: 40px;
  margin-top: 10px;
}
.speaker {
  background-color: red;
  color: white;
  font-size:16px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.dash-faction-status {
  border: 1px solid #c16400;
  background-color: green;
  height: 10px;
  width: 15px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 4px;
  float: left;
}

.dash-faction-name {
  text-align: center;
  font-size: 0.9em;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.dash-faction {
  display: grid;
  grid-gap: 0.2em;
  margin-right: 15px;
}

.dash-faction-info {
  display: grid;
  grid-template-columns: repeat(3, 4.5em);
  height: 4.4em;
  padding: 0;
}

.dash-item {
  width: 3em;
  line-height: 1.9em;
  text-align: center;
  font-size: 1.5em;
  text-shadow: 2px 2px #000A;
}

.dash-item .avail {
  transform: translateY(-0.2em);
  display: inline-block;
  color: white;
}

.dash-item .total, .dash-item .limit {
  transform: translateY(0.2em);
  /* display: inline-block; */
  display: none;
  opacity: 0.7;
}

.dash-faction-action {
  text-align: center;
  font-size: large;
  color: #fff;
}

.dash-item {
  color: #fff;
  position: relative;
}

.dash-item.resources {
  background-image: url('/imperium/img/blank_resources_hex.png');
  background-size: cover;
  /* content: "\2B23"; */
  /* background-color: #c16400; */
  color: #000000;
  font-size: 3em;
  position: relative;
  left: 0em;
  z-index: -1;
  /* bottom: 0.66em; */
  height: 58px;
  width: 65px;
}

.dash-item.influence {
  background-image: url('/imperium/img/blank_influence_hex.png');
  background-size: cover;
  /* content: "\2B23";
  /* background-color: #000000; */
  color: #c16400;
  font-size: 3em;
  position: relative;
  z-index: -2;
  /* bottom: 0.66em; */
  height: 58px;
  width: 65px;
}

.dash-item.trade {
  /* content: "\2B1F"; */
  /* color: #ffaa00; */
  font-size: 4em;
  position: relative;
  z-index: -5;
  height: 58px;
  width: 65px;
  display: flex;
  left: 10px;
  top: 4px;
}

.dash-item-goods {
  position: relative;
  top: -25px;
  left: -40px;
  font-size: 0.8em;
}

.fleet * {
  position: relative;
}

.fighter {
  #background-color: white;
  width: 20px;
  height: 20px;
  padding: 3px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.destroyer {
  #background-color: white;
  width: 20px;
  height: 40px;
  padding: 3px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.carrier {
  #background-color: white;
  width: 90px;
  height: 20px;
  padding: 3px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.cruiser {
  #background-color: white;
  width: 120px;
  height: 35px;
  padding: 3px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.dreadnaught {
  #background-color: white;
  width: 120px;
  height: 55px;
  padding: 3px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.flagship {
  #background-color: white;
  width: 140px;
  height: 60px;
  padding: 3px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.planet {
  position: absolute;
  height: 90px;
  width: 90px;
  background-color: white;
  z-index: 9000000;
}

.ground_forces * {
  position: relative;
  float: left;
}

.infantry {
  position: relative;
  background-color: blue;
  width: 35px;
  height: 35px;
  padding: 3px;
  float: left;
}

.pds {
  position: relative;
  background-color: red;
  width: 35px;
  height: 35px;
  padding: 3px;
  float: left;
}

.spacedock {
  position: relative;
  background-color: green;
  width: 35px;
  height: 35px;
  padding: 3px;
  float: left;
}

.planetcard {
  width: 180px;
  height: 252px;
  position: relative;
  background-size: cover;
  margin-bottom: 10px;
}

.strategycard {
  width: 180px;
  height: 252px;
  position: relative;
  background-size: cover;
  margin-bottom: 10px;
}

.strategycard_name {
  position: relative;
  top: 6%;
  font-weight: bold;
  text-align: center;
  width: inherit;
  margin-left: auto;
  margin-right: auto;
}

.actioncard {
  width: 180px;
  height: 252px;
  position: relative;
  background-size: cover;
  margin-bottom: 10px;
}

.actioncard_name {
  position: relative;
  top: 6%;
  font-weight: bold;
  text-align: center;
  width: inherit;
  margin-left: auto;
  margin-right: auto;
}

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/

@media (min-width:1201px) {
  /* <- 5-4  hexagons per row */
  #hexGrid {
    padding-bottom: 4.4%
  }
  .hex {
    width: 12.5%;
    /* = 100 / 8 */
  }
  .hex:nth-child(15n+9) {
    /* first hexagon of even rows */
    margin-left: 6.25%;
    /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 1200px) and (min-width:901px) {
  /* <- 4-3  hexagons per row */
  #hexGrid {
    padding-bottom: 5.5%
  }
  .hex {
    width: 12.5%;
    /* = 100 / 8 */
  }
  .hex:nth-child(15n+9) {
    /* first hexagon of even rows */
    margin-left: 6.25%;
    /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 900px) and (min-width:601px) {
  /* <- 3-2  hexagons per row */
  #hexGrid {
    padding-bottom: 7.4%
  }
  .hex {
    width: 12.5%;
    /* = 100 / 8 */
  }
  .hex:nth-child(15n+9) {
    /* first hexagon of even rows */
    margin-left: 6.25%;
    /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 600px) {
  /* <- 2-1  hexagons per row */
  #hexGrid {
    padding-bottom: 11.2%
  }
  .hex {
    width: 12.5%;
    /* = 100 / 8 */
  }
  .hex:nth-child(15n+9) {
    /* first hexagon of even rows */
    margin-left: 6.25%;
    /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 400px) {
  #hexGrid {
    font-size: 13px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: var(--my-color);
  background-color: var(--my-color);
  border: var(--my-color);
}

/* All the same stuff for Firefox */

input[type=range]::-moz-range-thumb {
  background-color: var(--my-color);
  border: 1px solid var(--my-color);
}

input[type=range] {
  border: 1px solid var(--my-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--my-color);
  border: var(--my-color);
}

.white-stroke {
  -webkit-text-stroke: 2px #DDD8;
  stroke: 2px #DDD8;
}

.chat-box {
  background-color: #000A;
  border: 1px solid var(--my-color)
}

.chat-box-main, .chat-box-input, .chat-box-header, .chat-box-new-message-input {
  background: transparent;
  background-color: transparent;
  background-image: none;
  color: #fff;
}

.tech_yellow {
  color: yellow;
  border-color: yellow;
}

.tech_red {
  color: red;
  border-color: red;
}

.tech_blue {
  color: blue;
  border-color: blue;
}

.tech_green {
  color: green;
  border-color: green;
}

.tech_yellow::before {
  color: yellow;
  border-color: yellow;
}

.tech_red::before {
  color: red;
  border-color: red;
}

.tech_blue::before {
  color: blue;
  border-color: blue;
}

.tech_green::before {
  color: green;
  border-color: green;
}

.gameboard img {
  transition: 0.333s;
}

.new-byzantium {
  transform: scale(1.4);
}

/* double planet */

.bi .sector8, .bi .sector9, .bi .sector10, .bi .sector11, .bi .sector12, .bi .sector13, .bi .sector14, .bi .sector15, .bi .sector16, .bi .sector17, .bi .sector18, .bi .sector19, .bi .sector20, .bi .sector21, .bi .sector38, .bi .sector39, .bi .sector40, .bi .sector50, .bi .sector51 {
  transform: scale(2.6)rotate(-30deg);
}

/* large single planet */

.bi .sector22, .bi .sector23, .bi .sector24, .bi .sector25, .bi .sector26, .bi .sector27, .bi .sector28, .bi .new-byzantium, .bi .sector29, .bi .sector30, .bi .sector31, .bi .sector32, .bi .sector45, .bi .sector52, .bi .sector53, .bi .sector73 {
  transform: scale(2.3) translate(0%, 25%) rotate(17deg);
}

/* small single planet */

.bi .sector58, .bi .sector59, .bi .sector60, .bi .sector61, .bi .sector62, .bi .sector63, .bi .sector64, .bi .sector65, .bi .sector66, .bi .sector67, .bi .sector62, .bi .sector69, .bi .sector70 {
  transform: scale(3) translate(-5%, 16%);
}

/* planet and wormhole */

.bi .sector41, .bi .sector42, .bi .sector46, .bi .sector47, .bi .sector55, .bi .sector57 {
  transform: scale(3) translate(11%, 35%);
}

/* small planet bottom */

.bi .sector43, .bi .sector44 {
  transform: scale(3) translate(-10%, 6%);
}

.hexInfo {
  position: absolute;
  color: #fff;
  display: none;
  z-index: 999;
  white-space: nowrap;
}

.bi .hexInfo {
  display: block;
}

.sector_information_planetname {
  font-size: 1.65em;
  position: absolute;
  padding: 5px 10px;
  color: #fff;
  text-shadow: 1px 1px darkorange;
  background-color: #000A;
}

.one_planet .sector_information_planetname {
  top: 165px;
  left: 10px;
  font-size: 1.2em;
}

.two_planet .sector_information_planetname {
  font-size: 1.2em;
}

.top_planet .sector_information_planetname {
  top: 40px;
  left: 20px;
}

.bottom_planet .sector_information_planetname {
  top: 190px;
  left: 230px;
  transform: translateX(-100%);
}

.sector_information_planetname::before {
  content: "\2B24";
  text-shadow: none;
  font-size: 15px;
  position: relative;
  display: inline-block;
  top: -2px;
  left: -3px;
}

.sector_information_planetname.p1::before {
  color: var(--p1);
}

.sector_information_planetname.p2::before {
  color: var(--p2);
}

.sector_information_planetname.p3::before {
  color: var(--p3);
}

.sector_information_planetname.p4::before {
  color: var(--p4);
}

.sector_information_planetname.p5::before {
  color: var(--p5);
}

.sector_information_planetname.p6::before {
  color: var(--p6);
}

.sector_information_planetname.nowner::before {
  display: none;
}

.sector_information_planet_content {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: auto auto;
  position: absolute;
  top: 60px;
  left: 120px;
  background: #000a;
  padding: 1em;
  transform: translateX(-50%);
}

.sector_information_planet_content div {
  position: relative;
  text-align: left;
}

.top_planet .sector_information_planet_content {
  top: 90px;
  left: 60px;
  font-size: smaller;
}

.bottom_planet .sector_information_planet_content {
  top: 90px;
  left: 238px;
  font-size: smaller;
  transform: translateX(-100%);
}

.ship_selector b::before {
  content: " \1F5F9   ";
}
