* {
    margin: 0;
    padding: 0;
}


.sector_graphics_space {

}
.sector_graphics_planet {
  display: none;
}

.sector_graphics {
  position: relative;
  top: 0px;
  left: 0px;
}


/* https://codepen.io/sosuke/pen/Pjoqqp */

.player_color_1 {
  filter: brightness(0) saturate(100%) invert(57%) sepia(13%) saturate(2390%) hue-rotate(84deg) brightness(93%) contrast(80%);
}
.player_color_2 {
  filter: brightness(0) saturate(100%) invert(32%) sepia(90%) saturate(870%) hue-rotate(184deg) brightness(93%) contrast(97%);
}
.player_color_3 {
  filter: brightness(0) saturate(100%) invert(32%) sepia(90%) saturate(870%) hue-rotate(184deg) brightness(93%) contrast(97%);
}
.player_color_4 {
  filter: brightness(0) saturate(100%) invert(32%) sepia(90%) saturate(870%) hue-rotate(184deg) brightness(93%) contrast(97%);
}
.player_color_5 {
  filter: brightness(0) saturate(100%) invert(32%) sepia(90%) saturate(870%) hue-rotate(184deg) brightness(93%) contrast(97%);
}
.player_color_6 {
  filter: brightness(0) saturate(100%) invert(32%) sepia(90%) saturate(870%) hue-rotate(184deg) brightness(93%) contrast(97%);
}
.player_color_7 {
  filter: brightness(0) saturate(100%) invert(32%) sepia(90%) saturate(870%) hue-rotate(184deg) brightness(93%) contrast(97%);
}
.player_color_8 {
  filter: brightness(0) saturate(100%) invert(32%) sepia(90%) saturate(870%) hue-rotate(184deg) brightness(93%) contrast(97%);
}


.player_color_box {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 10px;
  background-color: #000;
}

.terminal_header {
  margin-bottom: 15px;
}
.terminal_header2 {
  margin-bottom: 15px;
}
.terminal_header3 {
}



.exhausted {
  opacity: 0.3;
}


.leaderboardbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
}
.leaderboard {
  height: 280px;
  width: 100%;
  background-color: lightyellow;
}
.agendabox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.agendas {
  float:right;
  height: 180px;
  width: 600px;
  background-color: lightyellow;
}

.option {
 cursor:pointer;
}






body {
 background: #151717;
 font-family: arial, helvetica, sans-serif;
 font-size: 13px;
 padding:0px;
 margin:0px;
}
.connection_monitor {
 display:none;
 min-height: 30px;
 z-index: 90000;
 position: absolute;
 background: #ef6666;
 font-size: 1.8em;
 padding: 15px;
}
.gameboard {
  position: absolute;
  background-size: cover;
  /* width: 5100px; */
  /* height: 3300px; */
  /* width: 2550px; */
  /* height: 1650px; */
}










#hexGrid {
  display: flex;
  flex-wrap: wrap;
  width: 2000px;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  list-style-type: none;

%  3D Perspective
%  -webkit-transform: perspective(600px) rotateX(60deg);
%  -moz-transform: perspective(600px) rotateX(60deg);
%  -ms-transform: perspective(600px) rotateX(60deg);
%  -o-transform: perspective(600px) rotateX(60deg);
%  transform: perspective(600px) rotateX(60deg);

}

.hex {
  position: relative;
  visibility:hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hex::after{
  content:'';
  display:block;
  padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
}
.hexIn{
  position: absolute;
  width:96%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  margin:0 2%;
  overflow: hidden;
  visibility: hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}
.hexIn * {
  position: absolute;
  visibility: visible;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hexLink {
  display:block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
      -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
          transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

.hex_ground {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  z-index: 20000;
  font-weight: bold;
  color: #FFF;
  z-index: 100000;
  opacity: 1.0;
  position: relative;
  left: 28.5%;
}
.hex_space {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  z-index: 20000;
  font-weight: bold;
  color: #FFF;
  z-index: 100000;
  opacity: 1.0;
  position: relative;
  left: 28.5%;
}
.hex_activated {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  z-index: 20000;
  font-weight: bold;
  color: #FFF;
  z-index: 100000;
  background-color: transparent;
  opacity: 1.0;
}
.hex_bg {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0,0,0,0deg);
      -ms-transform: rotate3d(0,0,0,0deg);
          transform: rotate3d(0,0,0,0deg);
          transform: rotate(30deg) scale(0.88);

}

.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0,0,0,0deg);
      -ms-transform: rotate3d(0,0,0,0deg);
          transform: rotate3d(0,0,0,0deg);
}







.fleet * {
  position: relative;
}
.fighter {
  #background-color: white;
  width: 20px;
  height: 20px;
  padding: 3px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}
.destroyer {
  #background-color: white;
  width: 20px;
  height: 40px;
  padding: 3px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}
.carrier {
  #background-color: white;
  width: 90px;
  height: 20px;
  padding: 3px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}
.cruiser {
  #background-color: white;
  width: 120px;
  height: 35px;
  padding: 3px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}
.dreadnaught {
  #background-color: white;
  width: 120px;
  height: 55px;
  padding: 3px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}
.flagship {
  #background-color: white;
  width: 140px;
  height: 60px;
  padding: 3px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}
.planet {
  position: absolute;
  height: 90px;
  width: 90px;
  background-color: white;
  z-index: 9000000;
}

.ground_forces * {
  position: relative;
  float: left;
}
.infantry {
  position: relative;
  background-color: blue;
  width: 35px;
  height: 35px;
  padding: 3px;
  float: left;
}
.pds {
  position: relative;
  background-color: red;
  width: 35px;
  height: 35px;
  padding: 3px;
  float: left;
}
.spacedock {
  position: relative;
  background-color: green;
  width: 35px;
  height: 35px;
  padding: 3px;
  float: left;
}



.planetcard {
 width:180px;
 height: 252px;
 position: relative;
 background-size: cover;
 margin-bottom: 10px;
}
.planetcard_name {
 position: relative;
 top: 6%;
 font-weight: bold;
 text-align: center;
 width: inherit;
 margin-left: auto;
 margin-right: auto;
}
.planetcard_resources {
  top: 70%;
  width: 50%;
  position: relative;
  font-size: 3em;
  float: left;
}
.planetcard_influence {
  top: 70%;
  width: 50%;
  position: relative;
  font-size: 3em;
  float: left;
}

.strategycard {
 width:180px;
 height: 252px;
 position: relative;
 background-size: cover;
 margin-bottom: 10px;
}
.strategycard_name {
 position: relative;
 top: 6%;
 font-weight: bold;
 text-align: center;
 width: inherit;
 margin-left: auto;
 margin-right: auto;
}


.actioncard {
 width:180px;
 height: 252px;
 position: relative;
 background-size: cover;
 margin-bottom: 10px;
}
.actioncard_name {
 position: relative;
 top: 6%;
 font-weight: bold;
 text-align: center;
 width: inherit;
 margin-left: auto;
 margin-right: auto;
}

.agendacard {
 width: 180px;
 height: 252px;
 position: relative;
 background-size: cover;
 float: right;
 border: 2px solid white;
 margin-left: 10px;
}
.agendacard_name {
 color: white;
 position: relative;
 top: 6%;
 font-weight: bold;
 text-align: center;
 width: inherit;
 margin-left: auto;
 margin-right: auto;
}






/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width:1201px) { /* <- 5-4  hexagons per row */
  #hexGrid{
    padding-bottom: 4.4%
  }
  .hex {
    width: 12.5%; /* = 100 / 8 */
  }
  .hex:nth-child(15n+9){ /* first hexagon of even rows */
    margin-left:6.25%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 1200px) and (min-width:901px) { /* <- 4-3  hexagons per row */
  #hexGrid{
    padding-bottom: 5.5%
  }
  .hex {
    width: 12.5%; /* = 100 / 8 */
  }
  .hex:nth-child(15n+9){ /* first hexagon of even rows */
    margin-left:6.25%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
  #hexGrid{
    padding-bottom: 7.4%
  }
  .hex {
    width: 12.5%; /* = 100 / 8 */
  }
  .hex:nth-child(15n+9){ /* first hexagon of even rows */
    margin-left:6.25%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 600px) { /* <- 2-1  hexagons per row */
  #hexGrid{
    padding-bottom: 11.2%
  }
  .hex {
    width: 12.5%; /* = 100 / 8 */
  }
  .hex:nth-child(15n+9){ /* first hexagon of even rows */
    margin-left:6.25%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 400px) {
    #hexGrid {
        font-size: 13px;
    }
}



