.settings-grid {
    display: grid;
    grid-template-columns: 7em 1fr;
    grid-gap: 10px;
    margin: 10px 0;
}

.settings-buttons {
    display: grid;
    grid-template-columns: 15em 15em;
    grid-gap: 10px;
    margin: 10px 0;
}

#privatekey {
    width: 95%;
}

#qrcode {
    display: inline-block;
}
.email-appspace-profile{
    max-width: 500px;
}
.grid-2{
    margin-bottom:0;
    border-bottom: 2px solid #ccc;
    width: 500px;
}
.grid-2 div{
    padding: 0.5em 0em 0.2em 0;
    min-width: 120px;
    font-size: 18px;
}
.grid-2-special{
     border-bottom:none;
     margin-bottom: 1em;
}
.profile-option-info {
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 1.5em;
    padding: 6px 0 20px 0;
    color: #444;
    font-size:0.95em;
}
.upload-avatar-info{
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 1.5em;
    padding: 16px 0 20px 0;
}

.darkmode {
  position: absolute;
  right: 1.5em;
  height: 2em;
  width: 1em;
  display: flex;
  align-items: center;
  font-size: 1.5em;
}
