.settings-grid {
    display: grid;
    grid-template-columns: 7em 1fr;
    grid-gap: 10px;
    margin: 10px 0;
}

.settings-buttons {
    display: grid;
    grid-template-columns: 15em 15em;
    grid-gap: 10px;
    margin: 10px 0;
}

#privatekey {
    width: 95%;
}

#qrcode {
    display: inline-block;
}
.email-appspace-profile{
    max-width: 500px;
}
.grid-2{
    margin-bottom:0;
    border-bottom: 2px solid #ccc;
    width: 500px;
}
.grid-2 div{
    padding: 0.5em 0em 0.25em 0;
    min-width: 120px;
    font-size: 18px;
}
.grid-2-special{
     border-bottom:none;
     margin-bottom: 1em;
}
.registering-saito-address-info{
    font: normal normal normal 16px/1.4em avenir-lt-w01_35-light1475496;
    color: #1C1C23;
    line-height: 1.5em;
    padding: 16px 0 20px 0;
}
.registering-email-address-info{
    font: normal normal normal 16px/1.4em avenir-lt-w01_35-light1475496;
    line-height: 1.5em;
    color: #1C1C23;
    padding: 16px 0 20px 0;
} 
.upload-avatar-info{
    font: normal normal normal 16px/1.4em avenir-lt-w01_35-light1475496;
    line-height: 1.5em;
    color: #1C1C23;
    padding: 16px 0 20px 0;
}

