.leaderboard-rankings {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-gap: 3px;
}


.leaderboard-rankings div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leaderboard-rankings div:nth-child(3n+1) {
  text-align: left;
}
.leaderboard-rankings div:nth-child(3n+2) {
  text-align: right;
}
.leaderboard-rankings div:nth-child(3n+0) {
  text-align: right;
}

