body {
  background-color: var(--saito-skyline-grey);
  font-size: 1em;
  font-family: "visuelt-light";
  overflow-x: hidden;
  width: 100%;
  /*
  background-image: url(/saito/img/background.png);
  */
}

section {
  padding: 1em 7em;
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
}

h2, h5 {
  color: var(--saito-red);
}

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url('/saito/img/dreamscape.png');
  background-repeat: no-repeat;
  background-size: 100% 100px;
}

.site-main {
  max-width: 1600px;
  height: 675px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.banner {
  height: 34em;
  background-color: rgb(247 31 61 / 57%);
  background-image: url('/saito/img/dreamscape.png');
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(100% 0, 100% 12%, 42% 100%, 0 38%, 0 0);
}

.can-build-img-small {
  height: 200px;
}
.can-build-img-tall {
  height: 400px;
  float: left;
  margin: 0px;
  padding: 0px;
}


img.banner-logo {
  width: 39%;
  position: absolute;
  left: 40%;
  top: 3em;
  transform: translate(-50%, 0em);
}

.banner-title {
  color: #fff;
  font-size: 3em;
  font-family: visuelt-medium;
  position: absolute;
  top: 6em;
  left: 42%;
  transform: translate(-50%, 10px);
  margin-top: 0px;
}

.compare-grid {
  background-image: url('/saito/img/dreamscape.png');
  background-size: cover;
  color: #fff;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 20em repeat(5, auto);
  padding: 1em;
}

.compare-grid>div {
  background: #444;
  display: flex;
  align-items: center;
}

.compare-title {
  color: var(--saito-red);
  font-size: larger;
}

.compare-grid>div>div {
padding:0.8em
}

.compare-grid-header, .compare-grid .label {
  font-family: visuelt-medium;
  font-size: larger;
}

.build-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.build-grid>div {
  background-size: cover;
  transition: transform 0.3s ease-in;
  cursor: pointer;
  position: relative;
}

.build-content {
  position: absolute;
  background-color: #000a;
  color: #fff;
  font-size: 1.6em;
  padding: 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.build-grid img {
  width: 100%;
}

.build-grid .email{
  background-image: url('/website/img/email.png');
}
.build-grid .poker{
  background-image: url('/website/img/poker.png');
}
.build-grid .scotland{
  background-image: url('/website/img/scotland.png');
}
.build-grid .twilight{
  background-image: url('/website/img/twilight.png');
}



.build-grid div:hover {
  transform: scale(1.1);
  position: relative;
}



.roadmap-row {
  margin: 2em 0;
  min-height: 6em;
  text-align: center;
  display: flex;
}

.roadmap .background {
  background-color: var(--saito-red);
}

.roadmap-row .content {
  color: #444;
  width: 35%;
  display: inline-block;
  line-height: 1.2em;
  text-align: left;
  padding: 3px 3em;
  background: linear-gradient(0deg, #DDD 50%, #CCC 100%);
}

.content.blanc {
  width: 15%;
  padding: 4em;
}

.content.start {
  clip-path: polygon(16% 49%, 0 0, 100% 0, 100% 100%, 0 100%);
}

.content.end {
  clip-path: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0 100%);
}

.content-shim {
  height: 110%;
  border: 6px solid var(--saito-red);
  background-color: #fff;
  position: relative;
  top: -5%;
  padding: 1em 0 1em 2em;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to right, var(--saito-red), var(--saito-orange));
}

.roadmap .content-label {
  font-size: larger;
  font-family: visuelt-medium;
  line-height: 2em;
}

.featured-app {
  background-color: transparent;
  width: 100%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */

}
.featured-app-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.featured-app:hover .featured-app-inner {
  transform: rotateY(180deg);
}

.featured-app-front, .featured-app-back {
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.featured-app-front {
  background-color: #bbb;
  color: black;
}

.featured-app-back {
  transform: rotateY(180deg);
  background-color: #fff;
  color: white;
  height: 320px;
  padding: 1em;
  border: 1px solid var(--saito-skyline-grey);
}

.featured-app-back-inner {
  height: 100%;
  background-color: var(--saito-red);
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.featured-app-back-inner a {
  color: #fff; 
  font-family: visuelt-medium;
}

.featured-app-back-inner a:hover {
  color: #fffd;
}

.title-container {
  width: 580px;
  color: #fff;
  justify-self: right;
  margin-top:75px;
}

.title-content {
  display: none;
}

.quote-content {
  margin: 15px 4px 0 4px;
  font-size: 2em;
  font-style: italic;
  text-align: left;
  padding: 1em;
}

.quote-author {
  clear: both;
  letter-spacing: 0.075em;
  color: #fff;
  font-weight: 500;
  margin: 20px 0 0 45px;
}

.quote-quote {
  font-size: 3.5em;
  display: inline-block;
}

.close-quote {
  transform: rotate(180deg);
}

/*
.fundamentals-row {
  background-color: whitesmoke;
  position:relative;
  top: -200px;
}
*/
.fundamentals {
  font-size: 1.2em;
  line-height: 1.4em;
}

.fundamentals-grid {
  display: grid;
  grid-gap: 0 5em;
  grid-template-columns: 1fr 1fr;
  margin: 0 0 1em 0;
}

.fundamentals-intro {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fundamentals-column {
  padding: 1em;
  background-color: #fff;
  border: 1px solid #0002;
  line-height: 1.1em;
}

.fundamentals-text {
  margin-top: 9px;
  font-size:0.8em;
}
.fundamentals-contact {
  clear:both;
}

.about-saito h2 {
  color: #fff;
}

.about-content {
  font-size: 1.3em;
  color: #fff;
  line-height: 1.5em;
}

.intro-box {
  width: 580px;
  background-color: #f9f9f9;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 2em 2em 0 2em;
}

.intro-title {
  color: #f71e3d;
  font-size: 2.1em;
  font-weight: 700;
  margin: 0 0 0.5em 0;
}

.intro-content {
  font-size: 1.2em;
  color: #000000;
  line-height: 1.5em;
}

.intro-content p {
  letter-spacing: 0.05em;
  margin: 0 0 1em 0;
}

.black {
  background-color: var(--saito-cyber-black);
}

.white {
  background-color: var(--saito-skyline-grey);
}

.red {
  background-color: var(--saito-red);
}

.arcade-text {
  margin: 4em 0;
  padding: 1em;
  width: 590px;
}

.upsize {
  font-size: 1.3em;
  line-height: 1.3em;
}

.row {
  grid-gap: 2em;
  margin: 0 0 0 0;
}

#testimonials {
  height: 100px;
}

.video-row {
  padding: 5px;
  width: 636px;
}

.flowplayer video {
  box-shadow: 0 0 5px var(--saito-skyline-grey);
  border: 1px solid var(--saito-skyline-grey);
}

.netstats {
  margin: 2em 2em;
  text-align: left;
  font-size: 1.4em;
}

.netstats center {
  width: 530px;
}

.splash-row {
  height: 19em;
  top: -300px;
  clear:both;
  position: relative;
}



.godeeper-row {
  height: 19em;
  top: -0px;
  position: relative;
}

.godeeper h2 {
  margin: 0 1em 2em 2em;
  font-size: 2em;
}

.godeeper {
  width: 100%;
  max-width: 1230px;
  margin: auto;
  padding: 0em 1em;
  top: -80px;
  position: relative;
}

.deeperboxes {
  display: flex;
  width: 100%;
}

.deeperbox {
  margin: auto;
  text-decoration: none;
}

.deeperbox i {
  color: #fff;
  background-color: var(--saito-red);
  font-size: 3em;
  line-height: 2em;
  width: 2em;
  text-align: center;
  border: 1px solid #FFF;
}

.deepertext {
  text-align: center;
  font-size: 1.5em;
  line-height: 2em;
  color: var(--saito-red);
  text-shadow: 0 0 1px #0009;
  background: #fff;
}

.box-spacer {
  width: 100%;
  position: relative;
}

.godeeper li {
  list-style: none;
  margin: 0 0 0 1em;
  font-size: 0.95em;
  line-height: 1.5em;
}

.arcade {
  color: var(--saito-cyber-black);
}

.arcade-banner-link {
  justify-self: right;
  margin: 4em 0;
}

.arcade-banner {
 /* width: 590px; */
 width: 100%;
}

.flowplayer video {
  box-shadow: 0 0 5px var(--saito-skyline-grey);
  border: 1px solid var(--saito-skyline-grey);
}


/* slider обертка */
.slider {
	position: relative;
	height: 100%;
	width: 100%;
	overflow:hidden;
}

/*Окно со слайдами*/
.slider-content {
	position: relative;		
	width: 100%;
}

/*Контейнер для слайдов (передвигаем)*/
.slider-content-wrapper {
	display: flex;
	
	transition: transform 0.5s ease-in-out;
}

/*Слайд*/
.slider-content__item {
	flex: 1 0 100%;
  /*
  width: 100%;
  height: 100%;
  */
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	font-size: 100px;
	color: rgba(0,0,0,0.2);
	display: flex;
	align-items: center;
	justify-content: center;
}

.image-1 {
  background-color: #F20952;}
.image-2 {background-color: #F61E3C;}
.image-3 {background-color: #FA3835;}
.image-4 {background-color: #FA6635;}
.image-5 {background-color: #FE9537;}
.image-6 {background-color: #FCAF45;}


/* Блок с контролами */
.slider-controls {
	height: 0;
	text-align: center;
}

/* Блок с контролами внутри окна */
.slider-content__controls {
	position:absolute;
	top:0;left:0;
	width: 100%;
	height: 100%;
	z-index:1;
	/*transform: translateY(-50%);*/
	/*padding:0 15px;*/
}

/* Arrows */
.prev-arrow, .next-arrow {
	position:absolute;
	top:50%;
	transform: translateY(-50%);
	cursor: pointer;
	color:rgba(0,0,0, 0.3);
	width: 20px;
	transition: all 0.3s;
}
.prev-arrow {left: 20px;}
.next-arrow {right: 20px;}

.prev-arrow:hover,
.next-arrow:hover {
	cursor: pointer;
	color:rgba(0,0,0, 0.7);
}

/* Dots */
.dots {
	position:absolute;
	display: flex;
	left:50%;
	transform: translateX(-50%);
	bottom: 3%;
}

.dot {
	cursor: pointer;
	width: 8px;
	height: 8px;
	margin-right: 4px;
	background-color: rgba(0,0,0, 0.3);
	/*box-shadow: 0 0 5px 0px rgba(0,0,0,0.9);*/
	border-radius: 50%;
	transition:all 0.3s;
}

.dot:last-child {margin-right: 0;}
.dot:hover {background-color: #fff;}
.dot--active {background-color: rgba(255,255,255, 0.5);}

/* Buttons */
button {
	cursor: pointer;
	margin-right: 8px;
	border:none;
	border-radius: 4px;
	padding:10px;
	background-color: #3066BE;
	color:#FFF;
	transition: all 0.5s;
}
button:last-child {margin-right: 0;}
button:hover {background-color: #60AFFF;}
button:focus {outline: none;}

/* Mods */
.disabled {
	background-color: #DCCFCF;
	color:#B0A8A8;
	cursor: default;
	pointer-events:none;
}

.d-none {display: none;}
.active {opacity: 1;}
.centered {
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);	
}
.slider-content_grid {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 65px;
  font-size: 50px;
  font-family: visuelt-medium;
}

.slider-content_html {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding: 0 2em;
  color: #fff;
}

.love-tools img {
  width: 30%;
  height: 30%;
  margin: 40px auto;
  display: block;
}

.love-tools p {
  font-size: 55px;
}

/* Footer---------------------------------*/

.footer {
  background-image: url('/saito/img/dreamscape.png');
  background-size: cover;
  padding: 25px 0 25px;
  background-position-y: 100%;
}

.footer-container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

.footer-logo {
  width: 128px;
  float: left;
}

.light {
  color: var(--saito-white);
  font-size: 1.5em;
}

.copyright, .credits {
  color: #cccccc;
  font-size: 14px;
  display: block;
  text-align: center;
}

.copyright a:hover, .credits a:hover {
  color: #fff;
}

@media only screen and (max-width: 1000px) {
  .title-container {
    width: 100vw; 
  }
  .site-main {
    margin: 80px 0 0 0;
  }
  .grid-2-columns {
    grid-template-columns: auto;
    width: 100%;
    margin: auto;
  }
  .quote-container, .slider, .flowplayer, .arcade-text, .godeeper {
    width: 100%;
  }
  .intro-box {
    display: none;
  }
  .godeeper-row {
    background-color: var(--saito-skyline-grey);
  }
  .godeeper {
    top: 0;
    padding: 1em;
  }
  .deeperboxes {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
  .godeeper h2 {
    margin: 0.5em 0.5em;
    font-size: 1.4em;
  }
  .deeperbox i {
    color: #fff;
    background-color: var(--saito-red);
    font-size: 5em;
    line-height: 2em;
    width: 2em;
    text-align: center;
  }
  .deepertext {
    font-size: 1.5em;
    line-height: 2em;
  }
  .arcade-text {
    margin: 1em 0;
  }
  .netstats {
    margin: 0 1em 1em 1em;
  }
  .netstats center {
    width: 100vw;
  }
  .arcade-banner-link {
    justify-self: center;
    margin: 2em 0 0 0;
  }
  .arcade-banner {
    width: 100%;
    margin: 1em 0;
  }
  .godeeper-row {
    height: unset;
  }
  .quote-container {
    margin: 0;
  }
  .video-row {
    padding: 0;
    width: unset;
  }
  .slider__contents {
    padding: 1rem;
  }
  .quote-quote {
    display: none;
  }
  .quote-content {
    font-size: 2em;
    margin: 0 0 5px 0;
    display: inline;
  }
  .title-content {
    display: inline-block;
    font-size: 1.5em;
    font-style: italic;
    text-align: left;
    padding: 0 1em;
  }
  .title-content blockquote {
    text-align: center;
  }
}

.chat-box-header-title {
  color: #fff;
}