body {
  background-color: var(--saito-skyline-grey);
  font-size: 1em;
  background-image: url('/saito/img/dreamscape.png');
  background-repeat: no-repeat;
  background-size: 100% 500px;
  font-family: "visuelt-light";
  overflow-x: hidden;
}

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: transparent;
  background: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}

.site-main {
  margin: 100px 0 0 0;
}

.quote-container {
  width: 580px;
  color: #fff;
  justify-self: right;
  text-align: center;
  align-self: center;
}

.quote-content {
  margin: 15px 4px 0 4px;
  font-size: 3em;
  font-style: italic;
  text-align: center;
  display: inline;
}

.quote-author {
  clear: both;
  letter-spacing: 0.075em;
  color: #fff;
  font-weight: 500;
  margin: 20px 0 0 45px;
}

.fa-quote-left {
  font-size: 1.5em;
  vertical-align: text-bottom;
  height: 2.2em;
}

.fa-quote-right {
  font-size: 1.5em;
  vertical-align: text-top;
}

.intro-box {
  width: 620px;
  background-color: var(--saito-skyline-grey);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 40px 37px 37px 37px;
}

.intro-title {
  color: #f71e3d;
  font-size: 2.1em;
  font-weight: 700;
  margin: 0 0 1em 0;
}

.intro-content {
  font-size: 1.2em;
  color: #000000;
  line-height: 1.5em;

}

.intro-content p {
  letter-spacing: 0.05em;
  margin: 0 0 1em 0;
}

.row {
  grid-gap: 2em;
}