body {
  background-color: var(--saito-skyline-grey);
  font-size: 1em;
  background-image: url('/saito/img/dreamscape.png');
  background-repeat: no-repeat;
  background-size: 100% 600px;
  font-family: "visuelt-light";
  overflow-x: hidden;
  width: 100%;
}

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: transparent;
  background: transparent;
}

.site-main {
  margin: 220px 0 0 0;
}

.quote-container {
  width: 580px;
  color: #fff;
  justify-self: right;
}

.quote-content {
  margin: 15px 4px 0 4px;
  font-size: 2em;
  font-style: italic;
  text-align: left;
  display: none;
  padding: 1em;
}

.quote-author {
  clear: both;
  letter-spacing: 0.075em;
  color: #fff;
  font-weight: 500;
  margin: 20px 0 0 45px;
}

.quote-quote {
  font-size: 3.5em;
  display: inline-block;
}

.close-quote {
  transform: rotate(180deg);
}

.intro-box {
  width: 580px;
  background-color: #f9f9f9;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 2em 2em 0 2em;
}

.intro-title {
  color: #f71e3d;
  font-size: 2.1em;
  font-weight: 700;
  margin: 0 0 1em 0;
}

.intro-content {
  font-size: 1.2em;
  color: #000000;
  line-height: 1.5em;
}

.intro-content p {
  letter-spacing: 0.05em;
  margin: 0 0 1em 0;
}

.black {
  background-color: var(--saito-cyber-black);
}

.white {
  background-color: var(--saito-skyline-grey);
}

.arcade-text {
  margin: 4em 0;
  padding: 1em;
  width: 590px;
}

.upsize {
  font-size: 1.3em;
  line-height: 1.3em;
}

.row {
  grid-gap: 2em;
  margin: 0 0 3em 0;
}

#testimonials {
  height: 100px;
}

.video-row {
  padding: 5px;
  width: 636px;
}

.flowplayer video {
  box-shadow: 0 0 5px var(--saito-skyline-grey);
  border: 1px solid var(--saito-skyline-grey);
}

.netstats {
  margin: 3em 3em;
  text-align: left;
  font-size: 1.4em;
}

.netstats center {
  width: 530px;
}

.godeeper-row {
  height: 19em;
}

.godeeper h2 {
  margin: 0 1em 2em 2em;
  font-size: 2em;
  e
}

.godeeper {
  width: 100%;
  max-width: 1230px;
  margin: auto;
  padding: 0em 1em;
  top: -80px;
  position: relative;
}

.deeperboxes {
  display: flex;
  width: 100%;
}

.deeperbox {
  margin: auto;
  text-decoration: none;
}

.deeperbox i {
  color: #fff;
  background-color: var(--saito-red);
  font-size: 6em;
  line-height: 2em;
  width: 2em;
  text-align: center;
}

.deepertext {
  text-align: center;
  font-size: 2em;
  line-height: 2em;
  color: var(--saito-red);
  text-shadow: 0 0 1px #0009;
}

.box-spacer {
  width: 100%;
  position: relative;
}

.godeeper li {
  list-style: none;
  margin: 0 0 0 1em;
  font-size: 0.95em;
  line-height: 1.5em;
}

.arcade {
  color: var(--saito-cyber-black);
}

.arcade-banner-link {
  justify-self: right;
  margin: 4em 0;
}

.arcade-banner {
  width: 590px;
}

.flowplayer video {
  box-shadow: 0 0 5px var(--saito-skyline-grey);
  border: 1px solid var(--saito-skyline-grey);
}

/* --------------- SLIDER ---------------- */

.slider {
  width: 1100px;
  padding: 2em;
  margin: auto;
  position: relative;
  top: -45px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
}

.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.slider__txt {
  margin: 0 0 1.5em 0;
  position: relative;
  text-align: center;
  font-size: 1.2em;
  display: block;
}

/*fadeInfadeOut Animation*/

.slider__inner div span {
  opacity: 0;
  animation: fadeInfadeOut 15s linear infinite 0s;
}

.slider__inner div:nth-child(1) span {
  animation-delay: 0s;
}

.slider__inner div:nth-child(2) span {
  animation-delay: 5s;
}

.slider__inner div:nth-child(3) span {
  animation-delay: 10s;
}

/*
.slider__inner div:nth-child(2) {
  animation-delay: 5s;
}
*/

@keyframes fadeInfadeOut {
  0% {
    opacity: 0;
  }
  7% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  41% {
    opacity: 0;
  }
  47% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Footer---------------------------------*/

.footer {
  background-image: url('/saito/img/dreamscape.png');
  background-size: cover;
  padding: 25px 0 25px;
  background-position-y: 100%;
}

.footer-container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

.footer-logo {
  width: 128px;
  float: left;
}

.light {
  color: var(--saito-white);
  font-size: 1.5em;
}

.copyright, .credits {
  color: #cccccc;
  font-size: 14px;
  display: block;
  text-align: center;
}

.copyright a:hover, .credits a:hover {
  color: #fff;
}

@media only screen and (max-width: 1000px) {
  .site-main {
    margin: 80px 0 0 0;
  }
  .grid-2-columns {
    grid-template-columns: auto;
    width: 100%;
    margin: auto;
  }
  .quote-container, .slider, .flowplayer, .arcade-text, .godeeper {
    width: 100%;
  }
  .intro-box {
    display: none;
  }
  .godeeper-row {
    background-color: var(--saito-skyline-grey);
  }
  .godeeper {
    top: 0;
    padding: 1em;
  }
  .deeperboxes {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
  .godeeper h2 {
    margin: 0.5em 0.5em;
    font-size: 1.4em;
  }
  .deeperbox i {
    color: #fff;
    background-color: var(--saito-red);
    font-size: 5em;
    line-height: 2em;
    width: 2em;
    text-align: center;
  }
  .deepertext {
    font-size: 1.5em;
    line-height: 2em;
  }
  .arcade-text {
    margin: 1em 0;
  }
  .netstats {
    margin: 1em;
  }
  .netstats center {
    width: 100vw;
  }
  .arcade-banner-link {
    justify-self: center;
    margin: 2em 0 0 0;
  }
  .arcade-banner {
    width: 100%;
    margin: 1em 0;
  }
  .godeeper-row {
    height: unset;
  }
  .quote-container {
    margin: 0;
  }
  .video-row {
    padding: 0;
    width: unset;
  }
  .slider__contents {
    padding: 1rem;
  }
  .quote-quote {
    display: none;
  }
  .quote-content {
    font-size: 2em;
    margin: 0 0 5px 0;
    display: inline;
  }
}