body {
    background-color: var(--saito-skyline-grey);
    font-size: 1.4em;
}

.main {
    background-image: url('/saito/img/dreamscape.png');
    background-size: cover;
    min-height: 800px;
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}


.header {
    background-image: transparent;
    background: transparent;
}















section {
    background-color: #fff;
    padding: 1em;
}

section div {
    max-width: 1500px;
    margin: auto;
    display: grid;
    grid-gap: 1em;
    height: 100%;
}

section div div {
    padding: 0.5em;
}

.g {
    grid-template-columns: 1fr;
}

.g-a1 {
    grid-template-columns: auto;
}

.g-a2 {
    grid-template-columns: auto auto;
}

.g-a3 {
    grid-template-columns: auto auto auto;
}

.g-a4 {
    grid-template-columns: auto auto auto auto;
}

.g-1-1 {
    grid-template-columns: 1fr 1fr;
}

.g-1-2 {
    grid-template-columns: 1fr 2fr;
}

.g-1-3 {
    grid-template-columns: 1fr 3fr;
}

h1, h2, h3, h4, h5, h5, h6 {
    margin: 0 0 0.5em 0;
    color: var(--saito-red);
}

#splash-space {
    display: block;
}

.header-menu {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: auto auto auto auto auto auto;
    width: 520px;
}

.site-header-menu-item {
    font-size: 1.6em;
    font-family: visuelt-light;
    color: var(--saito-white);
    text-decoration: none;
    display: grid;
    padding: 10px 0 0 0 ;
}

.site-header-menu-item:hover {
    text-shadow: 1px 1px #ffffff;
}

.glide__slide div {
    display: block;
    width: 500px;
    height: 500px;
}

.alabaster{
	background: var(--saito-skyline-grey);
}

.granite {
	background: var(--saito-cyber-black);
}

.coral {
	background-color: var(--saito-red);
}

.white {
    background-color: #ffffff;
}
