body {
    background-color: var(--saito-skyline-grey);
    font-size: 1.4em;
***REMOVED***

section {
    background-color: #fff;
    padding: 1em;
***REMOVED***

section div {
    max-width: 1500px;
    margin: auto;
    display: grid;
    grid-gap: 1em;
    height: 100%;
***REMOVED***

section div div {
    padding: 0.5em;
***REMOVED***

.g {
    grid-template-columns: 1fr;
***REMOVED***

.g-a1 {
    grid-template-columns: auto;
***REMOVED***

.g-a2 {
    grid-template-columns: auto auto;
***REMOVED***

.g-a3 {
    grid-template-columns: auto auto auto;
***REMOVED***

.g-a4 {
    grid-template-columns: auto auto auto auto;
***REMOVED***

.g-1-1 {
    grid-template-columns: 1fr 1fr;
***REMOVED***

.g-1-2 {
    grid-template-columns: 1fr 2fr;
***REMOVED***

.g-1-3 {
    grid-template-columns: 1fr 3fr;
***REMOVED***

h1, h2, h3, h4, h5, h5, h6 {
    margin: 0 0 0.5em 0;
    color: var(--saito-red);
***REMOVED***

.main {
    padding: 0;
    margin: 100px 0 0 0;
***REMOVED***

#splash-space {
    display: block;
***REMOVED***

.header-menu {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: auto auto auto auto auto auto;
    width: 520px;
***REMOVED***

.site-header-menu-item {
    font-size: 1.6em;
    font-family: visuelt-light;
    color: var(--saito-white);
    text-decoration: none;
    display: grid;
    padding: 10px 0 0 0 ;
***REMOVED***

.site-header-menu-item:hover {
    text-shadow: 1px 1px #ffffff;
***REMOVED***

.glide__slide div {
    display: block;
    width: 500px;
    height: 500px;
***REMOVED***

.alabaster{
	background: var(--saito-skyline-grey);
***REMOVED***

.granite {
	background: var(--saito-cyber-black);
***REMOVED***

.coral {
	background-color: var(--saito-red);
***REMOVED***

.white {
    background-color: #ffffff;
***REMOVED***