
.schedule-calendar {
 max-width: 800px;
}
.schedule-calendar-sidebar {
 float:right;
 width:250px;
 height: 40px;
}
.schedule-calendar-day {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
}
.schedule-calendar-day-appointment-num {
  display: table-cell;
  vertical-align: middle;
  font-size: 2.5em;
  font-weight: bold;
  color: #888;
}
#add_btn{
  min-width: 120px;
	display: inline-block;
  margin-top: 20px;
}
#edit_btn{
  min-width: 120px;
	display: inline-block;
   margin-top: 20px;
}