body {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
}

.main {
  margin-top: unset;
  padding: unset;
}

.gameboard {
  position: absolute;
  background-image: url("img/gameboard.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.status {
  position: absolute;
  bottom: 1em;
  left: 60vw;
  height: 32vh;
  width: 32vh !important;
  color: #fff;
  background-color: #4448;
  overflow-y: auto;
  border: none;
}

.menu-player {
  font-size: 1.1em;
}

.menu-table {
  margin-top: 15px;
  margin-bottom: 15px;
}

.hand {
  margin-left: auto;
  margin-right: auto;
  clear: both;
  position: relative;
}

.card {
  width: unset;
  float: none;
}

.deal .card {
  width: 8vw;
}

.deal {
  margin: 0 auto;
  position: absolute;
  top: 30vh;
  left: 50vw;
  transform: translateX(-50%);
  width: unset;
}

.pot {
  margin: 0 auto;
  position: absolute;
  top: 56vh;
  left: 50vw;
  transform: translateX(-50%);
  font-size: 10vh;
  text-shadow: 0 0 10px aliceblue;
  -webkit-text-stroke: 2px #FFF8;
}

.player-info {
  width: 25vh;
  height: 25vh;
  background-color: #4448;
  color: #fff;
  padding: 1em;
  position: absolute;
}

.player-info.p1 {
  width: 32vh;
  height: 32vh;
  bottom: 1em;
  left: 50vw;
  transform: translateX(-50%);
  ;
}

.player-info-name {
  font-size: 3vh;
}

.player-info-chips {
  padding: 0.5em;
  text-align: center;
  font-size: 2vh;
}

#player-info-hand-1 {
  display: none;
}

.player-info.p2 {
  left: 50vw;
  top: 1em;
  transform: translateX(-50%);
}

.player-info.p3 {
  left: 1em;
  top: 30vh;
  transform: translateY(-50%);
}

.player-info.p4 {
  right: 1em;
  top: 30vh;
  transform: translateY(-50%);
}

.player-info.p5 {
  left: 1em;
  top: 60vh;
  transform: translateY(-50%);
}

.player-info.p6 {
  right: 1em;
  top: 60vh;
  transform: translateY(-50%);
}

.p2 .hand, .p4 .hand, .p6 .hand {
  right: 15vh;
  top: 2vh;
}

.p3 .hand, .p5 .hand {
  left: 24vh;
  top: 2vh;
}

.player-info-hand .card {
  width: 10vh;
  position: absolute;
}

.cardfan {
  bottom: 30vh;
  left: 50vw;
  transform: translateX(-40vh);
}

.cardfan .card {
  position: absolute;
  width: 15vh;
}

/* .card:nth-child(1n+2) {
  left: -130px;
} */

.cardfan>.card:nth-child(1) {
  transform: rotate(-20deg);
  left: 0px;
}

.cardfan>.card:nth-child(2) {
  transform: rotate(-10deg);
  left: 3vh;
}

.cardfan>.card:nth-child(3) {
  transform: rotate(0deg);
  left: 6vh;
}

.cardfan>.card:nth-child(4) {
  transform: rotate(10deg);
  left: 9vh;
}

.cardfan>.card:nth-child(5) {
  transform: rotate(20deg);
  left: 12vh;
}

.hand>.card:nth-child(1) {
  transform: rotate(-20deg);
  left: 0px;
}

.hand>.card:nth-child(2) {
  transform: rotate(-10deg);
  left: 2vh;
}

.hand>.card:nth-child(3) {
  transform: rotate(0deg);
  left: 4vh;
}

.hand>.card:nth-child(4) {
  transform: rotate(10deg);
  left: 6vh;
}

.hand>.card:nth-child(5) {
  transform: rotate(20deg);
  left: 8vh;
}

.suit {
  font-size: larger;
}

.htmlCard {
  margin: 5px 3px;
  display: inline-block;
}

.chat-box {
  height: unset !important;
}

.chat-box-main {
  height: 20vh !important;
}

.hud {
  display: none;
}

@media all and (orientation:portrait) {
  .deal .card {
    width: 15vw;
  }
  .deal {
    position: absolute;
    top: 25vh;
    left: 50vw;
    transform: translateX(-50%);
    width: 100vw;
    margin: 0 15vw;
  }
  .pot {
    top: 35vh;
    font-size: 10vw;
  }
  .player-info-hand .card {
    width: 10vw;
  }

  .cardfan {
    top: 41vh;
    left: 50vw;
    transform: translateX(-50%);
    padding: unset;
}

.cardfan .card {
  width: 14vw;
  margin: 0 -10vw;
}

  .p2 .hand, .p3 .hand, .p4 .hand {
    right: -3vh;
    left: unset;
    top: 13vh;
  }
  .p5 .hand {
    right: -3vw;
    left: unset;
    top: -10vh;
  }
  .p6 .hand {
    right: -3vw;
    top: -10vh;
  }
  .player-info {
    width: 25vw;
    height: 25vw;
    background-color: #4448;
    color: #fff;
    padding: 1em;
    position: absolute;
  }
  .player-info.p1 {
    width: 36vw;
    height: 36vw;
    top: 54vh;
    left: 50vw;
    transform: translateX(-50%);
}
  .player-info-name {
    font-size: 3vw;
  }
  .player-info-chips {
    padding: 0.5em;
    text-align: center;
    font-size: 2vw;
  }
  #player-info-hand-1 {
    display: none;
  }
  
  .player-info.p2 {
    left: 50vw;
    top: 1em;
    transform: translateX(-50%);
  }
  .player-info.p3 {
    left: 1em;
    top: 1em;
    transform: none;
  }
  .player-info.p4 {
    right: 1em;
    top: 1em;
    transform: none;
  }
  .player-info.p5 {
    left: 1em;
    top: 54vh;
    transform: translateY(-50%);
  }
  .player-info.p6 {
    right: 1em;
    top: 54vh;
    transform: translateY(-50%);
  }
  .status {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25vh;
    width: 32vh !important;
    color: #fff;
  }
}

@media only screen and (max-width: 750px) {
  .status {
    width: 100vw !important;
  }

  .player-info-name {
    font-size: 4vw;
  }
  .player-info-chips {
    font-size: 3vw;
  }
}