body {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
***REMOVED***

.main {
  margin-top: unset;
  padding: unset;
***REMOVED***

.gameboard {
  position: absolute;
  background-image: url("img/gameboard.jpg");
  background-size: cover;
  width: 1504px;
  height: 1000px;
***REMOVED***

.hand {
  /* margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: auto;
  margin-top: 50px;
  width: 1000px; */
  margin-left: auto;
  margin-right: auto;
  clear: both;
  padding-left: 600px;
  padding-top:100px;
***REMOVED***

.card {
  width: 200px;
  float:left;
  position: relative;
***REMOVED***

.deal {
 margin-left: auto;
 margin-right: auto;
 width: 1000px;
***REMOVED***

/* .card:nth-child(1n+2) {
  left: -130px;
***REMOVED*** */

.hand > .card:nth-child(1) {
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
  left: -0px;
***REMOVED***
.hand > .card:nth-child(2) {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
  left: -150px;
***REMOVED***
.hand > .card:nth-child(3) {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  left: -300px;
***REMOVED***
.hand > .card:nth-child(4) {
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
  left: -450px;
***REMOVED***
.hand > .card:nth-child(5) {
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
  left: -600px;
***REMOVED***



