/** Email **/

.email-content {
  height: 78vh;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: 3em 3em 3em auto 4em;
  grid-template-columns: 12em 1fr 10em;
}

.email-message {
  display: grid;
  grid-template-columns: auto 3.5em;
  border-bottom: 1px solid var(--saito-skyline-grey);
  padding: 10px 0px;
}

.email-text {
  border: 1px solid black;
  padding: 5px;
  font-size: 1em;
  width: 100%;
  height: 100%;
}

/* rp started here */

.email-module-title, .email-identifier, .email-balance {
  padding: 5px;
  line-height: 2.5em;
  vertical-align: middle;
}

.email-identifier {
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

.email-sidebar {
  grid-row: 2 / 5;
}

.email-text-wrapper {
  grid-row: 4;
  grid-column: 2 /4;
}

.email-submit {
  grid-column: 2/4;
}

.email-sidebar li.button {
  margin: 0 0 1em 0;
}

.raw-switch {
  position: relative;
  bottom: 34px;
  text-align: right;
  padding: 10px;
  font-weight: 100;
  font-family: 'visuelt-light';
  opacity: 0.5;
  cursor: pointer;
}

.email-info {
  display: grid;
  grid-template-columns: 1fr 10em;
}

.raw-message {
  display: none;
  border: 1px solid #333;
  height: 100%;
  max-height: 500px;
  width: 100%;
  font-family: monospace;
  white-space: pre;
  overflow: auto;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  .email-content {
    grid-template-rows: 3em 3em 3em auto 4em;
    grid-template-columns: 1fr 10em;
  }
  .email-module-title {
    display: none;
  }
  .email-sidebar {
    display: none;
  }
  .email-text-wrapper {
    grid-row: 4;
    grid-column: 1 /3;
}
  .email-to {
    grid-column: 1;
  }

  .email-title {
    grid-row: 2;
    grid-column: 1;
}
.email-fee {
  grid-column: 2;
}
  .email-submit {
    grid-column: 1/3;
}
.email-address {
  grid-column: 1;
}

}