/** Email **/
body {
  font-size: 1.0em;
}

.footer {
  display: none;
}

.email-container {
  display: grid;
  grid-column-gap: 1.5em;
  grid-template-columns: 15em auto;
  grid-template-areas: "email-sidebar email-main";
}

.email-content {
  display: grid;
}

.email-header {
  padding: 10px 0px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid var(--saito-cyber-black);
}

.email-icons {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 2.25em;
}

#email-form-back-button {
  cursor: pointer;
}

.email-balance {
  justify-self: right;
  align-self: center;
  font-family: visuelt-medium;
}

.email-body {
  height: 75vh;
}

.email-list {
  height: 75vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.email-form {
  height: 72vh;
  display: grid;
  grid-template-rows: 3em 3em 3em auto 4em;
  grid-gap: 1em;
  padding-top: 10px;
}

#email-form-options {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 5px;
  bottom: 35px;
  color: grey;
  font-size: 1.5em;
  width: 3.5em;
}

#email-select-icon {
  width: 24px;
  height: 24px;
}

#email-delete-icon {
  cursor: pointer;
}

.email-selected {
  height: 24px;
  width: 24px;
  align-self: center;
}

.email-selected:checked {
  background-color: var(--saito-cyber-black);
}

.email-message {
  display: grid;
  grid-template-columns: 2em auto 3.5em;
  border-bottom: 1px solid var(--saito-skyline-grey);
  padding: 10px 0px;

  cursor: pointer;
}

.email-message-content {
  font-family: visuelt-medium;
}

.email-message-timestamp {
  text-align: right;
}

.email-text {
  border: 1px solid black;
  padding: 5px;
  font-size: 1em;
  width: 100%;
  height: 100%;
}


.email-sidebar {
  /* display: grid;
  grid-gap: 1em; */
  margin: 10px 10px;
}

.email-controls {
  display: grid;
  grid-template-rows: 3em 6em auto;
  grid-gap: 1em;
}

.email-navigator, .email-apps {
  list-style: none;
  list-style-type: none;
  font-size: 1.2em;
  line-height: 1.4em;
  padding-bottom: 10px;
}

.email-navigator {
  border-bottom: 1px solid grey;
}

.email-navigator-item, .email-apps-item {
  cursor: pointer;
}
.active-navigator-item {
  color: var(--saito-red);
  font-weight: bold;
}

.email-loader {
  margin-top: 20px;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.email-compose-btn {
  font-size: 1.2em;
}

.email-chat {
  width:100%;
  height:300px;
  border: 1px solid #ddd;
}






.email-text-wrapper {
  /* grid-row: 4;
  grid-column: 2 /4; */
}

.email-submit {
  /* grid-column: 2/4; */
}

.email-sidebar li.button {
  margin: 0 0 1em 0;
}

.email-sidebar li.button span {
  font-family: 'visuelt-black';
}

.raw-switch {
  position: relative;
  bottom: 34px;
  text-align: right;
  padding: 10px;
  font-weight: 100;
  font-family: 'visuelt-light';
  opacity: 0.5;
  cursor: pointer;
}

.email-info {
  display: grid;
  grid-template-columns: 1fr 10em;
}

.raw-message {
  display: none;
  border: 1px solid #333;
  height: 100%;
  max-height: 500px;
  width: 100%;
  font-family: monospace;
  white-space: pre;
  overflow: auto;
  padding: 20px;
}


/** DETAIL **/
.email-detail-addresses {
  padding: 10px 0px;
  border-bottom: 1px solid lightgrey;
  display: grid;
  grid-gap: 0.5em;
}

.email-detail-address-row {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: 3em auto;
}

.email-detail-message {
  padding: 10px 0px;
  display: grid;
}

.email-detail-timestamp {
  justify-self: right;
  color: grey;
}

.email-detail-left-options {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: 2em auto;
}

.email-detail-right-options {
  display: grid;
  justify-content: right;
  grid-gap: 1em;
  grid-template-columns: auto auto;
}

#email-detail-reply {
  cursor: pointer;
}

#email-detail-forward {
  cursor: pointer;
}


@media only screen and (max-width: 600px) {
  .main {
    max-width: unset;
  }
  .email-container {
    grid-template-columns: 1fr;
    grid-template-areas: "email-sidebar" "email-content";
  }
  .email-module-title {
    display: none;
  }
  .email-sidebar {
    display: none;
  }
  .email-detail-address-id {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 600px) {
  #email.create-button {
    display: none;
  }
}
