/** Email **/
body {
  font-size: 1.0em;
***REMOVED***

.main {
  height: 91vh;
***REMOVED***

.footer {
  display: none;
***REMOVED***

.email-container {
  display: grid;
  grid-column-gap: 1.5em;
  grid-template-columns: 15em auto;
  grid-template-areas: "email-sidebar email-main";
***REMOVED***

.email-content {
  display: grid;
***REMOVED***

.email-header {
  padding: 10px 0px;
  display: grid;
  align-items: center;
  grid-template-columns: 70% 30%;
  border-bottom: 1px solid var(--saito-cyber-black);
***REMOVED***

.email-icons {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 2em;
  justify-items: center;
  align-items: center;
  grid-gap: 0.3em;
***REMOVED***

#email-form-back-button {
  cursor: pointer;
  justify-self: left;
***REMOVED***

.email-balance {
  justify-self: right;
  align-self: center;
  font-family: visuelt-medium;
***REMOVED***

.email-body {
  /* height: 75vh; */
***REMOVED***

.email-list {
  height: 83vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
***REMOVED***

.email-form {
  /* height: 72vh; */
  /* display: grid;
  grid-template-rows: 3em 3em 3em auto 4em;
  grid-gap: 1em;
  padding-top: 10px; */
***REMOVED***

.email-form input[type=text] {
  border: none;
  padding: 10px 0px;
  outline: none;
***REMOVED***

.email-title {
  border-top: 1px solid lightgrey
***REMOVED***

.email-form textarea {
  outline: none;
***REMOVED***

.email-form-row {
  display: grid;
  grid-template-columns: 4em auto;
  align-items: center;
***REMOVED***

#email-form-options {
  display: flex;
  justify-content: space-between;
  color: grey;
  width: 5.5em;
***REMOVED***

.email-title {
  border-top: 1px solid lightgrey;
  width: 100%;
***REMOVED***

.email-detail-footer {
  display: grid;
  grid-template-columns: 8em auto;
  align-items: center;
  margin-top: 1em;
  grid-gap: 1em;
***REMOVED***

#email-select-icon {
  width: 24px;
  height: 24px;
  justify-self: left;
***REMOVED***

#email-delete-icon {
  cursor: pointer;
***REMOVED***

.email-selected {
  height: 24px;
  width: 24px;
  align-self: center;
***REMOVED***

.email-selected:checked {
  background-color: var(--saito-cyber-black);
***REMOVED***

.email-message {
  display: grid;
  grid-template-columns: 2em auto 3.5em;
  border-bottom: 1px solid var(--saito-skyline-grey);
  padding: 10px 0px;
  cursor: pointer;
***REMOVED***

.email-message-content {
  font-family: visuelt-light;
***REMOVED***

.email-message-timestamp {
  text-align: right;
***REMOVED***

.email-text {
  border: 1px solid black;
  padding: 5px;
  font-size: 1em;
  width: 100%;
  height: 100%;
***REMOVED***

.email-sidebar {
  margin: 10px 10px;
***REMOVED***

.email-controls {
  display: grid;
  grid-template-rows: 3em auto auto;
  grid-gap: 0.5em;
***REMOVED***

.email-navigator, .email-apps {
  list-style: none;
  list-style-type: none;
  font-size: 1.2em;
  line-height: 1.4em;
  padding: 10px 0px;
***REMOVED***

.email-navigator {
  border-bottom: 1px solid grey;
***REMOVED***

.email-navigator-item, .email-apps-item {
  cursor: pointer;
  border-bottom: 1px solid transparent;
  padding-left: 2px;
  padding-top: 5px;
***REMOVED***

.active-navigator-item {
  color: var(--saito-red);
  font-weight: bold;
***REMOVED***

.email-navigator-item:hover, .email-apps-item:hover {
  background-color: #efefef;
  border-radius: 5px;
***REMOVED***

.email-loader {
  margin-top: 20px;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  display: none;
***REMOVED***

.email-compose-btn {
  font-size: 1.2em;
***REMOVED***

.email-chat {
  margin-top: 0.5em;
  width:100%;
  height:300px;
  border: 1px solid #ddd;
  font-size: 0.8em;
***REMOVED***

.email-chat .chat-row {
  padding: 5px;
  height: 4em;
  font-size: 1em;
***REMOVED***



















<<<<<<< HEAD
=======
/*** Chat Stuff ***/
.chat-box {
  display: grid;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: white;
  border: 1px solid #a5a5a5;
  font-size: 0.8rem;
  grid-template-columns: 1fr;
  grid-template-rows: 3.2em auto 3.0em;
  grid-template-areas:
      "chat_header"
      "chat_main"
      ".";
  width: 32em;
  height: 38em;
  font-family: visuelt-light;
***REMOVED***

.chat-bow-show {
  height: 38em;
***REMOVED***

.chat-box-hide {
  height: 3em;
***REMOVED***

.chat-box-header {
  grid-area: chat_header;
  display: grid;
  /* grid-template-columns: 60% 10% 30%; */
  border-bottom: 1px solid #a5a5a5;
  font-size: 2em;
  cursor: pointer;
  z-index: 1000;
  background: var(--saito-red);
  color: white;
  padding: 5px;
***REMOVED***

.chat-box-main {
  display: flex;
  flex-direction: column;
  height: 32em;
  grid-area: chat_main;
  overflow-y: scroll;
  padding: 5px;
***REMOVED***

.chat-room-message {
  margin-bottom: 0.5em;
***REMOVED***

.chat-box-input {
  position: fixed;
  bottom: 0%;
  width: 100%;
  height: 3em;
  margin-left: 0px;
  padding: 4px;
  border-top: 1px solid #3f3f3f;
  display: grid;
  grid-template-columns: 28.5em 3em;
***REMOVED***

.chat-box-new-message-input {
  width: 100%;
  height: 100%;
  resize: none;
  margin: auto;
  padding: 5px;
  font-size: 1.2em;
  border: none;
  box-shadow: none;
  outline: none;
  resize: none;
***REMOVED***

.chat-timestamp {
    justify-self: right;
    color: rgb(102, 102, 102);
    font-size: 1.0rem;
    padding-top: 5px;
    margin: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
***REMOVED***

.chat-box-message-container {
    display: flex;
***REMOVED***

.chat-message-myself {
  flex-direction: row-reverse;
***REMOVED***

.chat-box-message-others {
  flex-direction: flex-start;
***REMOVED***

.chat-message {
    margin-right: 1px;
    line-height: 1.2em;
    font-size: 1.2em;
    white-space: normal;
***REMOVED***

.chat-message > p  {
    display: inline-block;
    margin: 0;
***REMOVED***

.chat-nessage-author {
  font-weight: bold;
***REMOVED***







>>>>>>> 381588a909d54e819654b244d3cb6faaddc9868f
.email-text-wrapper {
  height: 35vh;
***REMOVED***

.email-submit {***REMOVED***

.email-sidebar li.button {
  margin: 0 0 1em 0;
***REMOVED***

.email-sidebar li.button span {
  font-family: 'visuelt-black';
***REMOVED***

.email-info {
  display: grid;
  grid-template-columns: 1fr 10em;
***REMOVED***





/** DETAIL **/
.email-detail-addresses {
  padding: 10px 0px;
  border-bottom: 1px solid lightgrey;
  display: grid;
  grid-gap: 0.5em;
***REMOVED***

.email-detail-address-row {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: 3em auto;
***REMOVED***

.email-detail-message {
  padding: 10px 0px;
  display: grid;
***REMOVED***

.email-detail-timestamp {
  justify-self: right;
  color: grey;
***REMOVED***

.email-detail-left-options {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: 2em auto;
  align-items: center;
***REMOVED***

.email-detail-right-options {
  display: grid;
  justify-content: right;
  grid-gap: 1em;
  grid-template-columns: auto auto;
***REMOVED***

#email-detail-reply {
  cursor: pointer;
***REMOVED***

#email-detail-forward {
  cursor: pointer;
***REMOVED***


@media only screen and (max-width: 600px) {
  .main {
    max-width: unset;
  ***REMOVED***
  .email-container {
    grid-template-columns: 1fr;
    grid-template-areas: "email-sidebar" "email-content";
  ***REMOVED***
  .email-module-title {
    display: none;
  ***REMOVED***
  .email-sidebar {
    display: none;
  ***REMOVED***
  .email-detail-address-id {
    font-size: 0.8em;
  ***REMOVED***

  .email-header {
    /* grid-template-rows: 1fr 1fr;
    grid-gap: 0.75em; */
  ***REMOVED***

  .email-detail-right-options {
    display: flex;
    justify-self: end;
    flex-direction: column-reverse;
    padding: 10px 0px;
  ***REMOVED***

  .email-detail-right-options > .email-icons {
    margin-top: 0.5em;
  ***REMOVED***

  .email-icons {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 2em;
    align-self: end;
    justify-items: center;
    align-items: center;
    grid-gap: 0.3em;
  ***REMOVED***

  .email-balance {
    align-self: flex-end;
  ***REMOVED***

  .email-bars-menu {
    position: absolute;
    z-index: 10000;
    left: 3.5vw;
    top: 16.5vh;
    width: 92.5vw;
    background: white;
    font-family: visuelt-medium;
  ***REMOVED***

  .email-navigator, .email-apps {
    display: grid;
    justify-content: center;
    padding: 10px 0px;
    height: 100%;
  ***REMOVED***

  .email-apps {
    border-bottom: 1px solid black;
  ***REMOVED***

  .email-apps-item {
    justify-self: center;
    padding: 5px;
  ***REMOVED***

  .email-navigator-item {
    padding: 5px;
  ***REMOVED***

  #email.create-button {
    bottom: 2vh;
  ***REMOVED***
***REMOVED***

.email-appspace {
  padding-top: 10px;
***REMOVED***

.email-header h3 {
  line-height: 30px;
***REMOVED***

@media only screen and (min-width: 600px) {
  #email.create-button {
    display: none;
  ***REMOVED***

  #email-bars-icon {
    display: none;
  ***REMOVED***
***REMOVED***
