body {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
  overflow: hidden; 
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.main {
  margin-top: unset;
  padding: unset;
}

.intro {
  background-color: whitesmoke;
  padding: 30px;
  font-size: 1.6em;
}

.gameboard {
  position: absolute;
  background-image: url("img/gameboard.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


.player-notice {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
  background-color: #0002;
  padding: 10px;
}

.menu-player {
  font-size: 1.1em;
}

.menu_option{
  text-transform: uppercase;
}

.menu-table {
  margin-top: 15px;
  margin-bottom: 15px;
}

.hand {
  margin-left: auto;
  margin-right: auto;
  clear: both;
  position: relative;
}

.card {
  width: unset;
  float: none;
}

.deal .card {
  width: 10vw;
  max-width: 20vh;
}

.deal {
  margin: 0 auto;
  position: absolute;
  top: 30vh;
  left: 50vw;
  transform: translateX(-50%);
  width: unset;
}

.pot {
  border: 1px solid #555;
  position: absolute;
  top: 54vh;
  left: 50vw;
  transform: translateX(-50%);
  background-color: whitesmoke;
  padding: 3px 16px 0px 16px;
  border-radius: 15px;
  text-align: center;
  text-valign: middle;
  font-size: 2.6em;
  font-weight: bold;
  color: #555;
  line-height: 1.1em;
}

.player-info {
  width: min(25vh,25vw);
  height: 20vh;
  background-color: #4448;
  color: #fff;
  padding: 1em;
  position: absolute;
}

.player-info.p1 {
  height: 30vh;
}
.player-info .status {
  font-size: 1.25em;
}

.player-info-name {
  font-size: 3vh;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player-info-chips {
  padding: 0.5em;
  text-align: center;
  font-size: 3vh;
}

.dealer{
  background-color: var(--saito-red-wash);
  border: 1px solid gold;
}


.p1 .hand {
  display: none;
}

.p4 .hand, .p3 .hand, .p2 .hand {
  right: 15vh;
  top: 2vh;
}

.p5 .hand, .p6 .hand {
  left: 24vh;
  top: 2vh;
}

.player-info-hand .card {
  width: 12vh;
  position: absolute;
}

.cardfan {
  position: absolute;
  top: 70vh;
  left: 10vw;
}

.cardfan .card {
  position: absolute;
  width: 17.5vh;
}

/* .card:nth-child(1n+2) {
  left: -130px;
} */

.cardfan>.card:nth-child(1) {
  transform: rotate(-20deg);
  left: 0px;
}

.cardfan>.card:nth-child(2) {
  transform: rotate(-10deg);
  left: 3vh;
}

.cardfan>.card:nth-child(3) {
  transform: rotate(0deg);
  left: 6vh;
}

.cardfan>.card:nth-child(4) {
  transform: rotate(10deg);
  left: 9vh;
}

.cardfan>.card:nth-child(5) {
  transform: rotate(20deg);
  left: 12vh;
}

.hand>.card:nth-child(1) {
  transform: rotate(-20deg);
  left: 0px;
}

.hand>.card:nth-child(2) {
  transform: rotate(-10deg);
  left: 2vh;
}

.hand>.card:nth-child(3) {
  transform: rotate(0deg);
  left: 4vh;
}

.hand>.card:nth-child(4) {
  transform: rotate(10deg);
  left: 6vh;
}

.hand>.card:nth-child(5) {
  transform: rotate(20deg);
  left: 8vh;
}

.suit {
  font-size: larger;
}

.htmlCard {
  margin: 5px 3px;
  display: inline-block;
  background: #fffD;
  padding: 4px 3px;
  border-radius: 6px;
}

.hud {
  display: none;
}

.status-message {
  background-color: transparent;
  box-shadow: none;
  width: 100%;
}
.status ul li:hover {
  background: #ccc3;
}

.player-info-log {
  font-size: 2vh;
  text-align: center;
  border: 1px solid #aaaa;
}

.menu-player {
  font-size: 2vh;
  font-weight: bolder;
}

.smallblind::before {
  content: "◉";
  margin-right: 0.5em;
  color: aqua;
  -webkit-text-stroke: 1px #444;
}

.bigblind::before {
  content: "◉";
  margin-right: 0.5em;
  color: yellow;
  -webkit-text-stroke: 1px #444;
}

.dealerbutton::before {
  content: "⬤";
  margin-right: 0.5em;
  color: #fff;;
  -webkit-text-stroke: 1px #444;
}

.shim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #222b;
  z-index: 101;
  cursor: pointer;
}

.shim-notice {
  background: #222b;
  position: absolute;
  top: 50vh;
  transform: translate(-50%, -50%);
  color: #fff;
  left: 50vw;
  padding: 5vh;
}

.hidden {
  display: none;
}

.shim-notice .card {
  width: 5vw;
  max-width: 8vh;
  min-width: 60px;
}







@media screen and (orientation: landscape) and (max-height: 450px) {

  .player-info {
    padding: 5px;
  }

  .deal .card {
    width: 8vw;
  }
  .pot {
    top: 50vh;
    font-size: 1.4em;
  }

  .player-info.p1 {
    height: 40vh;
    width: 30vw;
  }

  .status ul li { 
    line-height: 2.5em;
    font-size: 1em;
    width: 100%;
  }

  .cardfan {
    left: 15vw;
    top: 60vh;
  }

  .cardfan .card {
    width: 14vw;
  }

  .shim-notice {
    max-width: 100vw;
    width: 80vw;
    overflow-y: scroll;
  }

}


@media screen and (orientation: portrait) and (max-width: 450px) {

  .player-info {
    padding: 5px;
  }

  .pot {
    top: 50vh;
    font-size: 1.4em;
  }

  .player-info.p1 {
    height: 25vh;
    width: 60vw;
  }

  .player-info-hand .card {
    width: 16vw;
  }

  .status ul li { 
    line-height: 2.5em;
    font-size: 1em;
    width: 100%;
  }

  .deal {
    margin: 0 auto;
    position: absolute;
    top: 30vh;
    left: 45vw;
    transform: inherit;
    width: 90vw;
    margin-left: 5vw;
    margin-right: auto;
    transform: translate(-50%);
  }

  .deal .card {
    width: 18vw;
  }

  .cardfan {
    left: 25vw;
    top: 46vh;
  }

  .cardfan .card {
    width: 35vw;
  }

  .p4 .hand, .p3 .hand, .p2 .hand {
    right: 15vw;
    top: 10vh;
  }

  .shim-notice {
    max-width: 100vw;
    width: 80vw;
    overflow-y: scroll;
  }

}




@media screen and (orientation: portrait) and (max-width: 450px) {

  .player-info.p2 {
    display: none;
    visibility: hidden;
  }
  .player-info.p3 {
    display: none;
    visibility: hidden;
  }
  .player-info.p4 {
    display: none;
    visibility: hidden;
  }
  .player-info.p5 {
    display: none;
    visibility: hidden;
  }
  .player-info.p6 {
    display: none;
    visibility: hidden;
  }

  .deal {
    top: 10vh;
  }

  .cardfan {
    top: 36vh;
  }

}





