body {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
  background-color: #024;
  overflow-x: hidden;
    overflow-y: auto;
  scrollbar-face-color: #868686;
  scrollbar-base-color: #868686;
  scrollbar-3dlight-color: #868686;
  scrollbar-highlight-color: #868686;
  scrollbar-track-color: #646464;
  scrollbar-arrow-color: #646464;
  scrollbar-shadow-color: #868686;
***REMOVED***

.connection_monitor {
  position: fixed;
  display: none;
  min-height: 30px;
  z-index: 90000;
  background: #ef6666;
  font-size: 1.8em;
  padding: 15px;
***REMOVED***

.link {
  border-bottom: 1px dashed;
  cursor: pointer;
***REMOVED***

.tosstiles {
  border-bottom: 1px dashed;
***REMOVED***

.wb-main {
  border: 1px solid orange;
  max-width: 902px;
***REMOVED***

.gameboard {
  display: grid;
  grid-template-columns: repeat(15, 15fr);
  grid-template-rows: repeat(15, 15fr);
  grid-gap: 3px;
  background: #999;
  border: 10px solid #333;
  padding: 10px;
  max-width: 900px;
  max-height: 900px;
  width: 99vw;
  height: 99vw;
***REMOVED***

.action {
  display: block;
  color: #fff;
  border: 4px solid #cccccc;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  background-color: #777;
  cursor: pointer;
  text-align: center;
***REMOVED***

/* #controls {
  margin: auto;
  display: block;
  overflow: hidden;
  background-color: #555;
  border: 2px solid #333;
  color: #EEE;
  height: 340px;
  position: relative;
  width: 100%;
  max-width: 900px;
***REMOVED*** */

#remainder, #lastmove {
  /* display: inline-block; */
  font-size: 25px;
  padding: 10px 0;
***REMOVED***

#remainder {
  width: 33%;
***REMOVED***

.home {
  display: inline-block;
  font-size: 20px;
  margin-left: 10px;
***REMOVED***

.home>a>i {
  color: #fff;
***REMOVED***

.score {
  font-size: 1.6rem;
  display: grid;
  align-content: center;
  /* padding: 10px 20px; */
  /* display: inline-block; */
  /* width: 20% */
***REMOVED***

.rack {
  align-self: center;
  display: flex;
  /* padding: 10px 0;
  height: 80px; */
***REMOVED***

.shuffle {
  display: inline-block;
  font-size: 20px;
  width: 12%;
  height: 4em;
  cursor: pointer;
***REMOVED***

.tiles {
  /* display: inline-block;
  font-size: 1.9em;
  width: 80%;
  position: relative;
  top: -45px; */
  display: flex;
***REMOVED***

.tile {
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-indent: 5px;
***REMOVED***

.tiles div.tile {
  width: 65px;
  height: 60px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  margin: 5px;
  border-width: 4px;
  border-style: solid;
  border-color: rgb(221, 221, 221);
  border-image: initial;
  padding: 10px;
  background: rgb(70, 70, 70);
  font-size: 36px;
  color: #efefec;
***REMOVED***

/*.tiles .tile.O {
  padding: 10px 12px 10px 8px;
***REMOVED***
.tiles .tile.M {
  padding: 10px 14px 10px 6px;
***REMOVED***
.tiles .tile.W {
  padding: 10px 15px 10px 5px;
***REMOVED****/

.slot {
  cursor: pointer;
  display: flex;
  background: rgb(102, 102, 102);
  border-width: 2px solid rgb(102, 102, 102);
  border-image: initial;
  border-radius: 5px;
  overflow: hidden;
  justify-self: center;
  align-self: center;
  width: 54px;
  height: 54px;
***REMOVED***

.slot div.tile {
  color: rgb(238, 238, 238);
  font-size: 2rem;
  background-color: rgb(68, 68, 68);
  text-align: center;
  padding-top: 8px;
  border-radius: 3px;
***REMOVED***

.slot:hover {
  background-color: #036;
  opacity: 0.8;
***REMOVED***

.slot div {
  font-size: 11px;
***REMOVED***

.tw {
  border: 2px solid rgb(221, 70, 0);
***REMOVED***

.twbk {
  color: rgb(238, 238, 238);
  text-align: center;
  height: 100%;
  background: rgb(221, 102, 0);
  margin: auto;
  padding: 9px 0px;
***REMOVED***

.dw {
  border: 2px solid rgb(207, 31, 0);
***REMOVED***

.dwbk {
  background-color: rgb(184, 28, 0);
  color: rgb(238, 238, 238);
  text-align: center;
  height: 100%;
  margin: auto;
  padding: 9px 0px;
***REMOVED***

.tl {
  border: 2px solid #114477;
***REMOVED***

.tlbk {
  background-color: rgb(0, 51, 102);
  color: rgb(238, 238, 238);
  text-align: center;
  height: 100%;
  margin: auto;
  padding: 9px 0px;
***REMOVED***

.dl {
  border: 2px solid #117744;
***REMOVED***

.dlbk {
  background-color: rgb(0, 102, 51);
  color: rgb(238, 238, 238);
  text-align: center;
  height: 100%;
  margin: auto;
  padding: 9px 0px;
***REMOVED***

.star {
  border: 2px solid #888822;
***REMOVED***

.starbk {
  background-color: rgb(187, 187, 102);
  font-size: 36px !important;
  color: rgb(51, 51, 51);
  text-align: center;
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 6px 0px;
***REMOVED***

.tile::after {
  vertical-align: sub;
  font-size: 33%;
  margin-left: 1px;
***REMOVED***

.sc1::after {
  content: "1";
***REMOVED***

.sc2::after {
  content: "2";
***REMOVED***

.sc3::after {
  content: "3";
***REMOVED***

.sc4::after {
  content: "4";
***REMOVED***

.sc5::after {
  content: "5";
***REMOVED***

.sc6::after {
  content: "6";
***REMOVED***

.sc7::after {
  content: "7";
***REMOVED***

.sc8::after {
  content: "8";
***REMOVED***

.sc9::after {
  content: "9";
***REMOVED***

.sc10::after {
  content: "10";
***REMOVED***

.sc11::after {
  content: "11";
***REMOVED***

#chat_container {
  display: block;
***REMOVED***

.player {
  margin: 3px 0 12px;
  white-space: nowrap;
  display: grid;
  grid-template-columns: 90% 10%;
***REMOVED***

.player_name {
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  /* width: 85%; */
***REMOVED***

.player span {
  line-height: 20px;
***REMOVED***

.player_score {
  justify-self: right;
***REMOVED***

.hud {
  display: grid;
  grid-template-rows: 40px auto;
  grid-template-columns: 100px auto;
  grid-template-areas: "hud-header hud-header" "hud-menu hud-body";
  font-family: visuelt-light;
  position: fixed;
  left: 50%;
  bottom: 0%;
  float: none;
  z-index: 40;
  height: 420px;
  width: 760px;
  min-width: 760px;
  max-width: 9.1em;
  border-bottom: 0px;
  transform: translate(-50%, -0%);
  transition: height 0.2s ease;
***REMOVED***

/** HUD HEADER **/

.hud-header {
  grid-area: hud-header;
  display: grid;
  grid-template-columns: 100px auto;
  width: 100%;
  height: 40px;
  cursor: move;
***REMOVED***

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
***REMOVED***

.hud-button {
  cursor: pointer;
***REMOVED***

/** HUD BODY **/

.hud-body {
  grid-area: hud-body;
  display: grid;
  grid-template-columns: auto 200px;
  height: 100%;
***REMOVED***

.hud-menu {
  grid-area: hud-menu;
  border-right: 1px solid var(--saito-skyline-grey);
***REMOVED***

.status {
  width: unset !important;
***REMOVED***

.status ul {
  list-style: none;
***REMOVED***

.status ul li {
  line-height: 2em;
***REMOVED***

.status ul li:last-child {***REMOVED***

.status ul li:hover {***REMOVED***

/** HUD SIDEBAR **/

.hud-menu {
  display: flex;
  color: black;
***REMOVED***

.hud-menu ul {
  width: 100%;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
***REMOVED***

.hud-menu ul li {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  border-bottom: none;
  height: 50px;
  line-height: 50px;
  font-size: 1.1rem;
  cursor: pointer;
***REMOVED***

.hud-menu ul li a {
  text-decoration: none;
  display: block;
  transition: .3s background-color;
  font-size: 22px;
***REMOVED***

.hud-menu ul li a:hover {
  border-bottom: 2px solid var(--saito-red);
  border-radius: 0px;
***REMOVED***

.hud-menu ul li a:active {
  color: var(--saito-red);
  font-style: bold;
***REMOVED***

/* hud */

.hud div {
  background: #333;
  color: var(--saito-skyline-grey);
***REMOVED***

.hud-button {
  color: var(--saito-skyline-grey);
  margin: auto;
  font-size: 24px;
***REMOVED***

.status {
  padding: 1em;
  overflow-y: auto;
  border: none;
***REMOVED***

.hud-body .log {
  display: none;
***REMOVED***

.hud-body {
  grid-template-columns: auto;
***REMOVED***

.hud-header {
  border-bottom: 1px solid #555;
***REMOVED***

.hud-menu {
  border-right: 1px solid #555;
***REMOVED***

.status div {
  font-size: 24px;
overflow-wrap: break-word;
max-width: 95vw;
***REMOVED***

.player span {
  line-height: 40px;
***REMOVED***

@media only screen and (max-width: 750px) {
  .score {
    font-size: 1em;
  ***REMOVED***
  .hud div {
    font-size: 1em;
  ***REMOVED***
  #remainder {
    font-size: 1em;
  ***REMOVED***
  .hud {
    font-size: 22px;
    width: 100vw;
    position: absolute;
    top: 100vw;
    left: 0;
    height: calc(100vh - 100vw);
    min-height: 350px;
    transform: none;
    display: block;
  ***REMOVED***
  .hud-header, .hud-menu {
    display: none;
  ***REMOVED***
  .gameboard {
    display: grid;
    grid-template-columns: repeat(15, 15fr);
    grid-template-rows: repeat(15, 15fr);
    grid-gap: 1px;
    background: #999;
    border: 0.5em solid #333;
    padding: 0.5em;
  ***REMOVED***
  .slot {
    cursor: pointer;
    display: flex;
    background: rgb(102, 102, 102);
    border-style: solid;
    border-color: rgb(102, 102, 102);
    border-image: initial;
    border-radius: 0.3em;
    overflow: hidden;
    width: 6vw;
    height: 6vw;
    justify-self: center;
    align-self: center;
  ***REMOVED***
  .slot div {
    font-size: 1.2vw;
    padding: 0.5vw 0;
  ***REMOVED***
  .tlbk {
    padding: 3px 0px;
    text-align: center;
  ***REMOVED***
  .dlbk {
    padding: 3px 0px;
    text-align: center;
  ***REMOVED***
  .twbk {
    padding: 3px 0px;
    text-align: center;
  ***REMOVED***
  .dwbk {
    padding: 3px 0px;
    text-align: center;
  ***REMOVED***
  .starbk {
    padding: 1px 0px;
    font-size: 3.2vw !important;
  ***REMOVED***
  .slot div.tile {
    color: rgb(238, 238, 238);
    font-size: 4vw;
    background-color: rgb(68, 68, 68);
    padding-top: 0.4vw;
    border-radius: 2px;
    text-indent: 2px;
  ***REMOVED***
  .status {
    margin: 0;
    grid-gap: 0.5em;
  ***REMOVED***
  .status_container {
    grid-template-rows: 1em auto;
    margin: 12px 0 0 0 ;
  ***REMOVED***
  .score {
    font-size: 1rem;
  ***REMOVED***
  
  .player {
    width: calc(100vw - 2em) !important;
  ***REMOVED***
  .tiles {
    display: inline-block;
    width: calc(100% - 3em);
    float: left;
  ***REMOVED***
  .tiles div.tile {
    display: inline-block;
    text-align: center;
    line-height: 0.9em;
    text-indent: 0px;
    font-weight: bold;
    margin: 3px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
    background: rgb(70, 70, 70);
    font-size: 1.2em;
    width: 54px;
    height: 54px;
    padding: 15px 10px;
  ***REMOVED***
***REMOVED***
.rack {
  width: calc(100vw - 2em);
  max-width: 640px;
***REMOVED***

.tile-placement-controls {
  display: grid;
***REMOVED***

.action {
  justify-self: center;
  align-self: center;
  padding: 1.5vh 0px;
  width: 100%;
***REMOVED***

.shuffle {
  height: 3em;
  width: 3em;
  cursor: pointer;
  float: left;
***REMOVED***

