
.hospital-splash-image-container {
}
.hospital-title{
    text-align: center;
    vertical-align: middle;
}
.hospital-splash-image {
    max-width: 100%;
}
.grid-2-columns{
    max-width: 500px;
    display: block;
}
#hospital-make-appointment-btn{
    background-color: #F71F3D;
    color: white;
}
.hospital-btn-box{
    margin:0 auto;
}
.hospital-button{
    margin: 0 auto;
    display: block;
    min-width: 260px;
    margin-top: 15px;
}
.hospital{
    display: block;
    width:300px;
    height:auto;
    border:1px #eee solid;
    box-shadow:1px 1px 1px 1px rgba(0, 0, 0, 0.05);
    padding: 6px;
    overflow: hidden;
    margin-top: 1em;
}
.hospital-name{
    font-size: 1em;
    font-weight: bolder;
    margin-bottom: 2px;
}
.hospital-address{
    font-size: 0.8em;
    margin-bottom:6px;
}
.hospital-select-time{
    width: 100%;
    font-weight:bolder;
    margin-bottom: 6px;
}
select {
    background-color: white;
    outline: none;
    padding: 1em 0;
    border: 1px solid #F71F3D;
    font-size: 1em;
    display: block;
    color: #F71F3D;
    float: left;
}
select:hover{
    cursor: pointer;
    background-color: #F71F3D;
    color: white;
}
.book-appointment-slot-btn{
    width: 40%;
    float: right;
    display: none;
}
.confirm-appointment-box{
    max-width: 600px;
    display: flex;
    flex-direction: column;
}
.appointment-info{
    padding-left: 8px;
    font-size: 1em;
    height:auto;
    border:1px #eee solid;
    box-shadow:1px 1px 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;
}
.confirmInfo{
    margin-top: 15px;
    margin-bottom: 15px;
}
.confirm-btn-box{
    margin-top: 15px;
    align-self: center;
}
.reset,.confirm{
    display: inline-block;
}
#confirm-btn{
    border: 1px solid var(--saito-red);
    color: var(--saito-red);
}
#confirm-btn:hover{
    text-shadow: #ffffff 1px 0;
    background: var(--saito-red);
    color: #ffffff;
}
.view-appointments-box li{
    max-width: 600px;
    list-style-type:none;
    padding:10px;
    font-size: 1em;
    height: auto;
    border: 1px #eee solid;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;
}
.appointment-hospital-name{
    font-size: 1.2em;
    font-weight: bolder;
}
.qrcode-appointment{
    width:500px;  
    padding:10px;
    margin-top:15px;
}

#qrcode-appointment-info{
    margin-top: 15px;
    padding: 10px;
    border: 1px #eee solid;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
}

