html, body {
    height: 99.999%;
}

body {
    font-family: arial, helvetica, sans-serif;
    font-size: 13px;
    padding: 0;
    margin: 0;
    background: linear-gradient(-45deg, #333 50%, #1e1e1f 100%);
    overflow: hidden;
}

h1 {
    margin: 0;
}

.connection_monitor {
    position: fixed;
    display: none;
    min-height: 30px;
    z-index: 90000;
    background: #ef6666;
    font-size: 1.8em;
    padding: 15px;
}

.header {
    grid-area: header;
    border-bottom: 1px solid #a5a5a5;
    font-size: 2em;
    height: 2.5em;
}

.logo {
    width: 120px;
    margin: 12px;
    float: left;
}

.header a {
    color: #fff;
    text-decoration: none;
    line-height: 70px;
}

.board-space {
    padding: 15px;
}

#board {
    max-width: 700px;
    margin: auto;
}

.module_label {
    line-height: 2em;
    color: black;
}

.container {
    width: 100%;
    height: 100%;
}

.module_container {
    max-width: 1200px;
    margin: auto;
    display: block;
    margin-top: 10px;
}

.row {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50% 50%;
    max-height: 701px;
    grid-template-rows: 100%;
    padding: 0 1em;
    background: linear-gradient(-45deg, #333 50%, #1e1e1f 100%);    color: #555;
}

.column {
    background-color: #555;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.7em;
}

.button_row {
    margin-top: 15px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50% 50%;
}

#promotion-choices {
    display: block;
    text-align: center;
}

#promotion-choices img {
    margin: 10px;
    width: 3.5rem;
    border: 4px solid #999;
    border-radius: 10px;
    padding: 7px;
    background-color: #ccc;
    cursor: pointer;
}

#promotion-choices img:hover {
    border: 4px solid #eee;
}

#status_display {
    font-size: 2.0vw;
    margin: 0;
}

#status_opponent {
    font-size: 1.2vw; 
    overflow: hidden;
    display: block;
}

#opponent_id {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2vw;
    text-overflow: ellipsis;
}

#status_log {
    height:384px
}

#log {
    overflow-y: auto;
    display: block;
    height: 100%;
    max-height: 450px;
}

span#captured {
    display: block;
    margin-top: 5px;
}

img.captured {
    width: 32px;
}

.chess_button {
    background-color: #999;
    font-size: 3vw;
    padding: 10px;
    border-radius: 5px;
    color: #DDD;
    max-height: 100px;
}

/* white square */
.white-1e1d7 {
    background-color: #eeeeee;
    color: #b58863;
  }
  
  /* black square */
  .black-3c85d {
    background-color: #777;
    color: #f0d9b5;
  }

@media only screen and (max-width: 900px) {
    .logo {
        width: 76px;
        margin-top: 5px;
        margin-left: 5x;
        margin-right: 10px;
        float: left;
    }
    .header {
        font-size: 20px;
        height: 40px;
    }

    .header a {
        line-height: 36px;
    }

    .row {
        grid-template-columns: 100%;
        grid-template-rows: auto 60%;
        position: absolute;
        top: 4em; 
    }
    .column{
        border-radius: 0;
    }
    .module_container {
        height: 99%;
        margin-top: 0;
    }
    #board {
        max-width: 500px;
    }
    #status_display {
        font-size: 24px;
        margin: 0;
    }
    #status_opponent {
        font-size: 20px;
    }
    .controls {
        overflow-y: scroll;
        overflow-x: hidden;
    }
    #opponent_id {
        font-size: 20px;
    }
    html, body {
        overflow: hidden;
    }
}

.red {
    color: red;
}

.green {
    color: green;
}

#home {
    float: right;
}

#home a i::before {
    color: #ffffff;
}

.controls.column p {
    margin: 0 0 6px 0;
}

#status_oponent {
    text-overflow: ellipsis;
    overflow: hidden;
}