/** Email **/

body {
  max-width: 1500px;
***REMOVED***

.footer {
  display: none;
***REMOVED***

.remix-code {
  display: none;
***REMOVED***

.remix-publish-module-btn {
  display: none;
***REMOVED***


