:root {
  --saito-red: rgb(243, 99, 10);
  --saito-nightscape: linear-gradient(-45deg, #333 50%, #222 100%);
  --saito-jester: linear-gradient(-45deg, #444 50%, #333 100%);
}

body {
  font-size: 1.0em;
  color: var(--saito-skyline-grey);
  background: var(--saito-nightscape);
}

a {
  color: var(--saito-red);
}

a:hover {
  color: rgb(245, 177, 52) !important;
}


.teaser-site, .teaser-site a, .teaser-content-links {
  color: rgb(245, 173, 39) !important;
}


.post {
  background-color: #333333ef !important;
}


button, .button, .file-label {
  background: var(--saito-jester);
  border: 1px solid var(--saito-red);
  color: rgb(245, 156, 39)
}

button:hover, .button:hover {
  background: linear-gradient(-45deg, rgb(243, 99, 10) 50%, #8d4700 100%);
  color: var(--saito-skyline-grey);
}

.chat-row:hover {
  background: linear-gradient(-45deg, rgb(243, 99, 10) 50%, #8d4700 100%);
}

.chat-box-main, .chat-box-input, .chat-box-new-message-input {
  background: var(--saito-nightscape);
  color: var(--saito-skyline-grey);
}

input {
  background: #222;   
  color: var(--saito-skyline-grey);
} 
.post-create-textarea {
  border: 1px solid var(--saito-red) !important;
}