

.forum-container {
  display: grid;
  margin: 0.75em;
  margin-top: 100px;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "forum-left-sidebar forum-main forum-right-sidebar";
  font-size: 1.0em;
}

.forum-left-sidebar {
  grid-area: forum-left-sidebar;
}

.forum-main {
  grid-area: forum-main;
}

.forum-right-sidebar {
  grid-area: forum-right-sidebar;
}





.post-create-container {
  padding: 10px;
}
.post-create-label {
  margin-top: 20px;
}
.post-create-title {
}
.post-create-link {
}
.post-create-textarea {
}

.post-create-textarea, .post-add-comment-textarea {
  border: 1px solid var(--saito-cyber-black-wash);
  padding: 1em;
  min-height: 12em;
}

.post-create-forum {
}
.post-submit-btn {
  margin-top:20px;
}


.post-content {
  clear:both;
  line-height: 1.6em;
  padding: 15px;
  max-height: 50vh;
  overflow: auto;
}





.teaser {
  width:600px;
  padding-bottom:10px;
  padding-top:10px;
  clear:both;
}
.teaser-author {
  display:none;
}
.teaser-votes {
 float:left;
 padding-left:5px;
 padding-top:3px;
 width: 28px;
 height: 72px;
 font-size: 1.1em;
}
.upvote-wrapper {
 padding-left:4px;
}
.votes-total {
 text-align:center;
 width:100%;
}
.downvote-wrapper {
 padding-left:4px;
}
.teaser-thumbnail {
 float:left;
 width: 72px;
 height: 72px;
 margin-left:5px;
 margin-right:10px;
 cursor:pointer;
}
.teaser-thumbnail-image {
 width: 72px;
 height: 72px;
}
.teaser-content {
  float:left;
  max-width: 500px;
  margin-left: 5px;
  margin-bottom: 20px;
}
.teaser-content-title a {
  text-decoration: none;
  font-size: 1.15em;
}
.teaser-content-title {
  text-decoration: none;
  font-size: 1.15em;
}
.teaser-site {
  display: inline;
  color: #474747;
  font-size: 0.8em;
  padding-top: 5px;
  margin-left: 10px;
}
.teaser-site a {
  color: #474747;
  font-size: 0.8em;
  text-decoration: none;
}
.teaser-content {
}
.teaser-content-title {
 float:left;
 clear:all;
}
.teaser-content-details {
 max-width: 500px;
 margin-bottom: 2px;
 clear:both;
 font-size:0.9em;
}
.teaser-content-links {
 color: #373737;
 font-size:0.85em;
 font-weight: bold;
 clear:all;
}
.teaser-content-links-comments {
 float: left;
 margin-right: 15px;
 cursor:pointer;
}
.teaser-content-links-comments a {
 text-decoration: none;
}
.teaser-content-links-edit {
 float: left;
 margin-right: 15px;
 cursor:pointer;
}
.teaser-content-links-edit a {
 text-decoration: none;
}
.teaser-content-links-report {
 float: left;
 margin-right: 15px;
 cursor:pointer;
}
.teaser-content-links-report a {
 text-decoration: none;
}
.teaser-content-links-delete {
 float: left;
 margin-right: 15px;
 cursor:pointer;
}

.comment {
  width: 100%;
  min-height: 60px;
  padding: 10px;
  margin-bottom: 25px;
}
.comment-author {
  margin-left: 35px;
}
.comment-text {
  margin-left: 35px;
  line-height: 1.6em;
  padding: 0px;
  max-height: 50vh;
  overflow: auto;
  margin-top: 15px;
}
.comment-links {
  margin-left: 35px;
  clear:both;
}
.comment-links-reply {
  float:left;
  cursor:pointer;
}
.comment-links-report {
  margin-left: 10px;
  float:left;
  cursor:pointer;
}

.comment-add-comment {
  display:none;
}
.comment-add-comment-textarea {
}
.comment-add-comment-btn {
}





@media only screen and (max-width: 600px) {

  .forum-container {
    display: grid;
    margin: 0;
    margin-top: 100px;
    grid-row-gap: 0;
    grid-column-gap: 0;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
      "forum-left-sidebar forum-main forum-right-sidebar";
    font-size: 1.0em;
  }

  .forum-container-main {
    padding: 0px;
  }

  .forum-left-sidebar {
    display: none;
    grid-area: forum-left-sidebar;
  }

  .forum-main {
    grid-area: forum-main;
  }

  .forum-right-sidebar {
    display: none;
    grid-area: forum-right-sidebar;
  }

  .teaser {
    width: 525px;
  }

  .teaser-content {
    width: 400px;
    margin-left:15px;
  }

  .teaser-thumbnail {
    display: none;
  }

  .teaser-content-title a {
    font-size: 1.0em;
  }

}


@media only screen and (max-width: 500px) {

  .forum-container {
    display: grid;
    margin: 0;
    margin-top: 100px;
    grid-row-gap: 0;
    grid-column-gap: 0;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
      "forum-left-sidebar forum-main forum-right-sidebar";
    font-size: 1.0em;
  }

  .forum-container-main {
    padding: 0px;
  }

  .forum-left-sidebar {
    display: none;
    grid-area: forum-left-sidebar;
  }

  .forum-main {
    grid-area: forum-main;
  }

  .forum-right-sidebar {
    display: none;
    grid-area: forum-right-sidebar;
  }


  .teasers {
    overflow:scroll;
  }

  .teaser {
    width: 480px;
  }

  .teaser-content {
    width: 340px;
    margin-left:15px;
  }

  .teaser-thumbnail {
    display: none;
  }

  .teaser-content-title a {
    font-size: 1.0em;
  }

}



