
/*--------------------------------------------------------------*/
.forum-container {
  display: grid;
  margin: 5em 0 0 0;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "forum-left-sidebar forum-main forum-right-sidebar";
  font-size: 1.0em;
}

.forum-left-sidebar {
  grid-area: forum-left-sidebar;
}

.forum-main {
  grid-area: forum-main;
}

.forum-right-sidebar {
  grid-area: forum-right-sidebar;
}

.post_bk {
  background-size: cover;
  background-position: center;
}

.post {
  background-color: #ffffffef;
  padding: 1em;
}

.post-head {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1em 4em auto;
}

.post-create-container {
  padding: 10px;
}

.post-create-label {
  margin-top: 20px;
}

.post-create-title {}

.post-create-link {}

.post-create-textarea {}

.post-create-textarea, .post-add-comment-textarea {
  border: 1px solid var(--saito-cyber-black-wash);
  padding: 1em;
  min-height: 12em;
}

.post-create-forum {}

.post-submit-btn {
  margin-top: 20px;
}

.post-content {
  clear: both;
  line-height: 1.6em;
  padding: 15px;
  max-height: 100%;
  overflow: auto;
}

.teaser {
  width: 600px;
  padding-bottom: 10px;
  padding-top: 10px;
  clear: both;
}

.teaser-author {
  display: none;
}

.teaser-votes {
  padding-left: 5px;
  padding-top: 3px;
  width: 28px;
  height: 75px;
  font-size: 1.1em;
  float: left;
}

.upvote-wrapper {
  padding-left: 4px;
}

.votes-total {
  text-align: center;
  width: 100%;
}

.downvote-wrapper {
  padding-left: 4px;
}

.teaser-thumbnail {
  width: 75px;
  height: 75px;
  margin-left: 5px;
  margin-right: 10px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
}

.teaser-thumbnail-image {
  width: 75px;
  height: 75px;
}

.teaser-content {
  max-width: 500px;
  margin-left: 5px;
  margin-bottom: 20px;
}

.teaser-content-title a {
  text-decoration: none;
  font-size: 1.15em;
}

.teaser-content-title {
  text-decoration: none;
  font-size: 1.15em;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
}

.teaser-site {
  color: #474747;
  font-size: 1.2em;
  padding: 1px 0;
}

.teaser-site a {
  color: #474747;
  font-size: 0.8em;
  text-decoration: none;
}

.teaser-content {}

.teaser-content-title {}

.teaser-content-details {
  max-width: 500px;
  margin: 2px 0;
  clear: both;
  font-size: 1em;
}

.teaser-content-links {
  color: #373737;
  font-size: 0.85em;
  font-weight: bold;
  clear: all;
  margin: 3px 0;
  display: flex;
}

.teaser-content-links-comments {
  margin-right: 15px;
  cursor: pointer;
}

.teaser-content-links-comments a {
  text-decoration: none;
}

.teaser-content-links-edit {
  margin-right: 15px;
  cursor: pointer;
}

.teaser-content-links-edit a {
  text-decoration: none;
}

.teaser-content-links-report {
  margin-right: 15px;
  cursor: pointer;
}

.teaser-content-links-report a {
  text-decoration: none;
}

.teaser-content-links-delete {
  margin-right: 15px;
  cursor: pointer;
}

.comment {
  width: 100%;
  min-height: 60px;
  padding: 10px;
  margin-bottom: 25px;
}

.comment-author {
  margin-left: 35px;
}

.comment-text {
  margin-left: 35px;
  line-height: 1.6em;
  padding: 0px;
  max-height: 50vh;
  overflow: auto;
  /* margin-top: 15px; */
  margin-top: 7px;
}

.comment-links {
  margin-left: 35px;
  clear: both;
}

.comment-links-reply {
  float: left;
  cursor: pointer;
}

.comment-links-report {
  margin-left: 10px;
  float: left;
  cursor: pointer;
}

.comment-add-comment {
  display: none;
}

.comment-add-comment-textarea {}

.comment-add-comment-btn {}

.main {
  overflow-x: hidden;
}

.mobile-nav i {
  font-size: 2em;
  color: var(--saito-red);
  cursor: pointer;
  margin: 5px;
}

.forum-back {
  font-size: 2em;
  color: var(--saito-red);
  cursor: pointer;
  margin: 0 9px 0 0;  
}

.mobile-nav {
  display: none;
  position: fixed;
  bottom: 0;
  background: #FFFFFF88;
  width: 100%;
  text-align: right;
}

.forum-right-nav {
  display: flex;
  align-items: center;
  position: fixed;
    right: 2em;
}

.saito-address {
  text-overflow: ellipsis;
  width: 100%;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
}

@media only screen and (max-width: 600px) {
  .main {
    padding: 0;
  }
  .mobile-nav {
    display: block;
  }
  .forum-container {
    display: block;
  }
  .forum-container-main {
    padding: 0px;
  }
  .forum-left-sidebar {
    display: none;
    grid-area: forum-left-sidebar;
  }
  .forum-main {
    grid-area: forum-main;
  }
  .forum-right-sidebar {
    display: none;
    grid-area: forum-right-sidebar;
  }
  .teaser {
    width: 525px;
  }
  .teaser-content {
    width: 400px;
    margin-left: 15px;
    overflow: hidden;
  }
  .teaser-thumbnail {
    display: none;
  }
  .teaser-content-title a {
    font-size: 1.0em;
  }

}

@media only screen and (max-width: 500px) {
  .mobile-nav {
    display: block;
  }
  .forum-container-main {
    padding: 0px;
  }
  .forum-left-sidebar {
    display: none;
    grid-area: forum-left-sidebar;
  }
  .forum-main {
    grid-area: forum-main;
  }
  .forum-right-sidebar {
    display: none;
    grid-area: forum-right-sidebar;
  }
  .teasers {
    overflow: scroll;
  }
  .teaser {
    width: 480px;
  }
  .teaser-content {
    width: 340px;
    margin-left: 15px;
    overflow: hidden;
  }
  .teaser-thumbnail {
    display: none;
  }
  .teaser-content-title a {
    font-size: 1.0em;
  }
}
