.chat-row {
  display: grid;
  grid-column-gap: 1em;
  grid-template-columns: 2.5em auto 2.5em;
  border-bottom: 1px solid var(--saito-skyline-grey);
  padding: 10px 0px;
  height: 5em;
  cursor: pointer;
***REMOVED***

.chat-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
***REMOVED***

.chat-last-message {
  font-family: visuelt-light;
***REMOVED***

.chat-last-message-timestamp {
  font-family: visuelt-light;
***REMOVED***

.chat-room-message {
  /* display: grid;
  grid-gap: 0.5em; */
  padding: 1em;
  max-width: 75%;
  border-radius: 15px;
***REMOVED***

.chat-message-text {
  word-wrap: break-word;
  margin-bottom: 5px;
***REMOVED***

.chat-room-message-others {
  background: var(--saito-skyline-grey);
  justify-self: left;
  border-bottom-left-radius: 0;
***REMOVED***

.chat-room-message-myself {
  background: var(--saito-cyber-black);
  color: white;
  justify-self: right;
  border-bottom-right-radius: 0;
***REMOVED***

.chat-room-submit-button {
  justify-self: center;
  background: var(--saito-cyber-black);
  padding: 7px 10px;
  color: white;
  border-radius: 100px;
  cursor: pointer;
***REMOVED***

.chat-message-header {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  color: darkgrey;
***REMOVED***

.chat-message-timestamp {
  margin-left: 1em;
***REMOVED***






/** add contact module **/

#add-contact-modal-content {
  width: 30em;
***REMOVED***

#add-contact-add-button {
  margin: 0;
  /* margin-left: 2em; */
***REMOVED***

#qr-scanner-icon {
  text-decoration: none;
  margin-left: 1.5em;
***REMOVED***

#qr-code-icon {
  color: var(--saito-cyber-black-wash)
***REMOVED***

#qr-code-icon:hover {
  color: black;
***REMOVED***


/** **/

.email-chat {
  margin-top: 0.5em;
  width:100%;
  height:300px;
  /* border: 1px solid #ddd; */
  font-size: 0.8em;
***REMOVED***

.chat-list {
  border: 1px solid #ddd;
***REMOVED***

#email-chat-add-contact {
  cursor: pointer;
***REMOVED***

.email-chat .chat-row {
  padding: 5px;
  height: 4em;
  font-size: 1em;
***REMOVED***

.chat-manager {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
***REMOVED***

.chat-box {
  display: grid;
  margin-left: 1em;
  background-color: white;
  border: 1px solid #a5a5a5;
  font-size: 0.8rem;
  grid-template-columns: 1fr;
  grid-template-rows: 3.2em auto 3.0em;
  grid-template-areas:
      "chat_header"
      "chat_main"
      ".";
  width: 32em;
  height: 38em;
  font-family: visuelt-light;
***REMOVED***

.chat-bow-show {
  height: 38em;
***REMOVED***

.chat-box-hide {
  height: 3em;
  align-self: flex-end;
***REMOVED***

.chat-box-header {
  grid-area: chat_header;
  display: grid;
  grid-template-columns: 90% 10%;
  border-bottom: 1px solid #a5a5a5;
  font-size: 2em;
  cursor: pointer;
  z-index: 1000;
  color: white;
  padding: 5px;
  background: white;
  background-image: url(/chat/img/chat_header.png);
  width: 100%;
  background-size: cover;
  line-height: 1.4em;
***REMOVED***

.chat-box-main {
  display: flex;
  flex-direction: column;
  height: 32em;
  grid-area: chat_main;
  overflow-y: scroll;
  padding: 5px;
***REMOVED***

.chat-room-message {
  margin-bottom: 0.5em;
***REMOVED***

.chat-box-input {
  position: fixed;
  bottom: 0%;
  width: 32em;
  height: 3em;
  margin-left: 0px;
  padding: 4px;
  border-top: 1px solid lightgrey;
  display: grid;
  grid-template-columns: 28.5em 3em;
***REMOVED***

.chat-box-new-message-input {
  width: 100%;
  height: 100%;
  min-height: unset;
  resize: none;
  margin: auto;
  padding: 5px;
  font-size: 1.2em;
  border: none;
  box-shadow: none;
  outline: none;
  resize: none;
***REMOVED***

.chat-timestamp {
    justify-self: right;
    color: rgb(102, 102, 102);
    font-size: 1.0rem;
    padding-top: 5px;
    margin: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
***REMOVED***

.chat-box-message-container {
    display: flex;
***REMOVED***

.chat-message-myself {
  flex-direction: row-reverse;
***REMOVED***

.chat-box-message-others {
  flex-direction: flex-start;
***REMOVED***

.chat-message {
    margin-right: 1px;
    line-height: 1.2em;
    font-size: 1.2em;
    white-space: normal;
***REMOVED***

.chat-message > p  {
    display: inline-block;
    margin: 0;
***REMOVED***

.chat-nessage-author {
  font-weight: bold;
***REMOVED***


@media only screen and (max-width: 600px) {
  .chat-box {
    display: none;
  ***REMOVED***
***REMOVED***