

.email-chat {
  margin-top: 0.5em;
  width:100%;
  height:300px;
  border: 1px solid #ddd;
  font-size: 0.8em;
}

.email-chat .chat-row {
  padding: 5px;
  height: 4em;
  font-size: 1em;
}




.chat-box {
  display: grid;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: white;
  border: 1px solid #a5a5a5;
  font-size: 0.8rem;
  grid-template-columns: 1fr;
  grid-template-rows: 3.2em auto 3.0em;
  grid-template-areas:
      "chat_header"
      "chat_main"
      ".";
  width: 32em;
  height: 38em;
  font-family: visuelt-light;
}

.chat-bow-show {
  height: 38em;
}

.chat-box-hide {
  height: 3em;
}

.chat-box-header {
  grid-area: chat_header;
  display: grid;
  grid-template-columns: 60% 10% 30%;
  border-bottom: 1px solid #a5a5a5;
  font-size: 2em;
  cursor: pointer;
  z-index: 1000;
  color: white;
  padding: 5px;
  background-image: url(/chat/img/chat_header.png);
  width: 100%;
  background-size: cover;
}

.chat-box-main {
  display: flex;
  flex-direction: column;
  height: 32em;
  grid-area: chat_main;
  overflow-y: scroll;
  padding: 5px;
}

.chat-room-message {
  margin-bottom: 0.5em;
}

.chat-box-input {
  position: fixed;
  bottom: 0%;
  width: 100%;
  height: 3em;
  margin-left: 0px;
  padding: 4px;
  border-top: 1px solid #3f3f3f;
  display: grid;
  grid-template-columns: 28.5em 3em;
}

.chat-box-new-message-input {
  width: 100%;
  height: 100%;
  resize: none;
  margin: auto;
  padding: 5px;
  font-size: 1.2em;
  border: none;
  box-shadow: none;
  outline: none;
  resize: none;
}

.chat-timestamp {
    justify-self: right;
    color: rgb(102, 102, 102);
    font-size: 1.0rem;
    padding-top: 5px;
    margin: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.chat-box-message-container {
    display: flex;
}

.chat-message-myself {
  flex-direction: row-reverse;
}

.chat-box-message-others {
  flex-direction: flex-start;
}

.chat-message {
    margin-right: 1px;
    line-height: 1.2em;
    font-size: 1.2em;
    white-space: normal;
}

.chat-message > p  {
    display: inline-block;
    margin: 0;
}

.chat-nessage-author {
  font-weight: bold;
}

