.chat-row {
  display: grid;
  grid-column-gap: 1em;
  grid-template-columns: 2.5em auto 2.5em;
  border-bottom: 1px solid var(--saito-skyline-grey);
  padding: 10px 0px;
  height: 5em;
  cursor: pointer;
}
.chat-row:hover {
  background-color: var(--saito-skyline-grey);
}
.chat-row-image {
  width: 2rem;
  height: 2rem;
  align-self: center;
}

.chat-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px 0 0 0;
}

.chat-last-message {
  color: grey;
  margin-top: 7px;
  font-family: visuelt-light;
}

.chat-last-message-timestamp {
  font-family: visuelt-light;
  padding: 4px 0 0 0;
}

.chat-room-message {
  padding: 8px 12px;
  max-width: 90%;
  border-radius: 15px;
}

.chat-message-text {
  margin: unset;
  margin-bottom: 1px;
  word-wrap: break-word;
  font-family: visuelt-light;
    line-height: 16px;
    font-size: 15px;
}

.saito-address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-room-message-others {
  background: var(--saito-cyber-black);
  color: var(--saito-skyline-grey);
  justify-self: left;
  border-bottom-left-radius: 0;
}

.chat-room-message-myself {
  background: var(--saito-skyline-grey);
  justify-self: right;
  border-bottom-right-radius: 0;
}

.chat-room-submit-button {
  justify-self: center;
  background: var(--saito-cyber-black);
  padding: 9px 10px;
  color: white;
  border-radius: 100px;
  cursor: pointer;
}

.chat-message-header {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  color: #333;
}

.chat-message-others .chat-message-header {
  color: var(--saito-skyline-grey);
}

.chat-message-author {
  margin: unset;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
}

.chat-message-timestamp {
  margin: unset;
  margin-left: 1em;
}

.chat-box-header-title {
  font-size: 17.28px;
    line-height: 17px;
    margin-left: 1em;
}




/** add contact module **/

#add-contact-modal-content {
  width: 30em;
}

#add-contact-add-button {
  margin: 0;
  /* margin-left: 2em; */
}

#qr-scanner-icon {
  text-decoration: none;
  margin-left: 1.5em;
}

#qr-code-icon {
  color: var(--saito-cyber-black-wash)
}

#qr-code-icon:hover {
  color: black;
}


/** **/

.email-chat {
  margin-top: 0.5em;
  width:100%;
  height:300px;
  font-size: 0.8em;
}

.chat-list {
  height: 255px;
  overflow-y: scroll;
  border: 1px solid #ddd;
}

#email-chat-add-contact {
  cursor: pointer;
}

.email-chat .chat-row {
  padding: 5px;
  height: 4em;
  font-size: 1em;
}

.chat-manager {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
}

.chat-box {
  display: grid;
  margin-left: 1em;
  background-color: white;
  border: 1px solid #a5a5a5;
  font-size: 0.8rem;
  grid-template-columns: 1fr;
  grid-template-rows: 3.2em auto 3.0em;
  grid-template-areas:
      "chat_header"
      "chat_main"
      ".";
  width: 32em;
  height: 38em;
  font-family: visuelt-light;
}


.chat-box .chat-box-header {
  cursor: s-resize;
}

.chat-box-hide {
  height: 3em;
  align-self: flex-end;
}

.chat-box-hide .chat-box-header {
  cursor: n-resize;
}

.chat-box-close {
  cursor: pointer;
}

.chat-box-header {
  grid-area: chat_header;
  display: grid;
  grid-template-columns: 90% 10%;
  border-bottom: 1px solid #a5a5a5;
  font-size: 2em;
  z-index: 1000;
  color: white;
  padding: 5px;
  background: white;
  background-image: url(/chat/img/chat_header.png);
  width: 100%;
  background-size: cover;
  line-height: 1.4em;
}

.chat-box-main {
  display: flex;
  flex-direction: column;
  height: 32em;
  grid-area: chat_main;
  overflow-y: scroll;
  padding: 5px;
}

.chat-room-message {
  display: grid;
  grid-template-columns: 2em auto;
  grid-gap: 0 0.5em;
  margin: 0.5em 0;
}

.chat-room-message-identicon {
  float: left;
  width: 2em;
  margin: 0 5px 0 0;
  border: 1px solid #8885;
}

.chat-box-input {
  position: fixed;
  bottom: 0%;
  width: 32em;
  height: 3em;
  margin-left: 0px;
  padding: 4px;
  border-top: 1px solid lightgrey;
  display: grid;
  grid-template-columns: 28.5em 3em;
}

.chat-box-new-message-input {
  width: 100%;
  /* height: 100%; */
  height: 30px;
  min-height: unset;
  resize: none;
  margin: auto;
  padding: 5px;
  font-size: 1.2em;
  border: none;
  box-shadow: none;
  outline: none;
  resize: none;
}

.chat-timestamp {
    justify-self: right;
    color: rgb(102, 102, 102);
    font-size: 1.0rem;
    padding-top: 5px;
    margin: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.chat-box-message-container {
    display: flex;
}

.chat-message-myself {
  flex-direction: row-reverse;
}

.chat-box-message-others {
  flex-direction: flex-start;
}

.chat-message {
    margin-right: 1px;
    line-height: 1.2em;
    font-size: 1.2em;
    white-space: normal;
}

.chat-message > p  {
    display: inline-block;
    margin: 0;
}

.chat-nessage-author {
  font-weight: bold;
}


@media only screen and (max-width: 600px) {
  .chat-box {
    display: none;
  }
}
