.header {
    padding: 0.75em 1em;
}

.explorer-main {
    margin-top: 75px;
    padding: 0 10px;
    line-height: 1.6em;
    font-family: "visuelt-light", "Microsoft Yahei", "Hiragino Sans GB";
    height: 91vh;
    overflow: auto;
    padding: 2em;
}

.explorer-main table {
    border-spacing: 0;
}

.explorer-main table tr:hover {
    background: #bbbbbb;
}

.explorer-main td {
    padding: 10px 5px;
}

.explorer-main th {
    text-align: left;
}

.explorer-main a {
    text-decoration: underscore;
    color: var(--text-color-highlight);
    display: inline-block;
}

.explorer-main h4 {
    display: inline-block;
    min-width: 200px;
}

.explorer-main h3 {
    margin: 20px 0 10px 0;
}

.explorer-main i {
    margin: 0 10px;
}

#explorer-button {
    min-width: unset;
}

.jsontree_node {
    list-style: none;
}

.json, #block-list, .block-transactions-table {
    font-family: monospace;
    border: 1px solid #ccc;
    background: #eee;
    padding: 10px;
    overflow: auto;
    width: 99%;
}

input[type=text], input[type=number] {
    height: 3em;
    margin-top: 1px;
}

a.button {
    text-decoration: none;
    margin-bottom: 5px;
}

.hash-search-input {
    width: 100%;
}

.one-line-form {
    display: grid;
    grid-template-columns: 1fr 7.5em;
    width: 100%;
    max-width: 850px;
    grid-gap: 10px;
}

.elipsis {
    overflow: elipsis;
}

.blockchain-table {
    display: grid;
    grid-template-columns: 0.5em 3em 39em 2.5em auto;
    grid-gap: 10px;
}

.blockchain-table div {
    overflow: hidden;
}

.table-header {
    font-weight: bold;
}

.block-table {
    display: grid;
    grid-template-columns: 7em 1fr;
    grid-gap: 10px;
    max-width: 850px;
    margin-bottom: 2em;
}

.block-table div {
    overflow: hidden;
    align-self: center;
}

.block-transactions-table {
    display: grid;
    grid-template-columns: 3.75em 28em 8em 3em auto;
    grid-gap: 10px;
}

h1, h2, h3, h4, h5 {
    display: inline-block;
    min-width: 200px;
    width: 100%;
    overflow: hidden;
}

a {
    cursor: pointer;
}

.txbox {
    grid-column-start: 1;
    grid-column-end: span 5;
    background-color: #fff;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.blockJson {
    border: 1px solid #ddd;
    padding: 1em 0;
}