/** Alaunius **/

body {
  max-width: 1500px;
}

/* .main {
  height: 91vh;
} */

.footer {
  display: none;
}

.alaunius-container {
  display: grid;
  grid-column-gap: 1.5em;
  grid-template-columns: 15em auto;
  grid-template-areas: "alaunius-sidebar alaunius-main";
}

.alaunius-content {
  display: grid;
}

.alaunius-header {
  padding: 10px 0px;
  display: grid;
  align-items: center;
  grid-template-columns: 60% 40%;
  border-bottom: 1px solid var(--saito-cyber-black);
}

.alaunius-header-title {
  font-family: visuelt-medium;
  font-size: 1.2em;
}

.alaunius-icons {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 2em;
  justify-items: center;
  align-items: center;
  grid-gap: 0.3em;
}

#alaunius-form-back-button {
  cursor: pointer;
  justify-self: left;
  margin-left: 5px;
}

#alaunius-compose-btn {
  margin: unset;
  padding: 8px;
}

.alaunius-balance {
  justify-self: right;
  font-family: visuelt-medium;
  align-self: flex-end;
  font-size: 1.33em;
  text-transform: capitalize;
}

.alaunius-main {
  display: grid;
  grid-template-rows: 4em calc(100vh - 10.1em);
}

.alaunius-body {
  /* padding: 1em; */
}

.alaunius-compose {
  padding: 1em;
  border: 1px solid var(--saito-cyber-black-wash);
  margin: 1em 0;
  box-shadow: 0px 0px 3px 1px rgba(220, 220, 220, 0.75);
}

.alaunius-list {
  /* height: calc(100vh - 9.1em); */
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.alaunius-form {
  /* height: 72vh; */
  /* display: grid;
  grid-template-rows: 3em 3em 3em auto 4em;
  grid-gap: 1em;
  padding-top: 10px; */
}

.alaunius-form-meta {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 5em 1fr;
  margin-bottom: 10px;
}

.alaunius-form input[type=text] {
  border: none;
  border-bottom: 1px solid var(--saito-cyber-black-wash);
  padding: 10px 3px;
  outline: none;
}

.alaunius-title {
  border-top: 1px solid lightgrey
}

.alaunius-form textarea {
  outline: none;
}

.alaunius-form-row {
  display: grid;
  grid-template-columns: 4em auto;
  align-items: center;
}

#alaunius-form-options {
  display: flex;
  justify-content: space-between;
  color: grey;
  width: 5.5em;
  float: right;
  margin: 10px;
}

.alaunius-title {
  border-top: 1px solid lightgrey;
  width: 100%;
}

.alaunius-detail-footer {
  display: grid;
  grid-template-columns: 8em auto;
  align-items: center;
  margin-top: 1em;
  grid-gap: 1em;
}

#alaunius-select-icon {
  width: 24px;
  height: 24px;
  justify-self: left;
}

#alaunius-delete-icon {
  cursor: pointer;
}

.alaunius-list input[type=checkbox] {
  margin: auto;
}

.alaunius-selected {
  height: 24px;
  width: 24px;
  align-self: center;
}

.alaunius-selected:checked {
  background-color: var(--saito-cyber-black);
}

.alaunius-message {
  display: grid;
  grid-template-columns: 2em auto 3em;
  border-bottom: 1px solid var(--saito-skyline-grey);
  padding: 10px 0px;
  cursor: pointer;
  grid-gap: 0.5em;
}

.alaunius-message:hover {
  border-bottom: 1px solid var(--saito-red-wash);
}

.alaunius-message h4 {
  margin: 2px 0;
}

.alaunius-message-content {
  font-size: 1.2em;
  font-family: visuelt-light;
  display: grid;
  grid-gap: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid-template-columns: 300px 300px 1fr;
}

@media only screen and (max-width: 1200px) {
  .alaunius-message-content {
    grid-template-columns: 300px 1fr;
  }
}

@media only screen and (max-width: 900px) {
  .alaunius-message-content {
    grid-template-columns: 300px;
    grid-gap: 0.5em;
  }
}

.alaunius-message-from, .alaunius-message-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  overflow: hidden;
  font-weight: bold;
  align-self: center;
  padding: 10px 0 0 0;
}

.alaunius-message-message {
  padding: 10px 0 0 0;
  align-self: center;
}

.alaunius-message-timestamp {
  text-align: right;
  font-family: monospace, 'Courier New', Courier;
}

.alaunius-text {
  border: none;
  font-size: 1em;
  width: 100%;
  height: 200px;
  margin: 1em 0 0 0;
}

.alaunius-sidebar {
  margin: 10px 10px;
}

.alaunius-controls {
  display: grid;
  grid-template-rows: 3em auto auto;
  grid-gap: 0.5em;
}

.alaunius-navigator, .alaunius-apps {
  list-style: none;
  list-style-type: none;
  font-size: 1.2em;
  line-height: 1.4em;
  padding: 10px 0px;
}

.alaunius-navigator {
  border-bottom: 1px solid grey;
}

.alaunius-navigator-item, .alaunius-apps-item {
  cursor: pointer;
  border-bottom: 1px solid transparent;
  padding: 5px 0 2px 10px;
}

.alaunius-apps-item:hover, .alaunius-navigator-item:hover {
  background-color: var(--saito-skyline-grey);
}

.active-navigator-item {
  color: var(--saito-red);
  font-weight: bold;
}

.alaunius-loader {
  margin-top: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.alaunius-text-wrapper {
  height: 35vh;
}

.alaunius-sidebar li.button {
  margin: 0 0 1em 0;
}

.alaunius-sidebar li.button span {
  font-family: 'visuelt-black';
}

.alaunius-info {
  display: grid;
  grid-template-columns: 1fr 10em;
}

/** DETAIL **/

.alaunius-detail-addresses {
  padding: 10px 0px;
  border-bottom: 1px solid lightgrey;
  display: grid;
  grid-gap: 0.5em;
}

.alaunius-detail-address-row {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: 3em auto;
  overflow: hidden;
}

.alaunius-detail-message {
  padding: 10px 0px;
  display: grid;
}

.alaunius-detail-timestamp {
  justify-self: right;
  color: grey;
}

.alaunius-detail-left-options {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: 2em auto;
  align-items: center;
  margin: 10px 1em 0 0;
}

.alaunius-detail-right-options {
  display: grid;
  justify-content: right;
  grid-gap: 1em;
  grid-template-columns: auto auto;
  align-items: baseline;
}

#alaunius-detail-reply {
  cursor: pointer;
}

#alaunius-detail-forward {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  /* body {
    zoom: 1.1;
  } */
  input[type=checkbox] {
    margin: 0 0.65em;
  }
  .main {
    max-width: unset;
    padding: 1em 3px;
  }
  .alaunius-body {
    padding: 3px;
  }
  .alaunius-header {
    padding: 0 0 5px 0px;
  }
  .alaunius-main {
    grid-template-rows: 3em calc(100vh - 9.1em);
  }
  .alaunius-container {
    grid-template-columns: 1fr;
    grid-template-areas: "alaunius-sidebar" "alaunius-content";
  }
  .alaunius-module-title {
    display: none;
  }
  .alaunius-sidebar {
    display: none;
  }
  .alaunius-detail-address-id {
    font-size: 0.8em;
  }
  .alaunius-header {
    grid-template-columns: 1fr 1fr;
    /* grid-template-columns: 30% 70%; */
  }
  .alaunius-balance, .alaunius-header-title {
    font-size: 1em;
  }
  .alaunius-balance.detail {
    display: none;
  }
  .alaunius-text {
    height: 85px;
  }
  .alaunius-detail-right-options {
    display: flex;
    justify-self: end;
    flex-direction: column-reverse;
    padding: 0;
  }
  .alaunius-detail-right-options, .alaunius-detail-left-options, h4 {
    margin: 0;
  }
  .alaunius-detail-left-options h4 {
    overflow: hidden;
    white-space: nowrap;
  }
  .alaunius-detail-right-options>.alaunius-icons {
    margin: 0 0 0.3em 0;
  }
  .alaunius-icons {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 2em;
    align-self: center;
    justify-items: center;
    align-items: center;
    grid-gap: 0.3em;
  }
  .alaunius-bars-menu {
    position: absolute;
    z-index: 10000;
    top: 9em;
    width: 100%;
    padding: 0 1em;
    background: white;
    font-family: visuelt-light;
  }
  .alaunius-navigator, .alaunius-apps {
    justify-content: left;
    padding: 10px 0px;
    height: 100%;
  }
  .alaunius-apps {
    border-bottom: 1px solid black;
  }
  .alaunius-apps-item {
    justify-self: left;
    padding: 5px;
  }
  .alaunius-apps-item:active {
    background-color: var(--saito-cyber-black-wash);
  }
  .alaunius-navigator-item {
    padding: 5px;
  }
  #alaunius.create-button {
    min-width: unset;
  }
  .alaunius-message {
    padding: 1em 0;
  }
  .alaunius-navigator-bars-menu {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
  }
  #qrcode img {
    width: 66%;
    margin: 0.5em 16.6% 1em;
  }
}

.alaunius-appspace {
  padding-top: 10px;
}

.alaunius-header h3 {
  padding-top: 7px;
}

@media only screen and (min-width: 600px) {
  #alaunius.create-button {
    display: none;
  }
  #alaunius-bars-icon {
    display: none;
  }
}
