:root {
    --saito-red: rgb(247, 31, 61);
    --saito-skyline-grey: rgb(234, 234, 239);
    --saito-cyber-black: rgb(28, 28, 35);
    --saito-white: #ffffff;
}

html {
    --text-color-normal: var(--saito-cyber-black);
    --backround-general: var(--saito-white);
    --text-color-highlight: var(--saito-red);
}

html[data-theme='dark'] {
    --text-color-normal: var(--saito-skyline-grey);
    --backround-general: var(--saito-cyber-black);
    --text-color-highlight: var(--saito-red);
}

@font-face {
    font-family: 'visuelt-black';
    src: url('/fonts/visuelt-black.eot');
    src: url('/fonts/visuelt-black.eot?#iefix') format('embedded-opentype'), url('/fonts/visuelt-black.woff2') format('woff2'), url('/fonts/visuelt-black.woff') format('woff'), url('/fonts/visuelt-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'visuelt-light';
    src: url('/fonts/visuelt-light.eot');
    src: url('/fonts/visuelt-light.eot?#iefix') format('embedded-opentype'), url('/fonts/visuelt-light.woff2') format('woff2'), url('/fonts/visuelt-light.woff') format('woff'), url('/fonts/visuelt-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'visuelt-medium';
    src: url('/fonts/visuelt-medium.eot');
    src: url('/fonts/visuelt-medium.eot?#iefix') format('embedded-opentype'), url('/fonts/visuelt-medium.woff2') format('woff2'), url('/fonts/visuelt-medium.woff') format('woff'), url('/fonts/visuelt-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    position: fixed;
    overflow: hidden;
}

p {
    font-family: 'visuelt-light';
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--backround-general);
    color: var(--text-color-normal);
}

button, .button {
    padding: 1em;
    background-color: var(--saito-cyber-black);
    border-radius: 5px;
    color: white;
    font-size: 1em;
    font-family: 'visuelt-black';
}

input[type=text], input[type=number] {
    padding: 10px 5px;
    border-radius: 5px;
    font-size: 1em;
}

.header {
    display: grid;
    height: 9vh;
    padding: 0 1em;
    background: var(--saito-red);
    /* sus and still out to jury */
    position: fixed;
    width: 100%;
    top: 0%;
}

.header-home {
    grid-template-columns: auto 2em 3.2em;
    align-items: center;
}

.header-icon {
    color: white;
    align-self: center;
    justify-self: end;
}

#back-button {
    cursor: pointer;
}

.logo {
    height: 3em;
}

.main {
    display: grid;
    grid-gap: 1.5em;
    font-family: 'visuelt-black';
    padding: 1em;
    /* margin: 1em; */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
    /* Partially sus */
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    /* enables “momentum” (smooth) scrolling */
    /* sus and still out to jury */
    height: 83vh;
    margin-top: 9vh;
    margin-bottom: 9vh;

    margin-left: auto;
    margin-right: auto;

    max-width: 1200px;
}

.main::-webkit-scrollbar {
    /* WebKit */
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

.container {
    display: grid;
    grid-gap: 1em;
}

.welcome {
    grid-template-rows: 17.5em auto;
}

.create-button {
    background-color: var(--saito-red);
    cursor: pointer;
    color: white;
    border-radius: 100px;
    position: fixed;
    bottom: 10vh;
    right: 0.8em;
    width: 3.2em;
    height: 3.2em;
}

.wallet-container {
    font-family: 'visuelt-medium';
}

.wallet-container-row {
    display: flex;
    justify-content: space-between;
}

.module-container {
    display: flex;
    justify-content: space-around;
}

.icon-small {
    font-size: 1em;
}

.icon-med {
    font-size: 1.5em;
}

.icon-large {
    font-size: 2em;
}

.module-button {
    border: 2px solid var(--saito-cyber-black);
    text-align: center;
    border-radius: 10px;
    width: 25vw;
    padding: 0.75em 1.25em;
    text-align: center;
}

/** CHAT CSS **/

.chat {}

.chat-row {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: 2.5em auto 2.5em;
    border-bottom: 1px solid var(--saito-skyline-grey);
    padding: 10px 0px;
    height: 5em;
    cursor: pointer;
}

.chat-last-message {
    font-family: visuelt-light;
}

.chat-last-message-timestamp {
    font-family: visuelt-light;
}

/** CHAT ADD **/

.chat-add {
    display: grid;
    height: 22vh;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1em;
    align-self: end;
}

/** CHAT ROOM **/

.chat-room {}

.chat-room-header {
    grid-template-columns: 5.2em auto 2em 3.2em;
    align-items: center;
    color: white;
}

.chat-room-name {
    text-align: center;
    color: white;
    font-size: 1.25em;
}

.chat-room-content {
    display: grid;
    row-gap: 0.75em;
    padding-bottom: 1em;
}

.chat-room-message {
    display: grid;
    grid-gap: 0.5em;
    padding: 1em;
    max-width: 75%;
    border-radius: 5px;
}

.chat-message-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    color: darkgrey;
}

.chat-message-timestamp {
    margin-left: 1em;
}

.chat-room-message-others {
    background: var(--saito-skyline-grey);
    justify-self: left;
}

.chat-room-message-myself {
    background: var(--saito-cyber-black);
    color: white;
    justify-self: right;
}

.chat-room-footer {
    padding: 0 0 0 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-room-input {
    display: grid;
    grid-template-columns: auto 3em;
    align-items: center;
    width: 100%;
}

.chat-room-input > textarea {
    height: 2.75em;
    font-size: 1em;
    padding: 10px 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    resize: none;
}

.chat-room-submit-button {
    justify-self: center;
    background: var(--saito-red);
    padding: 7px 10px;
    color: white;
    border-radius: 100px;
    cursor: pointer;
}

/** ARCADE CSS **/

.arcade {
    grid-template-rows: 1.5em auto;
}

.arcade-content {
    overflow: scroll;
}

.games-table-header {
    display: grid;
    grid-template-columns: 85% 15%;
    align-items: center;
}

.game {
    margin-right: 1em;
    width: 88vw;
}

.gamelist {
    display: flex;
    overflow-x: scroll;
}

.arcade-start-game {
    margin-top: 1em;
    grid-gap: 1em;
}

.gameimage {
    text-align: center;
    border: 3px solid #888;
    cursor: pointer;
    max-height: 12em;
}

#options {
    display: grid;
    grid-row-gap: 0.5em;
    grid-template-columns: 1fr 1fr;
}

#options > select {
    border: 1px solid black;
    padding: 1em;
    border-radius: 5px;
    background: white;
}


/*.games-play-button {
    background-color: var(--saito-red);
    color: white;
    border-radius: 100px;
    position: fixed;
    bottom: 10vh;
    right: 3vw;
    width: 3.2em;
    height: 3.2em;
}*/

.games-table {
    /*display: grid;
    grid-gap: 5px;*/
}

.games-author {
    font-family: 'visuelt-light';
}

.games-row {
    display: grid;
    grid-template-columns: 2.5em auto 7em;
    border: 2px solid var(--saito-skyline-grey);
    padding: 10px;
    margin-top: 5px;
}

.games-content {
    display: grid;
    grid-gap: 0.25em;
}

.games-button {
    max-height: 3.5em;
    align-self: center;
}

.accept-button {}

.delete-button {
    max-height: 3.5em;
    align-self: center;
    background: var(--saito-red);
}

/** FORUM CSS **/

.forum {}

.forum-row {
    display: grid;
    grid-template-columns: 2.5em auto 1em;
    grid-column-gap: 1em;
    padding: 10px 0px;
    border-bottom: 1px solid var(--saito-skyline-grey);
}

.forum-meta-data {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.forum-author {
    font-family: visuelt-light;
}

.forum-channel {
    color: darkgrey;
}

.forum-comments {
    font-family: visuelt-medium;
    margin-top: 10px;
}

.forum-voting {
    display: grid;
    justify-items: center;
    max-height: 5em;
}

.forum-score {
    text-align: center;
}

/** FORUM ADD POST **/

#forum-add-post {
    display: grid;
    grid-gap: 0.5em;
}

#forum-add-post input[type="text"] {
    width: 100%;
}

#forum-add-post textarea {
    width: 100%;
    height: 220px;
    border: 1px solid darkgrey;
    border-radius: 3px;
    padding: 10px 7px;
    font-size: 0.9em;
}

#forum-toggle {
    background-color: var(--saito-skyline-grey);
    color: black;
}

/** FORUM DETAIL CSS **/

.forum-detail > section {
    padding: 10px 0px;
}

.forum-header > .forum-row {
    padding: 0px 0px 10px 0px;
    height: 5em;
}

#forum-detail-text {
    padding: 10px 0px;
    min-height: 15vh;
}

#forum-post-comment {
    display: grid;
    grid-gap: 1em;
}

#forum-comment-text-input {
    padding: 10px 7.5px;
    height: 20vh;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.forum-comment {
    display: grid;
    grid-template-columns: auto 1rem;
    row-gap: 1em;
}

.forum-comment > textarea {
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 10px 7px;
    grid-column: 1 / 3;
    height: 10em;
}

.forum-comment > button {
    grid-column: 1 / 3;
}

.forum-comment-content {
    display: grid;
    row-gap: 5px;
}

#forum-comments-table {
    display: grid;
    row-gap: 1.5em;
}

.forum-comment-buttons {
    font-size: 0.9em;
}

#forum-comment-text {
    padding: 5px 0px;
}

/** WALLET CSS **/

#qrcode {
    justify-self: center;
    border: 2px solid var(--saito-cyber-black);
    padding: 10px;
    border-radius: 5px;
}

.register-button {
    width: 100%;
    margin-top: 1em;
}

/** COMPONENTS CSS **/

/** FOOTER **/

.footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 8vh;
    border-top: 1px solid var(--saito-skyline-grey);
    font-family: visuelt-light;
    background: var(--backround-general);
    /* overscroll-behavior: none; */
}

/** NAV BAR **/

.nav-bar {
    display: flex;
    justify-content: space-between;
    font-family: visuelt-light;
    padding: 0 1em;
    color: var(--text-color-normal);
}

.nav-button {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 0.5em 0;
}

/** Dark Mode **/

/** SETTINGS **/

.settings {}

.settings-button-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1em;
    grid-gap: 0.25em;
}

.settings-peer-table {}

.settings-dns {
    margin: 1em 0em;
}

.settings-dns-table {
    display: grid;
    grid-gap: 0.5em;
    margin-top: 0.5em;
}

.settings-dns-row {
    display: flex;
    justify-content: space-between;
}

.settings-dns-row>div {
    font-family: visuelt-light;
}

#theme-mode i {
    float: right;
}

/** Email **/

.email-content {
    height: 78vh;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: 3em 3em auto 4em;
}

.email-message {
    display: grid;
    grid-template-columns: auto 3.5em;
    border-bottom: 1px solid var(--saito-skyline-grey);
    padding: 10px 0px;
}

.email-text {
    border: 1px solid black;
    padding: 5px;
    font-size: 1em;
}

.explorer-main {
    margin-top: 75px;
    padding: 0 10px;
    line-height: 1.6em;
    font-family: "visuelt-medium";
    height: 91vh;
    overflow: scroll;
    padding: 1em 12px;
}

.explorer-main table {
    border-spacing: 0;
}

.explorer-main table tr:hover {
    background: #bbbbbb;
}

.explorer-main td {
    padding: 10px 5px;
}

.explorer-main th {
    text-align: left;
}

.explorer-main a {
    text-decoration: underscore;
    color: var(--text-color-highlight);
    display: inline-block;
}

.explorer-main h4 {
    display: inline-block;
    min-width: 200px;
}

.explorer-main h3 {
    margin: 20px 0 10px 0;
}

.explorer-main i {
    margin: 0 10px;
}

li.jsontree_node {
    list-style: none;
}

.json, #block-list, .block_transactions_table {
    font-family: monospace;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #eee;
    padding: 10px;
    overflow: auto;
    width: 99%;
    max-width: 850px;
}

input[type=text] {
    height: 3em;
    width: 75%;
    margin-top: 1px;
}

a.button {
    color: var(--saito-white);
    text-decoration: none;
    margin-top: 10px;
}